/*------------- #ACCORDION-FAQS WP-B --------------*/


.olympus-theme.wpb-js-composer {
  .vc_tta.vc_general .vc_tta-panel-title > a {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #515365;
	color: var(--heading-font-color);

	.vc_tta-title-text {
	  font-size: 1.75rem;
	}
  }

  .vc_tta-color-white.vc_tta-style-flat:not(.vc_tta-o-no-fill) .vc_tta-panel-body {
	color: $body-font-color;
	color: var(--body-font-color);
  }

  .vc_tta-color-white.vc_tta-style-flat .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after,
  .vc_tta-color-white.vc_tta-style-flat .vc_active .vc_tta-panel-heading .vc_tta-controls-icon:before,
  .vc_tta-color-white.vc_tta-style-flat .vc_tta-controls-icon::after,
  .vc_tta-color-white.vc_tta-style-flat .vc_tta-controls-icon:before {
	border-color: $primary-color;
	border-color: var(--primary-accent-color);
  }

  .vc_tta.vc_general .vc_tta-panel {
	border-bottom: 1px solid $border-color;

	&:last-child {
	  border-bottom: none;
	}
  }

  .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading {
	background-color: transparent;
  }

  .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading:focus,
  .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading:hover {
	background-color: transparent;
  }

  .vc_tta-shape-rounded:not(.vc_tta-o-no-fill) .vc_tta-panel.vc_active .vc_tta-panel-body {
	margin-bottom: 60px;
  }
}


/*------------- #ACCORDION-FAQS ELEMENTOR --------------*/

.olympus-theme .elementor-widget-accordion .elementor-accordion {
  .elementor-accordion-item {
	border: none;
	border-bottom: 1px solid $border-color;
  }

  .elementor-tab-content {
	border-top: 0;
	margin-bottom: 60px;
	padding: 14px 20px;
  }

  .elementor-tab-title {
	padding: 50px 14px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
  }

  .elementor-accordion-title {
	font-weight: 300;
	font-size: 1.75rem;
	color: #666;
  }

  .elementor-active .elementor-accordion-icon,
  .elementor-active .elementor-accordion-title {
	color: #ff5e3a;
	color: var(--primary-accent-color);
  }

  .elementor-accordion-icon,
  .elementor-accordion-title {
	color: #9a9fbf;
	color: var(--icon-color);
  }

  .elementor-accordion-icon {
	font-size: 18px;
  }

  .elementor-tab-content {
	color: #888da8;
	color: var(--body-font-color);
	font-size: .875rem;
  }
}


/*================= Responsive Mode ============*/


@media (max-width: 1200px) {
  .olympus-theme.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title > a {
	padding-top: 20px;
	padding-bottom: 20px;
  }

  .olympus-theme .elementor-widget-accordion .elementor-accordion .elementor-tab-title {
	padding: 20px 14px;
  }

  .olympus-theme .elementor-widget-accordion .elementor-accordion .elementor-tab-content {
	margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .olympus-theme .elementor-widget-accordion .elementor-accordion .elementor-accordion-icon {
	font-size: 14px;
  }
}

@media (max-width: 600px) {

  .olympus-theme.wpb-js-composer .vc_tta.vc_general .vc_tta-panel-title > a {
	padding-top: 10px;
	padding-bottom: 10px;

	.vc_tta-title-text {
	  font-size: 1.25rem;
	}
  }

  .olympus-theme .elementor-widget-accordion .elementor-accordion .elementor-accordion-title {
	font-size: 1.05rem;
  }

  .olympus-theme .elementor-widget-accordion .elementor-accordion .elementor-tab-title {
	padding: 10px;
  }

  .olympus-theme .elementor-widget-accordion .elementor-accordion .elementor-tab-content {
	padding: 10px;
  }
}