/*------------- #EVENT-ITEM --------------*/



.event-item {
  padding: 30px;
  border-bottom: 1px solid $border-color;

  &:last-child {
	border-bottom: 0;
  }

  .place {
	font-size: 12px;
  }

  .description {
	max-width: 260px;
	font-size: 12px;
	margin-bottom: 0;
  }

}

.date-event {
  text-align: center;

  & > * {
	display: block;
	line-height: 1;
  }

  .olymp-small-calendar-icon {
	width: 14px;
	height: 18px;
  }

  i {
	margin: 0 auto 5px;
	color: #c2c5d9;
  }

  .day {
	font-size: 14px;
	color: #515365;
	color: var(--heading-font-color);
	font-weight: 700;
	margin-bottom: 3px;
  }

  .month {
	font-size: 9px;
	text-transform: uppercase;
  }
}

.event-author {
  .author-thumb {
	margin-right: 12px;
  }

  .author-name {
	margin-bottom: 0;
  }

  time {
	font-size: 11px;
	display: block;
  }
}

.place i,
.place svg {
  margin-right: 10px;
  fill: #c6c9db;
  color: #c6c9db;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.place {
  font-size: 11px;
}

.no-past-events {
  color: #d7d9e5;
  padding: 65px 30px;
  position: relative;

  .control-block-button {
	right: 25px;
	top: -25px;
	z-index: 5;
  }

  .btn-control i,
  .btn-control svg {
	fill: $white-color;
	color: $white-color;
	margin-bottom: 0;
	width: 20px;
	height: 20px;
	font-size: 20px;
  }

  a:hover {
	color: $breez;
	font-weight: 500;
  }

  margin: 0 auto;
  text-align: center;

  svg, i {
	fill: #d7d9e5;
	color: #d7d9e5;
	margin-bottom: 20px;
  }

  span {
	font-size: 14px;
	display: block;
  }
}

.event-item-table {
  width: 100%;

  td {
	padding: 25px 12px;

	&:first-child {
	  padding-left: 30px;
	}

	&:last-child {
	  padding-right: 30px;
	}
  }

  .add-event {
	text-align: right;
  }

  thead {
	border-bottom: 1px solid $border-color;

	th {
	  font-size: 9px;
	  font-weight: 700;
	  padding: 12px;

	  &:first-child {
		padding-left: 25px;
	  }

	  &:last-child {
		padding-right: 25px;
	  }
	}
  }

  .author-date {
	a {
	  color: $breez;
	}
	.author-name {
	  color: #515365;
	  color: var(--heading-font-color);
	}
  }
}

.event-item-table-fixed-width {

  .author-date {
	font-size: 12px;

	.author-name {
	  font-size: 12px;
	}
  }

  .event-item .btn {
	display: block;

	& + .btn {
	  margin-top: 8px;
	}
  }

  .date-event i {
	margin: 0 10px 0 0;
	font-size: 20px;
  }
}



/*================= Responsive Mode ============*/


@media (max-width: 640px) {
  .event-item {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 10px;

	.description {
	  max-width: 100%;
	}

	.friends-harmonic {
	  display: inline-block;
	}

	 .add-event {
	  text-align: center;
	}
  }

  .event-item-table td {
	padding: 12px;
  }

  .event-item-table td:last-child {
	padding-right: 12px;
  }

  .event-item-table td:first-child {
	padding-left: 12px;
  }

  .date-event.align-left {
	text-align: center;
  }

  .event-item-table thead {
	display: none;
  }
}
