/*------------- #NOTIFICATION --------------*/


.notification-list {
  margin-bottom: 0;

  .selectize-dropdown-content > *, li {
	padding: 25px;
	border-bottom: 1px solid $border-color;
	display: block;
	position: relative;
	transition: all .3s ease;
	text-align: left;

	&.btn {
	  padding: 0.5rem 1.7rem;
	  display: inline-block;
	  margin: 15px auto;
	}

	& > * {
	  margin-bottom: 0;
	  display: inline-block;
	  vertical-align: middle;
	}

	&:hover:not(a.btn) {
	  background-color: #fafbfd;
	}

	&:hover {
	  .more {
		opacity: 1;
	  }
	}

	&.un-read {
	  background-color: #f7f9fc;

	  .notification-icon {
		color: #9da2c1;
		fill: #9da2c1;
	  }
	}

  }

  .selectize-dropdown-content > * {
	cursor: pointer;

	&:last-child {
	  border-bottom: none;
	}
  }

  .notification-friend {
	display: inline-block;
  }

  .comment-photo {
	margin: 30px 0 0 60px;
	max-width: 280px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;

	span {
	  background-color: #f5f7fb;
	  padding: 0 15px;
	}
  }

  .author-thumb {
	height: 40px;
	width: 40px;
  }

  .notification-event {
	padding-left: 15px;
  }

  .notification-date {
	font-size: 11px;
	display: block;
	margin-top: 5px;
	color: $body-font-color;
	color: var(--body-font-color);
  }

  .notification-link {
	color: $primary-color;
	color: var(--primary-accent-color);
  }

  .notification-icon {
	color: #d7d9e5;
	fill: #d7d9e5;
	margin-top: 10px;

	svg, i {
	  width: 22px;
	  height: 20px;
	  font-size: 20px;
	}
  }

  .more {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 10px;
	color: #d6d9e6;
	opacity: 0;

	i + i {
	  margin-left: 5px;
	}

	svg + i {
	  margin-left: 5px;
	}

	i + svg {
	  margin-left: 5px;
	}

	svg + svg {
	  margin-left: 5px;
	}
  }

  &.friend-requests {
	li {
	  display: flex;
	  align-items: flex-start;

	  .notification-icon {
		margin-left: auto;
	  }
	}
  }
}

.selectize-dropdown {
  &.ps {
	max-height: 50vh;

	& > .ps__rail-y,
	&:hover > .ps__rail-y {
	  display: none;
	}
  }

  .selectize-dropdown-content > * {
	padding: 15px 20px;
	display: flex;
	align-items: center;

	.author-thumb {
	  min-height: 40px;
	  min-width: 40px;
	}
  }

  .ui-block-title.ui-block-title-small .title {
	font-size: 14px;
	color: #515365;
	color: var(--heading-font-color);
  }
}

.selectize-dropdown-content {
  text-align: center;
  height: 100%;
  max-height: 100%;

  .author-thumb img {
	height: 100%;
	width: 100%;
	max-width: 100%;
  }

  .chat-message-item {
	color: $body-font-color;
	color: var(--body-font-color);
  }
}

.notification-friend {
  margin-bottom: 0;
}

.chat-message {
  .notification-event {
	font-size: 12px;
  }

  .notification-friend {
	display: block;
  }

  li > * {
	vertical-align: top;
  }

  .full-block {
	padding: 0;
  }

  .author-thumb {
	height: 36px;
	width: 36px;
  }

  li {
	&.chat-group {
	  .author-thumb  {
		border-radius: 0;

		img {
		  width: 16px;
		  height: 16px;
		  float: left;
		  margin-right: 2px;
		  margin-bottom: 2px;
		  border-radius: 100%;
		  overflow: hidden;
		}
	  }

	  .last-message-author {
		color: #515365;
  color: var(--heading-font-color);
		font-weight: 700;
	  }
	}

	&.message-unread {
	  background-color: #f7f9fc;

	  .notification-icon {
		fill: #9a9fbf;
		fill: var(--icon-color);
	  }
	}
  }
}

.icon-status {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 8px;

  &.online {
	background-color: #38a9ff;
	background-color: var(--secondary-accent-color);
  }

  &.away {
	background-color: #ffd52f;
  }

  &.disconected {
	background-color: #ff4f60;
  }

  &.status-invisible {
	background-color: #cbdfee;
  }
}

.friend-requests {

  .notification-icon {
	margin-top: 0;
  }

  .notification-friend {
	display: block;
  }

  .accepted {
	.notification-friend {
	  display: inline-block;
	}

	.notification-link {
	  color: #00b7ff;
	}

	.notification-icon {
	  margin-top: 10px;
	}
  }

  .chat-message-item {
	font-size: 12px;
  }

}

.label-avatar {
  position: absolute;
  top: -1px;
  right: -4px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: $white-color;
  font-size: 10px;
  font-weight: 700;
  border-radius: 100%;
  overflow: hidden;
}


/*------------- Responsive mode styles --------------*/

@media (max-width: 980px) {
  .col-xl-5.col-lg-6.col-md-12.col-sm-12.col-xs-12.padding-r-0 {
	padding-right: 15px;
  }

  .col-xl-7.col-lg-6.col-md-12.col-sm-12.col-xs-12.padding-l-0 {
	padding-left: 15px;
  }

  .selectize-dropdown.ps {
	max-height: calc(100vh - 100px);
  }
}

@media (max-width: 768px) {
  .notification-list li {
	padding: 15px 10px;
  }
}

@media (max-width: 480px) {
  .add-options-message .options-message + .options-message {
	margin-left: 15px;
  }

  .add-options-message button {
	float: none;
	margin-left: 0;
	display: block;
	margin-top: 10px;
  }

  .add-options-message button + button {
	margin-right: 0;
  }
}