/*------------- #SOCIALS --------------*/

.socials {
  padding: 0;

  i, svg {
	transition: all .3s ease;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em;
  }

  li {
	display: inline-block;

	a {
	  color: #9a9fbf;
	  color: var(--icon-color);

	  &:hover {
		color: $primary-color;
		color: var(--primary-accent-color);
	  }
	}

	& + li {
	  margin-left: 20px;
	}
  }
}

.socials--colored-bg .social-item {
  &.olympus {
	background-color: $primary-color;
	background-color: var(--primary-accent-color);
  }

  &.rss {
	background-color: #f4b459;
  }

  &.mail {
	background: #996DD1;
  }

  &.pinterest {
	background: #cc2127;
  }

  &.google-plus {
	background: #dd4b39;
  }

  &.facebook {
	background: #3b5998;
  }

  &.twitter {
	background: #55acee;
  }

  &.amazon {
	background-color: #F69B06;
  }

  &.behance {
	background-color: #2D2D2D;
  }

  &.bing {
	background-color: #FFA616;
  }

  &.creative-market {
	background-color: #8DA741;
  }

  &.deviantart {
	background-color: #1B1B1B;
  }

  &.dribbble {
	background-color: #f74881;
  }

  &.dropbox {
	background-color: #0BA4E0;
  }

  &.envato {
	background-color: #6D9C3E;
  }

  &.flickr {
	background-color: #26A9E1;
  }

  &.instagram {
	background-color: #E75351;
  }

  &.kickstarter {
	background-color: #14E06E;
  }

  &.linkedin {
	background-color: #4A8F9E;
  }

  &.medium {
	background-color: #00E56B;
  }

  &.periscope {
	background-color: #3FA4C4;
  }

  &.quora {
	background-color: #F85F62;
  }

  &.reddit {
	background-color: #F05825;
  }

  &.shutterstock {
	background-color: #008EC0;
  }

  &.skype {
	background-color: #00AAF1;
  }

  &.snapchat {
	background-color: #FFED45;
  }

  &.soundcloud {
	background-color: #FF3300;
  }

  &.spotify {
	background-color: #1ED760;
  }

  &.trello {
	background-color: #0079BF;
  }

  &.tumblr {
	background-color: #36465D;
  }

  &.vimeo {
	background-color: #1AB7EA;
  }

  &.vk {
	background-color: #6383A8;
  }

  &.whatsapp {
	background-color: #25D366;
  }

  &.wikipedia {
	background-color: #000000;
  }

  &.wordpress {
	background-color: #21759B;
  }

  &.youtube {
	background-color: #CD201F;
  }

  &.fiverr {
	background-color: #2e6a3c;
  }
}

.svg-inline-inside {
  svg, i {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em;
	margin-right: 10px;
  }
}

.socials--round {
  .social-item {
	width: 34px;
	height: 34px;
	border-radius: 100%;
	color: $white-color;
	fill: $white-color;
	display: block;
	position: relative;
	opacity: .9;

	&:hover {
	  color: $white-color;
	  opacity: 1;
	}
  }

  svg, i {
	font-size: 15px;
	height: 15px;
	width: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
}

.socials-shared {
  display: flex;
  justify-content: center;
  padding: 60px;
  flex-wrap: wrap;

  .social-item {
	padding: 15px 50px;
	margin: 5px;
	margin-bottom: 0;
	line-height: 1;

	i {
	  font-size: 15px;
	  margin-right: 0;
	}

	.crumina-icon {
	  width: 15px;
	  height: 15px;
	  fill: $white-color;
	}
  }
}

.social_share_icons {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
  bottom: 100%;
  top: auto;
  width: auto;

  &.more-dropdown {
	display: flex;
	right: -40px;
	border: 1px solid $border-color;
	margin-bottom: 0;
  }

  button {
	background-color: transparent;
	box-shadow: none;
	border: none;
	transition: all .3s ease;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;

	svg {
	  transition: inherit;
	  fill: #9a9fbf;
	  fill: var(--icon-color);
	  width: 20px;
	  height: 20px;
	}
  }

  li {
	transition: all .3s ease;
	border-right: 1px solid $border-color;

	&:last-child {
	  border-right: 0;
	}

	&:hover {
	  box-shadow: inset 0 -40px 0 0 $primary-color;
	  box-shadow: inset 0 -40px 0 0 var(--primary-accent-color);

	  button svg {
		fill: $white-color;
	  }
	}
  }
}

.comments-shared .post-add-icon.more {
  padding: 10px 0;
}

/*================= Responsive Mode ============*/

@media (max-width: 768px) {

  .socials-shared .social-item {
	padding: 10px 30px;
  }
}

@media (max-width: 560px) {
  .socials-shared {
	padding: 10px;
  }
}