/*------------- #WELCOME BACK --------------*/


.user-welcomeback {
  text-align: center;
  overflow: hidden;

  .featured-background {
	height: 80px;
	background-size: cover;
	background-color: $purple;
  }

  .author-thumb {
	display: inline-block;
	border-radius: 100%;
	border: 4px solid $white-color;
	overflow: hidden;
	width: 98px;
	height: 98px;
	background-color: #FDFBEE;
	margin-top: -50px;
	margin-bottom: 15px;

	img {
	  max-width: 100%;
	  width: 100%;
	  height: auto;
	}
  }

  .user-active {
	border-bottom: 1px solid $border-color;
	border-top: 1px solid $border-color;
  }

  .author-content {
	font-weight: 700;
	color: $secondary-color;
	margin-bottom: 20px;

	.author-name {
	  color: $primary-color;
	  color: var(--primary-accent-color);
	}
  }

  .you-can-do {
	margin: 15px auto;
	text-transform: uppercase;
	font-size: 9px;
  }

  .links {
	margin: 0 -2px 0 -1px;
	display: flex;
	flex-wrap: wrap;
  }

  .link-item {
	display: inline-flex;
	flex-direction: column;
	width: 50%;
	border: 1px solid $border-color;
	padding: 40px;
	align-items: center;
	margin-bottom: -1px;
	margin-right: -1px;

	.link-item-icon {
	  width: 20px;
	  height: 20px;
	  margin-bottom: 10px;
	  fill: #9a9fbf;
	  fill: var(--icon-color);
	  color: #9a9fbf;
	  color: var(--icon-color);
	  transition: all .3s ease;
	}

	i.link-item-icon {
	  font-size: 20px;
	}

	img.link-item-icon {
	  height: auto;
	}

	.title {
	  font-size: 12px;
	  color: $secondary-color;
	  font-weight: 700;
	  transition: all .3s ease;
	}

	.sup-title {
	  font-size: 10px;
	  color: $body-font-color;
	  color: var(--body-font-color);

	  & > * {
		margin-bottom: 0;
		font-size: 10px;
		color: $body-font-color;
		color: var(--body-font-color);
	  }
	}

	&:hover {
	  .link-item-icon {
		color: $primary-color;
		fill: $primary-color;
		fill: var(--primary-accent-color);
	  }

	  .title {
		color: $primary-color;
		color: var(--primary-accent-color);
	  }
	}
  }
}

/*================= Responsive Mode ============*/

@media (max-width: 768px) {
  .user-welcomeback .link-item {
	padding: 20px;
  }
}

@media (max-width: 460px) {
  .user-welcomeback .link-item {
	padding: 10px;
  }
}