/*------------- #YOUR-PROFILE--------------*/


.profile-settings-open {
  cursor: pointer;
  position: absolute;
  left: 100%;
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  background-color: #fff;
  -webkit-box-shadow: 1px 0 3px rgba(0,0,0,.2);
  box-shadow: 1px 0 3px rgba(0,0,0,.2);
  border-radius: 0 100px 100px 0;
  line-height: 1;
  padding: 20px 8px 20px 8px;
  font-size: 20px;
}



/*------------- Responsive mode styles --------------*/

@media (max-width: 768px) {
  .profile-settings-responsive {
	visibility: visible;
	opacity: 1;
  }

  .responsive-display-none {
	display: none;
  }
}