@font-face {
  font-family: 'olympus';
  src: url("../fonts/olympus-icons/olympus.woff2") format("woff2"), url("../fonts/olympus-icons/olympus.woff") format("woff"), url("../fonts/olympus-icons/olympus.ttf") format("truetype"), url("../fonts/olympus-icons/olympus.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

[class^="olympus-icon-"], [class*=" olympus-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'olympus' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.olympus-icon-upload:before {
  content: "\e92f"; }

.olympus-icon-instagram-grey:before {
  content: "\e92e"; }

.olympus-icon-Account-Icon:before {
  content: "\e900"; }

.olympus-icon-Active-Members-Icon:before {
  content: "\e901"; }

.olympus-icon-add-friend1:before {
  content: "\e902"; }

.olympus-icon-add-friend3:before {
  content: "\e903"; }

.olympus-icon-Addresses-Icon:before {
  content: "\e904"; }

.olympus-icon-Add-to-Conversation-Icon:before {
  content: "\e905"; }

.olympus-icon-Admin-Shield-Icon:before {
  content: "\e906"; }

.olympus-icon-Albums-Icon:before {
  content: "\e907"; }

.olympus-icon-Back-to-Top-Arrow-Icon:before {
  content: "\e908"; }

.olympus-icon-Badge-Icon:before {
  content: "\e909"; }

.olympus-icon-Billing-Details-Icon:before {
  content: "\e90a"; }

.olympus-icon-Block-from-Chat-Icon:before {
  content: "\e90b"; }

.olympus-icon-Blog-Icon:before {
  content: "\e90c"; }

.olympus-icon-Blog-Main-Icon:before {
  content: "\e90d"; }

.olympus-icon-Bookmarks-Icon:before {
  content: "\e90e"; }

.olympus-icon-Calendar-Icon:before {
  content: "\e90f"; }

.olympus-icon-Camera-Icon:before {
  content: "\e910"; }

.olympus-icon-Chat---Messages-Icon:before {
  content: "\e911"; }

.olympus-icon-Checked-Calendar-Icon:before {
  content: "\e912"; }

.olympus-icon-Check-Icon:before {
  content: "\e913"; }

.olympus-icon-Checkout-Icon:before {
  content: "\e914"; }

.olympus-icon-Clear---Windy-Icon-Small:before {
  content: "\e915"; }

.olympus-icon-Clock-Icon:before {
  content: "\e916"; }

.olympus-icon-Close-Icon:before {
  content: "\e917"; }

.olympus-icon-Cloudy-Icon:before {
  content: "\e918"; }

.olympus-icon-Cloudy-Icon-Small:before {
  content: "\e919"; }

.olympus-icon-Comment-Icon:before {
  content: "\e91a"; }

.olympus-icon-Computer-Icon:before {
  content: "\e91b"; }

.olympus-icon-Cupcake-Icon:before {
  content: "\e91c"; }

.olympus-icon-Day-Calendar-Icon:before {
  content: "\e91d"; }

.olympus-icon-Downloads-Icon:before {
  content: "\e91e"; }

.olympus-icon-Dropdown-Arrow-Icon:before {
  content: "\e91f"; }

.olympus-icon-Edit-Icon:before {
  content: "\e920"; }

.olympus-icon-follow-icon:before {
  content: "\e921"; }

.olympus-icon-Forum-Icon:before {
  content: "\e922"; }

.olympus-icon-Forums-Icon:before {
  content: "\e923"; }

.olympus-icon-Friendships-Requests-Icon:before {
  content: "\e924"; }

.olympus-icon-Fullscreen-Icon:before {
  content: "\e925"; }

.olympus-icon-Groups-Icon:before {
  content: "\e926"; }

.olympus-icon-Happy-Face-Icon:before {
  content: "\e927"; }

.olympus-icon-Happy-Faces-Icon:before {
  content: "\e928"; }

.olympus-icon-Happy-Sticker-Icon:before {
  content: "\e929"; }

.olympus-icon-Headphones-Icon:before {
  content: "\e92a"; }

.olympus-icon-Heart-Icon:before {
  content: "\e92b"; }

.olympus-icon-Home-Icon:before {
  content: "\e92c"; }

.olympus-icon-Info-Icon:before {
  content: "\e92d"; }

.olympus-icon-Invitations---Send-Invites-Icon:before {
  content: "\e931"; }

.olympus-icon-Join-The-Group-Icon:before {
  content: "\e932"; }

.olympus-icon-Leave-The-Group-Icon:before {
  content: "\e933"; }

.olympus-icon-Like-Post-Icon:before {
  content: "\e934"; }

.olympus-icon-Link-Icon:before {
  content: "\e935"; }

.olympus-icon-Login-Icon:before {
  content: "\e936"; }

.olympus-icon-logo-OL:before {
  content: "\e937"; }

.olympus-icon-Logout-Icon:before {
  content: "\e938"; }

.olympus-icon-Magnifying-Glass-Icon:before {
  content: "\e939"; }

.olympus-icon-Manage-Widgets-Icon:before {
  content: "\e93a"; }

.olympus-icon-Media-Icon:before {
  content: "\e93b"; }

.olympus-icon-Members-Newsfeed-Icon:before {
  content: "\e93c"; }

.olympus-icon-Menu-Icon:before {
  content: "\e93d"; }

.olympus-icon-Microphone-Icon:before {
  content: "\e93e"; }

.olympus-icon-Minimize-Screen-Icon:before {
  content: "\e93f"; }

.olympus-icon-Month-Calendar-Icon:before {
  content: "\e940"; }

.olympus-icon-Multimedia-Icon:before {
  content: "\e941"; }

.olympus-icon-mute-emoticon-square-face:before {
  content: "\e942"; }

.olympus-icon-Newsfeed-Icon:before {
  content: "\e943"; }

.olympus-icon-Next-Song-Icon:before {
  content: "\e944"; }

.olympus-icon-No-Sound-Icon:before {
  content: "\e945"; }

.olympus-icon-notification-icon-grey:before {
  content: "\e946"; }

.olympus-icon-Online-Icon:before {
  content: "\e947"; }

.olympus-icon-Open-Playlist-Icon:before {
  content: "\e948"; }

.olympus-icon-Orders-Icon:before {
  content: "\e949"; }

.olympus-icon-Partly-Sunny-Icon:before {
  content: "\e94a"; }

.olympus-icon-Pause-Icon:before {
  content: "\e94b"; }

.olympus-icon-Payment-Methods-Icon:before {
  content: "\e94c"; }

.olympus-icon-Phone-Icon:before {
  content: "\e94d"; }

.olympus-icon-Photo-Icon:before {
  content: "\e94e"; }

.olympus-icon-Pin-Icon:before {
  content: "\e94f"; }

.olympus-icon-Play-Icon-Big:before {
  content: "\e950"; }

.olympus-icon-Plus-Icon:before {
  content: "\e951"; }

.olympus-icon-Points-Icon:before {
  content: "\e952"; }

.olympus-icon-Popup-Left-Arrow-1:before {
  content: "\e953"; }

.olympus-icon-Popup-Right-Arrow-1:before {
  content: "\e954"; }

.olympus-icon-Portfolio-Icon:before {
  content: "\e955"; }

.olympus-icon-Previous-Song-Icon:before {
  content: "\e956"; }

.olympus-icon-Private-Icon:before {
  content: "\e957"; }

.olympus-icon-Project-Icon:before {
  content: "\e958"; }

.olympus-icon-Public-Icon:before {
  content: "\e959"; }

.olympus-icon-Quote-Icon:before {
  content: "\e95a"; }

.olympus-icon-Rain-Icon:before {
  content: "\e95b"; }

.olympus-icon-Read-Icon:before {
  content: "\e95c"; }

.olympus-icon-Register-Icon:before {
  content: "\e95d"; }

.olympus-icon-Remove-Playlist-Icon:before {
  content: "\e95e"; }

.olympus-icon-Repeat-Icon:before {
  content: "\e95f"; }

.olympus-icon-Rss-Icon:before {
  content: "\e960"; }

.olympus-icon-Save-Playlist-Icon:before {
  content: "\e961"; }

.olympus-icon-Services---Manage-Icon:before {
  content: "\e962"; }

.olympus-icon-Settings-Icon:before {
  content: "\e963"; }

.olympus-icon-Settings-V2-Icon:before {
  content: "\e964"; }

.olympus-icon-Share-Icon:before {
  content: "\e965"; }

.olympus-icon-Shop-Bag-Icon:before {
  content: "\e966"; }

.olympus-icon-Shuffle-Icon:before {
  content: "\e967"; }

.olympus-icon-Skills-Icon:before {
  content: "\e968"; }

.olympus-icon-Small-Calendar-Icon:before {
  content: "\e969"; }

.olympus-icon-Snow-Icon:before {
  content: "\e96a"; }

.olympus-icon-Snow-Icon-Small:before {
  content: "\e96b"; }

.olympus-icon-Sound-Icon:before {
  content: "\e96c"; }

.olympus-icon-Speech-Balloon-Icon:before {
  content: "\e96d"; }

.olympus-icon-Star-Icon:before {
  content: "\e96e"; }

.olympus-icon-Stats-Icon:before {
  content: "\e96f"; }

.olympus-icon-Status-Icon:before {
  content: "\e970"; }

.olympus-icon-Storm-Icon:before {
  content: "\e971"; }

.olympus-icon-Storms-Icon-Small:before {
  content: "\e972"; }

.olympus-icon-Strong-Winds-Icon:before {
  content: "\e973"; }

.olympus-icon-Subscriptions-Icon:before {
  content: "\e974"; }

.olympus-icon-Sunny-Icon:before {
  content: "\e975"; }

.olympus-icon-Tag---Mention-Icon:before {
  content: "\e976"; }

.olympus-icon-three-dots-icon:before {
  content: "\e977"; }

.olympus-icon-Thunder-Icon:before {
  content: "\e978"; }

.olympus-icon-Topics-Started---Paper-Icon:before {
  content: "\e979"; }

.olympus-icon-track-icon:before {
  content: "\e97a"; }

.olympus-icon-Trashcan-Iicon:before {
  content: "\e97b"; }

.olympus-icon-Trophy-Icon:before {
  content: "\e97c"; }

.olympus-icon-unfriend:before {
  content: "\e97d"; }

.olympus-icon-Unread-Icon:before {
  content: "\e97e"; }

.olympus-icon-upload-icon:before {
  content: "\e97f"; }

.olympus-icon-User-Icon:before {
  content: "\e980"; }

.olympus-icon-verified-icon:before {
  content: "\e981"; }

.olympus-icon-Verified-Users-Icon:before {
  content: "\e982"; }

.olympus-icon-Video-Settings-Icon:before {
  content: "\e983"; }

.olympus-icon-Weather-Icon:before {
  content: "\e984"; }

.olympus-icon-weather-refresh-icon:before {
  content: "\e985"; }

.olympus-icon-Week-Calendar-Icon:before {
  content: "\e986"; }
