/*------------- #VARIABLES --------------*/
/*------------- #PLUGINS --------------*/
/*------------- #VARIABLES --------------*/
/*!
 * Bootstrap-select v1.11.0 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2016 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */
select.bs-select-hidden,
select.selectpicker {
  display: none !important; }

.bootstrap-select {
  width: 220px \0;
  /*IE9 and below*/ }

.bootstrap-select.show .dropdown-menu {
  display: block; }

.bootstrap-select li.hidden {
  display: none !important; }

.bootstrap-select li.selected a {
  background: #ff5e3a;
  background: var(--primary-accent-color);
  color: white; }

.bootstrap-select li.selected a:hover {
  opacity: .9; }

.bootstrap-select > .dropdown-toggle {
  width: 100%;
  z-index: 1;
  background-color: transparent;
  border: 1px solid #e6ecf5;
  border-radius: 0.25rem;
  padding: 1.3rem 1.1rem 1.1rem;
  margin: 0 0 3px 0;
  float: none;
  line-height: 1; }
  .bootstrap-select > .dropdown-toggle:hover {
    background-color: transparent;
    border-color: #e6ecf5; }

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #464a4c; }

.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none; }

.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2; }

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
  border-color: #b94a48; }

.bootstrap-select.fit-width {
  width: auto !important; }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 220px; }

.bootstrap-select .dropdown-toggle:focus {
  outline: none; }

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none; }

.label-floating .bootstrap-select.form-control {
  padding: 0; }

.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%; }

.bootstrap-select.form-control.input-group-btn {
  z-index: auto; }

.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
  border-radius: 0; }

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
  float: none;
  display: inline-block;
  margin-left: 0; }

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right; }

.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
  margin-left: 1px; }

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0; }

.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%; }

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed; }

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important; }

.bootstrap-select.btn-group.bs-container {
  position: absolute;
  height: 0 !important;
  padding: 0 !important; }

.bootstrap-select.btn-group.bs-container .dropdown-menu {
  z-index: 1060; }

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
  color: #515365;
  color: var(--heading-font-color);
  font-weight: normal;
  white-space: nowrap;
  padding: 0 15px 0 0;
  text-overflow: ellipsis; }

.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle; }

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
  width: 100%; }

.bootstrap-select.btn-group .dropdown-menu {
  margin-left: 0;
  min-width: 100%;
  padding: 0;
  box-sizing: border-box; }

.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none; }

.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0.15); }

.bootstrap-select.btn-group .dropdown-menu li.active small {
  color: #fff; }

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed; }

.bootstrap-select.btn-group .dropdown-menu li a {
  padding: 10px 1.5rem;
  color: #888da8;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.bootstrap-select.btn-group .dropdown-menu li.selected a {
  color: #fff; }

.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em; }

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none; }

.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block; }

.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em; }

.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  box-sizing: border-box; }

.bootstrap-select.btn-group .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap; }

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static; }

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 12px; }

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px; }

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1061; }

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none; }

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none; }

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  bottom: auto;
  top: -3px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0; }

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  bottom: auto;
  top: -3px;
  border-top: 6px solid white;
  border-bottom: 0; }

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto; }

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto; }

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before,
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block; }

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px; }

.bs-actionsbox {
  width: 100%;
  box-sizing: border-box; }

.bs-actionsbox .btn-group button {
  width: 50%; }

.bs-donebutton {
  float: left;
  width: 100%;
  box-sizing: border-box; }

.bs-donebutton .btn-group button {
  width: 100%; }

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px; }

.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none; }

.show > .btn-secondary.dropdown-toggle {
  background-color: transparent;
  border-color: #e6ecf5; }

.dropdown-toggle::after {
  border-top-color: #888da8;
  right: 20px;
  position: relative; }

.form-group.label-floating .bootstrap-select.btn-group .dropdown-toggle .filter-option {
  top: 5px;
  position: relative; }

.form-group.label-floating.is-select label.control-label {
  top: 8px;
  font-size: 11px;
  line-height: 1.42857; }

.bootstrap-select.style-2 > .dropdown-toggle {
  border: none;
  border-radius: 0;
  padding: 10px 15px 10px 40px;
  line-height: 1;
  margin-bottom: 7px; }

.bootstrap-select.style-2 > .dropdown-toggle:after {
  display: none; }

.bootstrap-select.style-2 .dropdown-menu {
  margin-top: 0;
  border: 1px solid #e6ecf5;
  box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
  overflow: visible !important; }

.bootstrap-select.style-2 .bs-searchbox {
  padding: 0; }

.glyphicon-ok:before {
  content: "\f00c";
  font-family: 'Font Awesome 5 Free';
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 600; }

.bootstrap-select.style-2 li.selected a {
  background-color: transparent;
  color: #515365;
  color: var(--heading-font-color); }

.bootstrap-select.style-2 .form-control {
  border: none;
  border-bottom: 1px solid #e6ecf5;
  border-radius: 0; }

.bootstrap-select.without-border.form-control {
  width: 170px;
  float: right;
  margin-top: 2px; }

.bootstrap-select.without-border .dropdown-toggle::after {
  border-top: 0.4em solid #888da8;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent; }

.bootstrap-select.without-border > .dropdown-toggle {
  border: none;
  padding: 0;
  margin-bottom: 0;
  font-size: 9px; }

.bootstrap-select.without-border.btn-group .dropdown-toggle .filter-option {
  font-weight: 700;
  text-align: right;
  padding-right: 30px; }

.bootstrap-select.without-border .form-group {
  margin-bottom: 0; }

/* perfect-scrollbar v1.5.0 */
/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto; }

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute; }

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent; }

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6; }

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: #eee;
  opacity: 0.9; }

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute; }

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: #999;
  height: 11px; }

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #999;
  width: 11px; }

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important; } }

.transition-none {
  transition-property: none; }

.transition-all {
  transition-property: all; }

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; }

.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke; }

.transition-opacity {
  transition-property: opacity; }

.transition-shadow {
  transition-property: box-shadow; }

.transition-transform {
  transition-property: transform; }

.duration-75 {
  transition-duration: 75ms; }

.duration-100 {
  transition-duration: 100ms; }

.duration-150 {
  transition-duration: 150ms; }

.duration-200 {
  transition-duration: 200ms; }

.duration-300 {
  transition-duration: 300ms; }

.duration-500 {
  transition-duration: 500ms; }

.duration-700 {
  transition-duration: 700ms; }

.duration-1000 {
  transition-duration: 1000ms; }

.ease-linear {
  transition-timing-function: linear; }

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1); }

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

.delay-75 {
  transition-delay: 75ms; }

.delay-100 {
  transition-delay: 100ms; }

.delay-150 {
  transition-delay: 150ms; }

.delay-200 {
  transition-delay: 200ms; }

.delay-300 {
  transition-delay: 300ms; }

.delay-500 {
  transition-delay: 500ms; }

.delay-700 {
  transition-delay: 700ms; }

.delay-1000 {
  transition-delay: 1000ms; }

.scale-0 {
  transform: scaleY(0);
  transform: scaleX(0); }

.scale-50 {
  transform: scaleY(0.5);
  transform: scaleX(0.5); }

.scale-75 {
  transform: scaleY(0.75);
  transform: scaleX(0.75); }

.scale-90 {
  transform: scaleY(0.9);
  transform: scaleX(0.9); }

.scale-95 {
  transform: scaleY(0.95);
  transform: scaleX(0.95); }

.scale-100 {
  transform: scaleY(1);
  transform: scaleX(1); }

.scale-105 {
  transform: scaleY(1.05);
  transform: scaleX(1.05); }

.scale-110 {
  transform: scaleY(1.1);
  transform: scaleX(1.1); }

.scale-125 {
  transform: scaleY(1.25);
  transform: scaleX(1.25); }

.scale-150 {
  transform: scaleY(1.5);
  transform: scaleX(1.5); }

.scale-x-0 {
  transform: scaleY(0); }

.scale-x-50 {
  transform: scaleY(0.5); }

.scale-x-75 {
  transform: scaleY(0.75); }

.scale-x-90 {
  transform: scaleY(0.9); }

.scale-x-95 {
  transform: scaleY(0.95); }

.scale-x-100 {
  transform: scaleY(1); }

.scale-x-105 {
  transform: scaleY(1.05); }

.scale-x-110 {
  transform: scaleY(1.1); }

.scale-x-125 {
  transform: scaleY(1.25); }

.scale-x-150 {
  transform: scaleY(1.5); }

.scale-y-0 {
  transform: scaleX(0); }

.scale-y-50 {
  transform: scaleX(0.5); }

.scale-y-75 {
  transform: scaleX(0.75); }

.scale-y-90 {
  transform: scaleX(0.9); }

.scale-y-95 {
  transform: scaleX(0.95); }

.scale-y-100 {
  transform: scaleX(1); }

.scale-y-105 {
  transform: scaleX(1.05); }

.scale-y-110 {
  transform: scaleX(1.1); }

.scale-y-125 {
  transform: scaleX(1.25); }

.scale-y-150 {
  transform: scaleX(1.5); }

.rotate-0 {
  transform: rotate(0); }

.rotate-45 {
  transform: rotate(45deg); }

.rotate-90 {
  transform: rotate(90deg); }

.rotate-180 {
  transform: rotate(180deg); }

.-rotate-180 {
  transform: rotate(-180deg); }

.-rotate-90 {
  transform: rotate(-90deg); }

.-rotate-45 {
  transform: rotate(-45deg); }

.opacity-100 {
  opacity: 1; }

.opacity-75 {
  opacity: .75; }

.opacity-50 {
  opacity: .5; }

.opacity-25 {
  opacity: .25; }

.opacity-0 {
  opacity: 0; }

.translate-x-0 {
  transform: translateX(0); }

.translate-x-1 {
  transform: translateX(0.25rem); }

.translate-x-2 {
  transform: translateX(0.5rem); }

.translate-x-3 {
  transform: translateX(0.75rem); }

.translate-x-4 {
  transform: translateX(1rem); }

.translate-x-5 {
  transform: translateX(1.25rem); }

.translate-x-6 {
  transform: translateX(1.5rem); }

.translate-x-8 {
  transform: translateX(2rem); }

.translate-x-10 {
  transform: translateX(2.5rem); }

.translate-x-12 {
  transform: translateX(3rem); }

.translate-x-16 {
  transform: translateX(4rem); }

.translate-x-20 {
  transform: translateX(5rem); }

.translate-x-24 {
  transform: translateX(6rem); }

.translate-x-32 {
  transform: translateX(8rem); }

.translate-x-40 {
  transform: translateX(10rem); }

.translate-x-48 {
  transform: translateX(12rem); }

.translate-x-56 {
  transform: translateX(14rem); }

.translate-x-64 {
  transform: translateX(16rem); }

.translate-x-px {
  transform: translateX(1px); }

.-translate-x-1 {
  transform: translateX(-0.25rem); }

.-translate-x-2 {
  transform: translateX(-0.5rem); }

.-translate-x-3 {
  transform: translateX(-0.75rem); }

.-translate-x-4 {
  transform: translateX(-1rem); }

.-translate-x-5 {
  transform: translateX(-1.25rem); }

.-translate-x-6 {
  transform: translateX(-1.5rem); }

.-translate-x-8 {
  transform: translateX(-2rem); }

.-translate-x-10 {
  transform: translateX(-2.5rem); }

.-translate-x-12 {
  transform: translateX(-3rem); }

.-translate-x-16 {
  transform: translateX(-4rem); }

.-translate-x-20 {
  transform: translateX(-5rem); }

.-translate-x-24 {
  transform: translateX(-6rem); }

.-translate-x-32 {
  transform: translateX(-8rem); }

.-translate-x-40 {
  transform: translateX(-10rem); }

.-translate-x-48 {
  transform: translateX(-12rem); }

.-translate-x-56 {
  transform: translateX(-14rem); }

.-translate-x-64 {
  transform: translateX(-16rem); }

.-translate-x-px {
  transform: translateX(-1px); }

.-translate-x-full {
  transform: translateX(-100%); }

.translate-y-0 {
  transform: translateY(0); }

.translate-y-1 {
  transform: translateY(0.25rem); }

.translate-y-2 {
  transform: translateY(0.5rem); }

.translate-y-3 {
  transform: translateY(0.75rem); }

.translate-y-4 {
  transform: translateY(1rem); }

.translate-y-5 {
  transform: translateY(1.25rem); }

.translate-y-6 {
  transform: translateY(1.5rem); }

.translate-y-8 {
  transform: translateY(2rem); }

.translate-y-10 {
  transform: translateY(2.5rem); }

.translate-y-12 {
  transform: translateY(3rem); }

.translate-y-16 {
  transform: translateY(4rem); }

.translate-y-20 {
  transform: translateY(5rem); }

.translate-y-24 {
  transform: translateY(6rem); }

.translate-y-32 {
  transform: translateY(8rem); }

.translate-y-40 {
  transform: translateY(10rem); }

.translate-y-48 {
  transform: translateY(12rem); }

.translate-y-56 {
  transform: translateY(14rem); }

.translate-y-64 {
  transform: translateY(16rem); }

.translate-y-px {
  transform: translateY(1px); }

.-translate-y-1 {
  transform: translateY(-0.25rem); }

.-translate-y-2 {
  transform: translateY(-0.5rem); }

.-translate-y-3 {
  transform: translateY(-0.75rem); }

.-translate-y-4 {
  transform: translateY(-1rem); }

.-translate-y-5 {
  transform: translateY(-1.25rem); }

.-translate-y-6 {
  transform: translateY(-1.5rem); }

.-translate-y-8 {
  transform: translateY(-2rem); }

.-translate-y-10 {
  transform: translateY(-2.5rem); }

.-translate-y-12 {
  transform: translateY(-3rem); }

.-translate-y-16 {
  transform: translateY(-4rem); }

.-translate-y-20 {
  transform: translateY(-5rem); }

.-translate-y-24 {
  transform: translateY(-6rem); }

.-translate-y-32 {
  transform: translateY(-8rem); }

.-translate-y-40 {
  transform: translateY(-10rem); }

.-translate-y-48 {
  transform: translateY(-12rem); }

.-translate-y-56 {
  transform: translateY(-14rem); }

.-translate-y-64 {
  transform: translateY(-16rem); }

.-translate-y-px {
  transform: translateY(-1px); }

.-translate-y-full {
  transform: translateY(-100%); }
