/*------------- #VARIABLES --------------*/
/*------------- #WIDGETS --------------*/
/*------------- #W-SEARCH--------------*/
.w-search .form-group {
  margin-bottom: 0; }

.w-search input {
  padding: 13px 15px;
  font-size: 12px; }

.w-search svg, .w-search i {
  font-size: 15px;
  height: 15px;
  width: 15px; }

.widget .w-search input {
  border: none; }

/*------------- #w-socials --------------*/
.social-item {
  font-size: 11px;
  color: #fff;
  padding: 7px 15px;
  display: block;
  border-radius: 3px;
  margin-bottom: 15px;
  text-align: center; }
  .social-item i {
    font-size: 12px;
    margin-right: 10px; }
  .social-item:hover {
    color: #fff;
    opacity: .9; }

.w-socials .title {
  margin-bottom: 20px; }

/*------------- #W-SELECT --------------*/
.w-select {
  padding: 0 20px 0 0; }
  .w-select .bootstrap-select > .dropdown-toggle {
    padding: 10px 15px;
    font-size: 12px;
    height: 40px;
    margin-bottom: 0;
    background-color: transparent;
    border-color: #e6ecf5; }
  .w-select .form-group {
    margin-bottom: 0; }
  .w-select .title {
    float: left;
    line-height: 40px;
    margin-right: 15px; }

/*------------- Responsive mode styles --------------*/
@media (max-width: 1400px) {
  .w-select .form-group {
    min-width: unset; } }

/*------------- #W-CONTACTS --------------*/
.w-contacts #map {
  width: 100%;
  height: 200px;
  margin-bottom: 15px; }

.w-contacts ul {
  padding: 0 25px; }
  .w-contacts ul li {
    padding: 15px 0; }
  .w-contacts ul .title {
    margin-right: 0;
    float: none;
    width: auto;
    color: #515365;
    color: var(--heading-font-color);
    font-weight: 500; }
  .w-contacts ul .text {
    color: #888da8;
    color: var(--body-font-color);
    display: block;
    overflow: hidden; }

#map {
  width: 100%; }

/*------------- #W-TWITTER --------------*/
.w-twitter li {
  padding: 25px;
  border-bottom: 1px solid #e6ecf5; }
  .w-twitter li:last-child {
    border-bottom: none; }

.w-twitter .author a {
  line-height: 1; }

.w-twitter .author-name {
  display: block;
  font-weight: 700;
  color: #515365;
  color: var(--heading-font-color); }

.w-twitter .group {
  font-size: 11px;
  color: #888da8;
  color: var(--body-font-color); }

.w-twitter .verified {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #6ec4f7;
  color: #fff;
  font-size: 5px;
  display: inline-block;
  text-align: center;
  line-height: 10px;
  position: relative;
  top: -2px;
  margin-left: 5px; }

.w-twitter .author-folder {
  margin-bottom: 12px; }
  .w-twitter .author-folder > * {
    display: inline-block;
    vertical-align: middle; }
  .w-twitter .author-folder img {
    margin-right: 8px; }

.w-twitter .link-post {
  color: #38bff1; }

.w-twitter .post__date {
  font-size: 12px; }

/*------------- #W-LATEST-PHOTO --------------*/
.w-last-photo {
  margin-bottom: 0;
  overflow: hidden; }
  .w-last-photo li {
    width: 33.33%;
    float: left;
    padding: 0 4px 4px 0;
    overflow: hidden; }
  .w-last-photo img {
    width: 100%;
    border-radius: 3px; }

.widget_olympus-instagram-feed.ui-block .w-last-photo {
  padding: 24px 23px 23px; }

/*------------- #W-ACTION --------------*/
.w-action {
  background-image: url("../images/landing-bg.jpg");
  padding: 50px 45px 40px;
  text-align: center;
  color: #fff;
  border-radius: 5px; }
  .w-action img, .w-action i {
    margin-bottom: 15px;
    font-size: 35px; }
  .w-action .content span {
    font-size: 10px;
    margin-bottom: 25px;
    display: block;
    text-transform: uppercase; }
  .w-action .content .title {
    font-weight: 400;
    color: inherit;
    margin-bottom: 15px;
    font-size: 24px; }

/*------------- #W-LAST-VIDEO --------------*/
.play-video {
  width: 64px;
  height: 64px;
  line-height: 68px;
  background-color: rgba(255, 94, 58, 0.7);
  border: 4px solid #fff;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  transition: all .3s ease;
  outline: none; }
  .play-video i {
    color: #fff;
    font-size: 22px;
    margin-right: -2px; }

.play-video--small {
  width: 52px;
  height: 52px;
  line-height: 58px; }

.play-video--mobile {
  width: 42px;
  height: 42px;
  line-height: 50px;
  border-width: 2px; }

.play-gif {
  width: 64px;
  height: 64px;
  line-height: 62px;
  position: absolute;
  border: 2px dashed #fff;
  background-color: rgba(255, 94, 58, 0.7);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  z-index: 5;
  transition: all .3s ease;
  outline: none;
  cursor: pointer;
  text-decoration: none; }

/*------------- #W-ABOUT --------------*/
.w-about .logo {
  color: inherit;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
  padding: 0; }
  .w-about .logo.center {
    -ms-flex-pack: center;
        justify-content: center; }
  .w-about .logo.flex-start {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .w-about .logo.flex-end {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .w-about .logo:hover {
    color: inherit; }

.w-about .w-about-content-wrap.center {
  text-align: center; }

.w-about .w-about-content-wrap.flex-start {
  text-align: left; }

.w-about .w-about-content-wrap.flex-end {
  text-align: right; }

.w-about ul {
  margin-bottom: 0; }

.w-about .img-wrap {
  margin-right: 17px; }

.w-about .logo-title {
  color: #515365;
  color: var(--heading-font-color); }

.ui-block .w-about {
  padding: 24px 23px 23px; }

/*------------- #WIDGETS-WORDPRESS --------------*/
.sidebar {
  margin-top: 40px; }

.ui-block[class*="widget_"] ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; }

.widget h6.title {
  font-size: 14px; }
  .widget h6.title a {
    color: #3f4257; }
    .widget h6.title a:hover {
      color: #ff5e3a;
      color: var(--primary-accent-color); }

.woocommerce.widget_shopping_cart .cart_list li {
  position: relative;
  display: block;
  padding: 12px 25px;
  margin-bottom: -1px;
  border: 1px solid #e6ecf5;
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
  .woocommerce.widget_shopping_cart .cart_list li:first-child {
    border-top: 0; }
  .woocommerce.widget_shopping_cart .cart_list li:last-child {
    border-bottom: 0; }

.woocommerce.widget_shopping_cart .woocommerce-mini-cart__empty-message {
  margin: 24px 23px 23px; }

.woocommerce.widget_shopping_cart .total {
  padding: 12px 25px;
  border-top: 1px solid #e6ecf5;
  margin-bottom: 0; }

.woocommerce.widget_shopping_cart .woocommerce-mini-cart__buttons.buttons {
  padding: 0 25px; }

.widget_recent_comments .comment-author-link {
  display: block; }

.widget_media_audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.widget_media_audio .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  background: linear-gradient(#20d862, #5bf692); }

.widget_calendar .calendar_wrap {
  padding: 24px 23px 16px; }

.widget_calendar table {
  margin-bottom: 0; }
  .widget_calendar table caption {
    padding-bottom: 0; }

.widget_calendar table * {
  vertical-align: middle;
  text-align: center; }

.widget_calendar table > tbody > tr > td {
  padding: 0; }

.widget_text.elp-widget .es_textbox_class {
  width: 100%; }

.widget_text.elp-widget .es_textbox_button {
  cursor: pointer;
  background-color: #ff5e3a;
  background-color: var(--primary-accent-color);
  color: #fff;
  padding: .618em 1em; }

.widget_text.elp-widget .es_widget_form {
  padding: 24px 23px 23px; }

.woocommerce.widget_shopping_cart .buttons a {
  background-color: #ff5e3a;
  background-color: var(--primary-accent-color);
  color: #fff; }
  .woocommerce.widget_shopping_cart .buttons a:hover {
    color: #fff; }

.widget_media_image img {
  margin: 0 auto;
  display: block;
  padding: 24px 23px 23px; }

.ui-block[class*="widget_nav_menu"] li a,
.ui-block[class*="widget_pages"] li a,
[class*="widget_pages"] li a {
  color: #888da8;
  color: var(--body-font-color);
  font-weight: 700;
  font-size: 12px; }
  .ui-block[class*="widget_nav_menu"] li a:hover,
  .ui-block[class*="widget_pages"] li a:hover,
  [class*="widget_pages"] li a:hover {
    color: #ff5e3a;
    color: var(--primary-accent-color); }

.ui-block[class*="widget_nav_menu"] .mega-menu-col,
.ui-block[class*="widget_pages"] .mega-menu-col,
[class*="widget_pages"] .mega-menu-col {
  display: block;
  width: auto; }

.olympus-theme .widget_rss .widget-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  line-height: 1; }

.olympus-theme .widget_rss .rss-widget-icon {
  margin-right: 10px; }

.olympus-theme .widget_rss ul li {
  padding: 12px 25px;
  border-bottom: 1px solid #e6ecf5; }
  .olympus-theme .widget_rss ul li a {
    color: #515365;
    color: var(--heading-font-color);
    font-weight: 700;
    display: block; }
    .olympus-theme .widget_rss ul li a:hover {
      color: #ff5e3a;
      color: var(--primary-accent-color); }
  .olympus-theme .widget_rss ul li:last-child {
    border-bottom: none; }
  .olympus-theme .widget_rss ul li cite {
    color: #515365;
    color: var(--heading-font-color);
    margin-top: 10px;
    display: block;
    font-size: 12px; }
  .olympus-theme .widget_rss ul li .rssSummary {
    line-height: 1.4; }
  .olympus-theme .widget_rss ul li .rss-date {
    margin: 3px 0 10px 0;
    color: #515365;
    color: var(--heading-font-color);
    font-size: 12px;
    display: block; }

.ui-block[class*="widget_pages"] li a,
[class*="widget_pages"] li a {
  position: relative;
  display: block;
  padding: 12px 25px;
  margin-bottom: -1px;
  border: 1px solid #e6ecf5;
  border-right: 0;
  border-left: 0;
  border-radius: 0; }

.ui-block[class*="widget_pages"] li:first-child a,
[class*="widget_pages"] li:first-child a {
  border-top: 0; }

.ui-block[class*="widget_pages"] li:last-child a,
[class*="widget_pages"] li:last-child a {
  border-bottom: 0; }

.ui-block[class*="widget_pages"] ul ul li a,
[class*="widget_pages"] ul ul li a {
  padding: 12px 25px 12px 35px; }

.ui-block[class*="widget_pages"] ul ul ul li a,
[class*="widget_pages"] ul ul ul li a {
  padding: 12px 25px 12px 45px; }

.widget_search .w-search,
.widget_product_search .w-search {
  padding: 24px 23px 23px; }
  .widget_search .w-search input,
  .widget_product_search .w-search input {
    border: 1px solid #e6ecf5; }

.widget_categories > ul {
  padding-left: 0; }

.widget_categories ul li {
  border: 1px solid #e6ecf5;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  margin-bottom: -1px; }
  .widget_categories ul li a {
    color: #888da8;
    color: var(--body-font-color);
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding: 12px 10px 12px 25px;
    font-size: 12px; }
    .widget_categories ul li a:hover {
      color: #ff5e3a;
      color: var(--primary-accent-color); }
  .widget_categories ul li:first-child {
    border-top: 0; }
  .widget_categories ul li:last-child {
    border-bottom: 0; }

.widget_categories ul ul {
  padding-left: 0; }
  .widget_categories ul ul li:first-child {
    border-top: 1px solid #e6ecf5; }
  .widget_categories ul ul li a {
    padding: 12px 10px 12px 40px; }
  .widget_categories ul ul ul li a {
    padding: 12px 10px 12px 50px; }

.widget_recent_entries .post-date {
  display: block; }

.widget_recent_entries > ul,
.widget_recent_comments > ul,
.widget_archive > ul,
.widget_meta > ul {
  padding-left: 0; }

.widget_recent_entries ul li,
.widget_recent_comments ul li,
.widget_archive ul li,
.widget_meta ul li {
  position: relative;
  display: block;
  padding: 12px 25px;
  margin-bottom: -1px;
  border: 1px solid #e6ecf5;
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
  .widget_recent_entries ul li:first-child,
  .widget_recent_comments ul li:first-child,
  .widget_archive ul li:first-child,
  .widget_meta ul li:first-child {
    border-top: 0; }
  .widget_recent_entries ul li:last-child,
  .widget_recent_comments ul li:last-child,
  .widget_archive ul li:last-child,
  .widget_meta ul li:last-child {
    border-bottom: 0; }

.widget_recent_entries a,
.widget_recent_comments a,
.widget_archive a,
.widget_meta a {
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 700;
  font-size: 12px; }
  .widget_recent_entries a:hover,
  .widget_recent_comments a:hover,
  .widget_archive a:hover,
  .widget_meta a:hover {
    color: #ff5e3a;
    color: var(--primary-accent-color); }

.widget_archive {
  padding-bottom: 1px !important; }
  .widget_archive select {
    margin: 24px 23px 23px;
    max-width: 84%; }

.widget_product_categories .select2 {
  margin: 24px 23px 23px;
  max-width: 84%; }

.widget_categories form {
  padding: 24px 23px 23px; }

.widget_top_rated_products ul.product_list_widget,
.widget_products ul.product_list_widget,
.widget_recent_reviews ul.product_list_widget,
.widget_recently_viewed_products ul.product_list_widget {
  padding-left: 0; }
  .widget_top_rated_products ul.product_list_widget li,
  .widget_products ul.product_list_widget li,
  .widget_recent_reviews ul.product_list_widget li,
  .widget_recently_viewed_products ul.product_list_widget li {
    position: relative;
    display: block;
    padding: 12px 25px;
    margin-bottom: -1px;
    border: 1px solid #e6ecf5;
    border-right: 0;
    border-left: 0;
    border-radius: 0; }
    .widget_top_rated_products ul.product_list_widget li:first-child,
    .widget_products ul.product_list_widget li:first-child,
    .widget_recent_reviews ul.product_list_widget li:first-child,
    .widget_recently_viewed_products ul.product_list_widget li:first-child {
      border-top: 0; }
    .widget_top_rated_products ul.product_list_widget li:last-child,
    .widget_products ul.product_list_widget li:last-child,
    .widget_recent_reviews ul.product_list_widget li:last-child,
    .widget_recently_viewed_products ul.product_list_widget li:last-child {
      border-bottom: 0; }

.widget_top_rated_products .star-rating span:before,
.widget_products .star-rating span:before,
.widget_recent_reviews .star-rating span:before,
.widget_recently_viewed_products .star-rating span:before {
  color: #ffce08; }

.widget_top_rated_products li,
.widget_products li,
.widget_recent_reviews li,
.widget_recently_viewed_products li {
  position: relative;
  display: block;
  padding: 12px 25px;
  margin-bottom: -1px;
  border: 1px solid #e6ecf5;
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
  .widget_top_rated_products li:first-child,
  .widget_products li:first-child,
  .widget_recent_reviews li:first-child,
  .widget_recently_viewed_products li:first-child {
    border-top: 0; }
  .widget_top_rated_products li:last-child,
  .widget_products li:last-child,
  .widget_recent_reviews li:last-child,
  .widget_recently_viewed_products li:last-child {
    border-bottom: 0; }

.widget_top_rated_products .product-title,
.widget_products .product-title,
.widget_recent_reviews .product-title,
.widget_recently_viewed_products .product-title {
  color: #888da8;
  color: var(--body-font-color);
  font-weight: 700;
  transition: all .3s ease;
  font-size: 12px; }
  .widget_top_rated_products .product-title:hover,
  .widget_products .product-title:hover,
  .widget_recent_reviews .product-title:hover,
  .widget_recently_viewed_products .product-title:hover {
    color: #ff5e3a;
    color: var(--primary-accent-color); }

.widget_top_rated_products ins .woocommerce-Price-amount,
.widget_products ins .woocommerce-Price-amount,
.widget_recent_reviews ins .woocommerce-Price-amount,
.widget_recently_viewed_products ins .woocommerce-Price-amount {
  color: #1ed760; }

.widget_top_rated_products del .woocommerce-Price-amount,
.widget_products del .woocommerce-Price-amount,
.widget_recent_reviews del .woocommerce-Price-amount,
.widget_recently_viewed_products del .woocommerce-Price-amount {
  color: #ff763a; }

.widget_shopping_cart ul,
.widget_recent_reviews ul {
  padding: 24px 23px 23px; }

.widget_shopping_cart li,
.widget_recent_reviews li {
  margin-bottom: 10px; }
  .widget_shopping_cart li:last-child,
  .widget_recent_reviews li:last-child {
    margin-bottom: 0; }

.widget_shopping_cart a:not(.remove),
.widget_recent_reviews a:not(.remove) {
  color: #3f4257;
  font-weight: 700;
  font-size: 12px; }
  .widget_shopping_cart a:not(.remove):hover,
  .widget_recent_reviews a:not(.remove):hover {
    color: #ff5e3a;
    color: var(--primary-accent-color); }

.widget_custom_html .custom-html-widget {
  padding: 24px 23px 23px; }

.widget_media_gallery .gallery {
  padding: 24px 23px 23px;
  margin: 0; }

.widget_nav_menu .mega-menu-col {
  display: block;
  width: auto; }

.widget_nav_menu ul {
  list-style: none;
  padding-left: 0; }

.widget_nav_menu ul.menu {
  padding-left: 0; }
  .widget_nav_menu ul.menu li a {
    position: relative;
    display: block;
    padding: 12px 25px;
    margin: 0;
    margin-bottom: -1px;
    border: 1px solid #e6ecf5;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    color: #888da8;
    color: var(--body-font-color); }
    .widget_nav_menu ul.menu li a:hover {
      color: #ff5e3a;
      color: var(--primary-accent-color); }
  .widget_nav_menu ul.menu li:first-child a {
    border-top: 0; }
  .widget_nav_menu ul.menu ul {
    padding-left: 0; }
    .widget_nav_menu ul.menu ul li a {
      padding: 12px 25px 12px 35px; }
    .widget_nav_menu ul.menu ul ul li a {
      padding: 12px 25px 12px 45px; }

.widget_nav_menu ul.sub-menu li:not(.menu-item-has-children):last-child a {
  border-bottom: 0; }

.widget_product_tag_cloud .tagcloud {
  padding: 24px 23px 23px; }

.widget_tag_cloud .tagcloud {
  padding: 24px 23px 23px; }

.widget_tag_cloud a {
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 300;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 5px; }
  .widget_tag_cloud a:last-child {
    margin-right: 0; }
  .widget_tag_cloud a:hover {
    color: #ff5e3a;
    color: var(--primary-accent-color); }

.widget_text .textwidget {
  padding: 24px 23px 23px; }
  .widget_text .textwidget img {
    margin-top: 5px; }

.woocommerce-widget-layered-nav ul.woocommerce-widget-layered-nav-list {
  padding: 24px 23px 23px; }
  .woocommerce-widget-layered-nav ul.woocommerce-widget-layered-nav-list a {
    color: #3f4257;
    font-weight: 700; }
    .woocommerce-widget-layered-nav ul.woocommerce-widget-layered-nav-list a:hover {
      color: #ff5e3a;
      color: var(--primary-accent-color); }

.widget_price_filter form {
  padding: 24px 23px 23px; }

.widget_media_video .wp-video {
  padding: 24px 23px 23px;
  width: auto; }

.olympus-theme .widget_mc4wp_form_widget .subscribe-form {
  margin: 23px 25px 18px; }
  .olympus-theme .widget_mc4wp_form_widget .subscribe-form.form-inline {
    display: block; }

.olympus-theme .widget_mc4wp_form_widget .form-inline > * + * {
  margin-left: 0;
  margin-top: 15px;
  padding: 0.563rem 1.1rem; }

@media (max-width: 768px) {
  .header.header-sticky-mobile.headroom--unpinned {
    transform: translate(0, -100%); } }

/*------------- #WIDGETS --------------*/
.olympus-theme-sidebar .widget {
  margin-bottom: 35px; }
  .olympus-theme-sidebar .widget:last-child {
    margin-bottom: 0; }

.youzer-sidebar.olympus-theme-sidebar .widget {
  margin-bottom: 35px;
  border: 1px solid #e6ecf5; }
  .youzer-sidebar.olympus-theme-sidebar .widget:last-child {
    margin-bottom: 0; }

.widget p {
  font-size: 13px; }

.youzer-sidebar.olympus-theme-sidebar .widget_olympus_latest_posts .widget {
  border: none; }

.widget_olympus_latest_posts .widget {
  margin-top: 0; }
  .widget_olympus_latest_posts .widget > .ui-block {
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin-bottom: 0; }
  .widget_olympus_latest_posts .widget .post-category {
    margin-right: 5px;
    margin-bottom: 15px; }
    .widget_olympus_latest_posts .widget .post-category:last-child {
      margin-right: 0; }
  .widget_olympus_latest_posts .widget .blog-post .post-thumb {
    border-radius: 0; }
