a {
  &:link, &:visited {
    // color: $color__link;
  }
  &:hover, &:focus, &:active {
    // color: $color__link-hover;
    outline: none;
  }
}

.primary-button, .secondary-button {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  border: none;
  color: white;

  span {
    font-weight: bold;
    color: white;
  }



  &.button-disabled {
    background-color: $placeholder-form-color;
    cursor: not-allowed !important;
    span {
      color: rgba(255,255,255,.6)
    }
  }
}

.primary-button {
  background-color: $primary-color;
  &:hover {
    background-color: $primary-color-darken;
  }
}

.secondary-button {
  background-color: $placeholder-form-color;
  &:hover {
    background-color: $form-color;
  }
}