/*------------- #Styles for preloader --------------*/


.olympus-preloader {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  background-color: var(--primary-accent-color);
  opacity: 1;

  img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 150px;
  }
}