.wp-block-button {
  clear: both;
  margin-bottom: 20px;
}

.wp-block-cover-image .wp-block-subhead:not(.has-text-color),
.wp-block-cover-image h1:not(.has-text-color),
.wp-block-cover-image h2:not(.has-text-color),
.wp-block-cover-image h3:not(.has-text-color),
.wp-block-cover-image h4:not(.has-text-color),
.wp-block-cover-image h5:not(.has-text-color),
.wp-block-cover-image h6:not(.has-text-color),
.wp-block-cover-image p:not(.has-text-color),
.wp-block-cover .wp-block-subhead:not(.has-text-color),
.wp-block-cover h1:not(.has-text-color),
.wp-block-cover h2:not(.has-text-color),
.wp-block-cover h3:not(.has-text-color),
.wp-block-cover h4:not(.has-text-color),
.wp-block-cover h5:not(.has-text-color),
.wp-block-cover h6:not(.has-text-color),
.wp-block-cover p:not(.has-text-color) {
  color: #fff;
}

.wp-block-cover,
.wp-block-cover-image {
  margin-bottom: 20px;
}

blockquote.has-very-dark-gray-color::before {
  color: inherit;
}

.hentry .entry-content {
  ol li,
  ul li {
    font-size: 16px;
  }
}

.wp-block-archives-dropdown {
  margin-bottom: 20px;
}