/*------------- #W-LAST-VIDEO --------------*/

.play-video {
  width: 64px;
  height: 64px;
  line-height: 68px;
  background-color: rgba(255,94,58,.7);
  border: 4px solid $white-color;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  transition: all .3s ease;
  outline: none;

  i {
	color: $white-color;
	font-size: 22px;
	margin-right: -2px;
  }
}

.play-video--small {
  width: 52px;
  height: 52px;
  line-height: 58px;
}

.play-video--mobile {
  width: 42px;
  height: 42px;
  line-height: 50px;
  border-width: 2px;
}

.play-gif {
  width: 64px;
  height: 64px;
  line-height: 62px;
  position: absolute;
  border: 2px dashed $white-color;
  background-color: rgba(255,94,58,.7);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white-color;
  border-radius: 100%;
  text-align: center;
  z-index: 5;
  transition: all .3s ease;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}