/*------------- #WIDGETS --------------*/


.olympus-theme-sidebar .widget {
  margin-bottom: 35px;

  &:last-child {
	margin-bottom: 0;
  }
}

.youzer-sidebar.olympus-theme-sidebar .widget {
  margin-bottom: 35px;
  border: 1px solid #e6ecf5;

  &:last-child {
	margin-bottom: 0;
  }
}

.widget p {
  font-size: 13px;
}

.youzer-sidebar.olympus-theme-sidebar .widget_olympus_latest_posts .widget {
  border: none;
}

.widget_olympus_latest_posts {
  .widget {
	margin-top: 0;

	& > .ui-block {
	  background-color: transparent;
	  border-radius: 0;
	  border: none;
	  margin-bottom: 0;
	}

	.post-category {
	  margin-right: 5px;
	  margin-bottom: 15px;

	  &:last-child {
		margin-right: 0;
	  }
	}

	.blog-post .post-thumb {
	  border-radius: 0;
	}
  }
}