#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
  background-color: #ffffff;
}

.bbp-reply-header .bbp-header .bbp-topic-permalink,
.bbp-reply-header .bbp-header {
  color: #515365;
  color: var(--heading-font-color);
}

.bbp-reply-header .bbp-header .bbp-topic-permalink:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
  border: 1px solid #e6ecf5;
}

#bbpress-forums .bbp-forums-list li {
  background: #edf2f6;
}

#bbpress-forums .bbp-forums-list li a {
  color: #888da8;
  color: var(--body-font-color);
}

#bbpress-forums a.bbp-forum-title,
#bbpress-forums a.bbp-topic-title,
#bbpress-forums a.bbp-reply-title {
  background: none;
  border: none;
  font-size: 16px;
  line-height: 1em;
  margin: 8px 0;
  padding: 0;
  text-transform: none;
  color: #515365;
  color: var(--heading-font-color);
}

#bbpress-forums div.bbp-topic-author .bbp-author-name {
  display: block;
  color: #515365;
  color: var(--heading-font-color);
  font-size: 14px;
  font-weight: 500;
  transition: all .3s ease;
}

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
  color: #888da8;
  color: var(--body-font-color);
}

#bbpress-forums .bbp-topic-freshness-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author .bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name {
  color: #515365;
  color: var(--heading-font-color);
  font-size: 14px;
  font-weight: 500;
  transition: all .3s ease;
}

#bbpress-forums .bbp-topic-freshness-author a.bbp-author-name:hover,
#bbpress-forums div.bbp-topic-author a.bbp-author-name:hover,
#bbpress-forums div.bbp-reply-author a.bbp-author-name:hover,
#bbpress-forums div.bbp-reply-author .bbp-author-name:hover,
#bbpress-forums div.bbp-topic-author a.bbp-author-name:hover,
#bbpress-forums div.bbp-topic-author .bbp-author-name:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
  line-height: 1;
  padding: 2px 5px;
  background: #38a9ff;
  background: var(--secondary-accent-color);
}

#bbpress-forums li.bbp-forum-freshness > a {
  color: #515365;
  color: var(--heading-font-color);
}

#bbpress-forums li.bbp-forum-freshness > a:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

span.bbp-author-ip {
  color: #888da8;
  color: var(--body-font-color);
}

div.bbp-breadcrumb {
  margin-bottom: 15px;
}

#bbpress-forums div.bbp-breadcrumb .bbp-breadcrumb-sep {
  color: #9a9fbf;
  color: var(--icon-color);
}

#bbpress-forums div.bbp-breadcrumb .bbp-breadcrumb-current {
  color: #515365;
  color: var(--heading-font-color);
}

#bbpress-forums div.bbp-breadcrumb a {
  color: #515365;
  color: var(--heading-font-color);
}

#bbpress-forums div.bbp-breadcrumb a:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

#bbpress-forums div.bbp-breadcrumb .bbp-breadcrumb-current a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #38a9ff;
  background-color: var(--secondary-accent-color);
}

#bbpress-forums div.bbp-breadcrumb .bbp-breadcrumb-current a:before {
  color: #fff;
}

#bbpress-forums #bbp-search-form #bbp_search,
#bbpress-forums .bbp-search-form #rs,
#bbpress-forums .bbp-search-form #ts {
  border: 1px solid #e6ecf5;
}

#bbpress-forums #bbp-search-form #bbp_search {
  color: #888da8;
  color: var(--body-font-color);
  margin-right: -3px;
}

#bbpress-forums #bbp-search-form #bbp_search_submit {
  font-size: 14px;
  font-weight: 700;
  background-color: #38a9ff !important;
  background-color: var(--secondary-accent-color) !important;
  padding: .8rem 1.1rem;
  text-transform: capitalize;
}

#bbpress-forums div.bbp-search-form {
  float: none;
}

#bbpress-forums div.bbp-search-form .bbp-search-form {
  padding: 0;
  margin-bottom: 0;
}

#bbpress-forums div.bbp-search-form #bbp_search_submit {
  padding: 0;
}

.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
  float: right;
  margin-left: 10px;
  color: #38a9ff;
  color: var(--secondary-accent-color);
}

.yz-forums-forum-item .bbp-row-actions #favorite-toggle a i,
.yz-forums-topic-item .bbp-row-actions #favorite-toggle a i,
.yz-forums-topic-item .bbp-row-actions #subscription-toggle a i,
.yz-forums-forum-item .bbp-row-actions #subscription-toggle a i {
  color: #9a9fbf;
  color: var(--icon-color);
}

.yz-bbp-freshness-data .yz-bbp-freshness-time {
  color: #888da8;
  color: var(--body-font-color);
  margin-top: 0;
}

.yz-bbp-freshness-data .yz-bbp-freshness-time a {
  color: #888da8;
  color: var(--body-font-color);
  font-weight: 500;
}

.yz-bbp-freshness-data .yz-bbp-freshness-time a:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

.yz-bbp-freshness-content .yz-bbp-freshness-author,
.yz-bbp-freshness-content .yz-bbp-freshness-author a {
  display: block;
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 500;
  font-size: 13px;
}

.yz-bbp-freshness-content .yz-bbp-freshness-author:hover,
.yz-bbp-freshness-content .yz-bbp-freshness-author a:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

.yz-bbp-topic-head-meta .yz-bbp-topic-head-meta-item {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-bbp-topic-head-meta .yz-bbp-topic-head-meta-item a {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-bbp-topic-head-meta .yz-bbp-topic-head-meta-item i {
  color: #9a9fbf;
  color: var(--icon-color);
}

#bbpress-forums .yz-bbp-box .yz-bbp-box-title {
  color: #515365;
  color: var(--heading-font-color);
  border-bottom: 1px solid #e6ecf5;
}

#bbpress-forums .yz-bbp-box .yz-bbp-box-title i {
  background: transparent;
}

#bbpress-forums .yz-bbp-box .yz-bbp-box-title i:before {
  color: #9a9fbf;
  color: var(--icon-color);
}

#bbpress-forums fieldset.bbp-form {
  border: 1px solid #e6ecf5;
}

#bbpress-forums fieldset.bbp-form legend {
  color: #888da8;
  color: var(--body-font-color);
}

#bbpress-forums .bbp-form label {
  color: #888da8;
  color: var(--body-font-color);
}

.youzer #bbpress-forums select {
  background-color: transparent;
  border: 1px solid #e6ecf5;
}

#bbpress-forums .bbp-form .yz-bbp-form-item-text input {
  color: #888da8;
  color: var(--body-font-color);
  border: 1px solid #e6ecf5;
}

div.bbp-submit-wrapper button {
  width: auto;
  font-weight: 700;
  opacity: .85;
  padding: .8rem 2.1rem;
  min-height: 45px;
}

div.bbp-submit-wrapper button:hover {
  opacity: 1;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
  color: #888da8;
  color: var(--body-font-color);
}

#bbpress-forums div.wp-editor-container {
  border: 1px solid #e6ecf5;

  &#wp-bbp_reply_content-editor-container {
    border: none;
  }
}

#bbpress-forums #bbp-your-profile fieldset div {
  margin-bottom: 20px;
  float: left;
  width: 100%;
  clear: left;
}

#bbpress-forums #bbp-your-profile fieldset select {
  margin-bottom: 0;
}

#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset textarea {
  margin-bottom: 0;
  width: 60%;
  background: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 5px 8px;
  border-radius: 0;
}

#bbpress-forums #bbp-your-profile fieldset input:focus,
#bbpress-forums #bbp-your-profile fieldset textarea:focus {
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  outline-color: rgba(240, 255, 240, 0.1);
}

#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
  width: auto;
}

#bbpress-forums #bbp-your-profile fieldset legend {
  display: none;
}

#bbpress-forums #bbp-your-profile fieldset label[for] {
  float: left;
  width: 20%;
  padding: 5px 20px 5px 0;
  text-align: right;
  cursor: pointer;
}

#bbpress-forums #bbp-your-profile fieldset dl label[for] {
  text-align: left;
  width: 60%;
}

#bbpress-forums #bbp-your-profile fieldset span.description {
  margin: 5px 0 0 20%;
  font-size: 12px;
  font-style: italic;
  float: left;
  clear: left;
  width: 60%;
  padding: 5px 8px;
  border: #cee1ef 1px solid;
  background-color: #f0f8ff;
}

#bbpress-forums #bbp-your-profile fieldset fieldset {
  margin: 0;
  border: none;
  padding: 0;
  clear: none;
  float: none;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password {
  width: 60%;
  display: inline;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
  width: 100%;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
  margin: 0;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
  margin-left: 0;
  margin-bottom: 20px;
}

#bbpress-forums #bbp-your-profile fieldset.submit button {
  float: right;
}

div.bbp-template-notice,
div.indicator-hint {
  border-color: #38a9ff;
  border-color: var(--secondary-accent-color);
}

div.bbp-template-notice p {
  color: #515365;
  color: var(--heading-font-color);
}

.bbp-form .bbp-template-notice {
  background-color: #e6ecf5;
}

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
  color: #888da8;
  color: var(--body-font-color);
}

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li a,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li a,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li a {
  color: #888da8;
  color: var(--body-font-color);
}

.bbp-user-section > p {
  color: #888da8;
  color: var(--body-font-color);
  border-left: 4px solid #38a9ff;
  border-left: 4px solid var(--secondary-accent-color);
}

.yz-bbp-topic-head {
  border-left: 5px solid #38a9ff !important;
  border-left: 5px solid var(--secondary-accent-color) !important;
}

#bbpress-forums .bbp-body li.bbp-forum-topic-count,
#bbpress-forums .bbp-body li.bbp-topic-voice-count,
#bbpress-forums .bbp-body li.bbp-forum-reply-count,
#bbpress-forums .bbp-body li.bbp-topic-reply-count {
  color: #888da8;
  color: var(--body-font-color);
}

#bbpress-forums li.bbp-forum-topic-count i,
#bbpress-forums li.bbp-topic-voice-count i,
#bbpress-forums li.bbp-forum-reply-count i,
#bbpress-forums li.bbp-topic-reply-count i {
  color: #9a9fbf;
  color: var(--icon-color);
  margin-right: 10px;
  vertical-align: middle;
  font-weight: 700;
}

.yz-forums-forum-item .yz-forums-forum-desc {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-forums-topic-item .yz-forums-topic-icon i,
.yz-forums-forum-item .yz-forums-forum-icon i {
  font-size: 33px;
  background-color: #38a9ff !important;
  background-color: var(--secondary-accent-color) !important;
  line-height: 46px;
}

.yz-forums-topic-item .yz-forums-topic-title,
.yz-forums-forum-item .yz-forums-forum-title {
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 700;
  font-size: 14px;
}

.yz-forums-topic-item .yz-forums-topic-title:hover,
.yz-forums-forum-item .yz-forums-forum-title:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

.yz-forums-topic-item .yz-forums-topic-meta .yz-forums-topic-forum a,
.yz-forums-topic-item .yz-forums-topic-meta .yz-forums-topic-author,
.yz-forums-topic-item .yz-forums-topic-meta .bbp-author-name {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-forums-topic-item .yz-forums-topic-meta .yz-forums-topic-forum a:hover,
.yz-forums-topic-item .yz-forums-topic-meta .yz-forums-topic-author:hover,
.yz-forums-topic-item .yz-forums-topic-meta .bbp-author-name:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

.yz-forums-topic-item .yz-forums-topic-forum i {
  color: #9a9fbf;
  color: var(--icon-color);
}

#bbpress-forums li.bbp-header .bbp-reply-author {
  font-weight: 500;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
  border-top: 1px solid #e6ecf5;
  border-bottom: 1px solid #e6ecf5;
}

.bbp-reply-header .bbp-reply-post-date {
  color: #888da8;
  color: var(--body-font-color);
}

.bbp-reply-header .bbp-reply-post-date i {
  color: #9a9fbf;
  color: var(--icon-color);
}

#bbpress-forums .bbp-body div.bbp-topic-content,
#bbpress-forums .bbp-body div.bbp-reply-content {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
}

span.bbp-admin-links a {
  color: #888da8;
  color: var(--body-font-color);
}

span.bbp-admin-links a:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

span.bbp-admin-links a:before {
  color: #9a9fbf;
  color: var(--icon-color);
}

#bbpress-forums ul.bbp-threaded-replies {
  margin-left: 20px;
}

#bbpress-forums div.bbp-reply-author .bbp-author-link {
  display: block;
}

#bbpress-forums > h2 {
  margin-bottom: 15px;
}

#bbpress-forums .bbp-topic-tags a {
  background-color: #ff5e3a;
  background-color: var(--primary-accent-color);
  color: #fff;
  padding: 4px 12px;
}

/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

  .youzer .yz-page-main-content {
    padding: 25px 25px 0 25px;
  }

  .yz-forum .yz-main-column #bbpress-forums {
    margin-right: 12.5px;
  }

  .yz-forum .yz-sidebar-column .yz-column-content {
    margin-left: 12.5px;
  }

  .yz-bbp-topic-head,
  .youzer .bbp-pagination,
  #bbpress-forums .yz-bbp-box,
  .youzer .yz-my-account-widget,
  #bbpress-forums ul.bbp-topics,
  #bbpress-forums ul.bbp-forums,
  #bbpress-forums ul.bbp-replies,
  .youzer-sidebar .widget-content,
  #bbpress-forums ul.bbp-lead-topic,
  #bbpress-forums ul.bbp-search-results,
  #bbpress-forums div.bbp-search-form {
    margin-bottom: 25px;
  }

  #bbpress-forums {
    margin-bottom: 0;
  }

  .yz-forums-topic-item .yz-forums-topic-meta .yz-forums-topic-forum a,
  .yz-forums-topic-item .yz-forums-topic-meta .yz-forums-topic-author,
  .yz-forums-topic-item .yz-forums-topic-meta .bbp-author-name {
    font-size: 13px;
  }

  .youzer .yz-forums-forum-item .yz-forums-forum-icon,
  .youzer .yz-forums-topic-item .yz-forums-topic-icon {
    margin-bottom: 15px;
  }

  #bbpress-forums .bbp-body li .yz-forums-forum-item,
  #bbpress-forums .bbp-body li .yz-forums-topic-item {
    text-align: center;
  }

  #bbpress-forums .bbp-body li.yz-bbp-forum-freshness,
  #bbpress-forums .bbp-body li.yz-bbp-freshness {
    width: 25%;
    float: none;
    display: inline-block;
  }

  .rtl .yz-bbp-freshness-data .yz-bbp-freshness-content,
  .yz-bbp-freshness-data .yz-bbp-freshness-content {
    text-align: center;
  }

  .rtl .yz-forums-topic-item .yz-forums-topic-head,
  .rtl .yz-forums-forum-item .yz-forums-forum-head {
    margin-right: 0;
  }

  .yz-forums-forum-item .yz-forums-forum-icon,
  .yz-forums-forum-item .yz-forums-forum-head,
  .yz-forums-topic-item .yz-forums-topic-icon,
  .yz-forums-topic-item .yz-forums-topic-head,
  .yz-bbp-freshness-data .yz-bbp-freshness-author-img,
  .rtl .yz-bbp-freshness-data .yz-bbp-freshness-content,
  .yz-bbp-freshness-data .yz-bbp-freshness-content {
    margin: 0;
    width: 100%;
    display: block;
  }

  .yz-bbp-freshness-data .yz-bbp-freshness-author-img {
    display: block;
  }

  .yz-bbp-freshness-data .yz-bbp-freshness-author-img a img {
    margin: 0 auto 15px;
  }

  .yz-bbp-freshness-data .yz-bbp-freshness-time a {
    font-size: 13px;
    font-weight: 400;
  }

  .yz-bbp-freshness-data .yz-bbp-freshness-author-img a img {
    width: 50px;
    height: 50px;
  }

}

@media only screen and (max-width: 768px) {

  .yz-forum .yz-sidebar-column,
  .yz-forum .yz-page-main-content .yz-main-column {
    width: 100%;
    float: none;
  }

  .yz-forum .yz-main-column #bbpress-forums {
    margin-right: 0;
  }

  .yz-forum .yz-sidebar-column .yz-column-content {
    margin-left: 0;
  }

}

@media only screen and (max-width: 480px) {

  #bbpress-forums li.bbp-header .bbp-reply-author {
    display: none;
  }

  #bbpress-forums li.bbp-header .bbp-reply-content {
    margin-left: 0;
  }

  .rtl #bbpress-forums li.bbp-header .bbp-reply-content {
    margin-right: 0;
  }

  .bbp-reply-header .bbp-reply-post-date {
    font-size: 13px;
    display: block;
  }

  .bbp-forum-header a.bbp-forum-permalink,
  .bbp-topic-header a.bbp-topic-permalink,
  .bbp-reply-header a.bbp-reply-permalink {
    display: none;
  }

  div.bbp-forum-header,
  div.bbp-topic-header,
  div.bbp-reply-header,
  li.bbp-body div.hentry {
    padding: 15px;
    text-align: center;
  }

  #bbpress-forums .bbp-body li.yz-bbp-forum-freshness,
  #bbpress-forums .bbp-body li.yz-bbp-freshness {
    width: 100%;
  }

  .rtl #bbpress-forums div.bbp-breadcrumb .bbp-breadcrumb-current a,
  #bbpress-forums div.bbp-breadcrumb .bbp-breadcrumb-current a {
    margin: 0;
    display: flex;
    font-size: 13px;
    margin-top: 15px;
    padding: 12px 15px;
    text-align: center;
  }

  .yz-bbp-topic-head-meta .yz-bbp-head-meta-last-updated {
    display: block;
    margin-bottom: 15px;
  }

  #bbpress-forums div.bbp-breadcrumb .bbp-breadcrumb-current {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 17px;
  }

  .youzer .yz-page-main-content {
    padding: 15px 15px 0 15px;
  }

  .yz-bbp-topic-head,
  .youzer .bbp-pagination,
  #bbpress-forums .yz-bbp-box,
  .youzer .yz-my-account-widget,
  #bbpress-forums ul.bbp-topics,
  #bbpress-forums ul.bbp-forums,
  #bbpress-forums ul.bbp-replies,
  #bbpress-forums ul.bbp-lead-topic,
  #bbpress-forums ul.bbp-search-results,
  #bbpress-forums div.bbp-search-form {
    margin-bottom: 15px;
  }

  .buddypress .yz-bbp-topic-head,
  .buddypress .youzer .bbp-pagination,
  .buddypress #bbpress-forums .yz-bbp-box,
  .buddypress .youzer .yz-my-account-widget,
  .buddypress #bbpress-forums ul.bbp-topics,
  .buddypress #bbpress-forums ul.bbp-forums,
  .buddypress #bbpress-forums ul.bbp-replies,
  .buddypress #bbpress-forums ul.bbp-lead-topic,
  .buddypress #bbpress-forums ul.bbp-search-results,
  .buddypress #bbpress-forums div.bbp-search-form {
    margin-bottom: 25px;
  }

  #bbpress-forums .bbp-topics .bbp-body li,
  #bbpress-forums .bbp-forums .bbp-body li {
    text-align: center;
  }

  .yz-forums-topic-item .yz-forums-topic-icon,
  .yz-forums-forum-item .yz-forums-forum-icon,
  .yz-forums-forum-item .yz-forums-forum-head {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  .yz-forums-topic-item .yz-forums-topic-title,
  .yz-forums-forum-item .yz-forums-forum-title {
    display: block;
    margin-bottom: 8px;
  }

  #bbpress-forums li.bbp-body ul.forum,
  #bbpress-forums li.bbp-body ul.topic {
    text-align: center;
  }

  .yz-forums-topic-item .yz-forums-topic-head,
  .yz-forums-forum-item .yz-forums-forum-head {
    width: 100%;
    margin-left: 0;
  }

  #bbpress-forums .bbp-body li.yz-bbp-forum-freshness {
    margin-top: 25px;
  }

  .rtl #bbpress-forums .bbp-forums-list {
    padding-right: 10px;
    margin: 20px 0 25px 0;
  }

  #bbpress-forums .bbp-forums-list {
    padding-left: 10px;
    margin: 20px 0 25px 0;
  }

  #bbpress-forums .bbp-forum-info ul.bbp-forums-list li {
    text-align: left;
  }

  .rtl #bbpress-forums .bbp-forum-info ul.bbp-forums-list li {
    text-align: right;
  }

  #bbpress-forums .forum-titles li.bbp-topic-freshness,
  #bbpress-forums .forum-titles li.bbp-forum-freshness,
  #bbpress-forums .forum-titles li.bbp-forum-topic-count,
  #bbpress-forums .forum-titles li.bbp-topic-voice-count,
  #bbpress-forums .forum-titles li.bbp-forum-reply-count,
  #bbpress-forums .forum-titles li.bbp-topic-reply-count {
    display: none;
  }

  #bbpress-forums .bbp-body li.bbp-forum-topic-count,
  #bbpress-forums .bbp-body li.bbp-topic-voice-count,
  #bbpress-forums .bbp-body li.bbp-forum-reply-count,
  #bbpress-forums .bbp-body li.bbp-topic-reply-count {
    float: none;
    line-height: 18px;
    display: inline-block;
  }

  #bbpress-forums div.bbp-topic-tags {
    clear: both;
    float: none;
  }

  div.bbp-search-form input,
  div.bbp-search-form button {
    font-size: 11px;
    padding: 2px;
  }
  li.bbp-forum-info,
  li.bbp-topic-title {
    width: 100%;
  }
  li.bbp-forum-topic-count,
  li.bbp-forum-reply-count,
  li.bbp-topic-voice-count,
  li.bbp-topic-reply-count {
    width: 25%;
  }

  span.bbp-admin-links {
    clear: both;
    float: none;
    display: block;
    margin-top: 10px;
  }

  #bbpress-forums .bbp-forums-list li {
    display: block;
    font-size: 11px;
  }
  #bbpress-forums .bbp-body div.bbp-reply-author {
    width: 100%;
    margin-bottom: 12px;
    text-align: left;
    position: relative;
  }

  .rtl #bbpress-forums .bbp-body div.bbp-reply-author {
    text-align: right;
  }

  #bbpress-forums div.bbp-reply-author a.bbp-author-name {
    clear: none;
    display: block;
    font-size: 13px;
    word-wrap: break-word;
    margin: 2px 0 10px 0;
  }

  .rtl #bbpress-forums div.bbp-reply-author .bbp-author-avatar {
    float: right;
    margin-right: 0;
    margin-left: 12px;
  }

  #bbpress-forums div.bbp-reply-author img.avatar {
    margin: 0;
    width: 50px;
    height: auto;
  }

  #bbpress-forums div.bbp-reply-author .bbp-author-role {
    margin: 0;
    font-size: 10px;
    padding: 6px 8px;
    line-height: 7px;
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  #bbpress-forums div.bbp-reply-author .bbp-reply-ip {
    display: none;
  }

  .rtl #bbpress-forums .bbp-body div.bbp-reply-content,
  #bbpress-forums .bbp-body div.bbp-reply-content {
    margin: 0;
    padding: 0;
    clear: both;
  }

  #bbpress-forums div.bbp-reply-content p {
    margin-bottom: 1em;
  }

  #bbpress-forums div.bbp-reply-content p:last-of-type {
    margin-bottom: 0;
  }

  #bbpress-forums #bbp-user-body {
    clear: both;
    margin-left: 0;
    word-wrap: break-word;
  }

  #bbpress-forums .bbp-body li.bbp-topic-title {
    margin-bottom: 18px;
  }

  #bbpress-forums .bbp-body li.yz-bbp-freshness {
    width: 100%;
    margin-top: 18px;
  }

  #bbpress-forums .yz-bbp-box .yz-bbp-box-content {
    padding: 15px;
  }

  #bbpress-forums form select {
    height: 45px;
  }

  #bbpress-forums form select,
  #bbpress-forums form .nice-select {
    width: 100%;
    padding: 5px 25px;
  }

  span.bbp-admin-links a:before {
    display: none;
  }

  #bbpress-forums .yz-bbp-box.bbp-topic-tags .yz-bbp-box-content {
    padding-bottom: 7px;
  }

}

@media only screen and (max-width: 425px) {
  /*.bbp-header .bbp-reply-content #favorite-toggle a .yz-toggle-btn,
  .bbp-header .bbp-reply-content #subscription-toggle a .yz-toggle-btn {
	  display: none;
  }
*/
  #bbpress-forums #bbp-search-form #bbp_search_submit {
    width: 100%;
    margin-top: 12px;
  }
  #bbpress-forums #bbp-search-form #bbp_search {
    margin: 0;
    width: 100%;
  }
}

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 325px) {

  .yz-single-topic-lead-title {
    display: none;
  }

  .rtl li.bbp-header div.bbp-reply-content span#subscription-toggle,
  .rtl li.bbp-header div.bbp-reply-content span#favorite-toggle,
  li.bbp-header div.bbp-reply-content span#subscription-toggle,
  li.bbp-header div.bbp-reply-content span#favorite-toggle {
    float: none;
  }

  .bbp-header .bbp-reply-content #favorite-toggle a:before,
  .bbp-header .bbp-reply-content #subscription-toggle a:before {
    font-size: 14px;
    margin-right: 8px;
  }

  .bbp-header .bbp-reply-content #favorite-toggle a,
  .bbp-header .bbp-reply-content #subscription-toggle a {
    margin: 0;
    width: 100%;
    padding: 15px;
    display: block;
    color: #888da8;
  color: var(--body-font-color);
    background: #fff;
    text-align: center;
  }

  .yz-forums-topic-item .yz-forums-topic-meta .yz-forums-topic-author {
    display: block;
    margin-bottom: 10px;
  }

  #bbpress-forums div.bbp-search-form {
    margin-bottom: 10px;
  }

  #bbpress-forums li.bbp-header li.bbp-forum-info,
  #bbpress-forums li.bbp-body li.bbp-forum-info,
  #bbpress-forums li.bbp-header li.bbp-topic-title,
  #bbpress-forums li.bbp-body li.bbp-topic-title {
    width: 100%;
  }
  #bbpress-forums li.bbp-header li.bbp-forum-info,
  #bbpress-forums li.bbp-header li.bbp-topic-title {
    text-align: center;
    text-transform: uppercase;
  }
  #bbpress-forums li.bbp-header li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-header li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-header li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-header li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count {
    width: 20%;
  }
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness {
    width: 58%;
  }
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness {
    margin-top: 7px;
  }
  #bbpress-forums li.bbp-header,
  #bbpress-forums li.bbp-footer {
    font-size: 10px;
  }
  #bbpress-forums li.bbp-header div.bbp-reply-author {
    text-align: left;
    width: 25%;
  }

  #bbpress-forums div.bbp-template-notice img.avatar,
  #bbpress-forums p.bbp-topic-meta img.avatar {
    width: 14px;
    height: auto;
  }
  #bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
    padding: 1px;
  }
  #bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td {
    width: 20px;
    height: 20px;
  }
  #bbpress-forums div.wp-editor-container {
    width: 100%;
    overflow: auto;
  }
  #bbpress-forums input#bbp_topic_title,
  #bbpress-forums input#bbp_topic_tags {
    width: 95%;
  }
}

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
  #bbpress-forums li.bbp-header li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-header li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-header li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-header li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-footer div.bbp-reply-author,
  #bbpress-forums li.bbp-footer div.bbp-reply-content {
    width: 45%;
  }
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness,
  #bbpress-forums li.bbp-header div.bbp-reply-author,
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    clear: both;
    width: 100%;
  }
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness {
    text-align: center;
  }
  #bbpress-forums li.bbp-body li.bbp-topic-freshness,
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    margin-left: 0;
    text-align: left;
  }
  #bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
    display: inline-block;
  }
  #bbpress-forums li.bbp-header {
    overflow: hidden;
  }
  #bbpress-forums li.bbp-footer div.bbp-reply-content {
    display: inline-block;
    margin-left: 0;
  }
  #bbpress-forums li.bbp-body div.bbp-reply-author {
    min-height: 60px;
    padding-left: 60px;
  }
  #bbpress-forums div.bbp-reply-author img.avatar {
    width: 40px;
    height: auto;
  }
}