.yz-widget .yz-widget-main-content {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-widget .yz-widget-head .yz-edit-widget {
  top: 9px;
  color: #9a9fbf;
  color: var(--icon-color);
}

.yz-widget .yz-widget-title {
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 700;
}

.yz-wg-title-icon-bg .yz-widget-title i {
  background-color: #edf2f6;
}

.yz-widget-title i {
  color: #9a9fbf;
  color: var(--icon-color);
  font-size: 14px;
  vertical-align: middle;
}

.yz-widget.yz-website .yz-widget-content p a,
.yz-widget.yz-website .yz-widget-content p a:hover {
  font-weight: 500;
}

.yz-link-icon i {
  background-color: #edf2f6;
  color: #9a9fbf;
  color: var(--icon-color);
}

.youzer .yz-link-content p {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-link-url {
  font-weight: 500;
}

.yz-link-main-content .yz-link-url {
  color: #515365;
  color: var(--heading-font-color);
}

.yz-quote .yz-quote-owner {
  font-weight: 500;
  font-size: 14px;
}

.quote-with-img:before {
  background-color: #52A2E2;
}

.yz-video-head .yz-video-title {
  font-weight: 500;
  color: #888da8;
  color: var(--body-font-color);
}

.yz-video-head .yz-video-title i {
  color: #9a9fbf;
  color: var(--icon-color);
  font-size: 14px;
}

.yz-video-head .yz-video-desc {
  font-size: 14px;
  color: #888da8;
  color: var(--body-font-color);
}

.yz-aboutme-head:after {
  background-color: #38a9ff;
  background-color: var(--secondary-accent-color);
}

.yz-aboutme-name {
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 700;
  letter-spacing: 0;
  text-transform: capitalize;
}

.yz-aboutme-description {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-profile-sidebar .yz-aboutme-description {
  font-size: 14px;
}

.yz-aboutme-bio {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
}

.yz-project-head {
  margin-bottom: 15px;
}

.yz-project-type {
  font-weight: 400;
  padding: 4px 12px;
}

.yz-project-type:hover,
.yz-project-type:focus,
.yz-project-type:active {
  color: #fff !important;
}

.yz-project-title {
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 700;
}

.yz-project-meta ul li i {
  color: #9a9fbf;
  color: var(--icon-color);
}

.yz-project-meta ul li a {
  color: #515365;
  color: var(--heading-font-color);
}

.yz-project-content .yz-project-tags li {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-project-content .yz-project-text p {
  font-size: 14px;
  color: #888da8;
  color: var(--body-font-color);
}

.yz-post-content .yz-post-type {
  font-weight: 500;
  padding: 2px 12px;
}

.yz-post-content .yz-post-type:hover {
  color: #fff !important;
}

.yz-post-content .yz-post-title a {
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 500;
}

.yz-post-content .yz-post-meta ul li a {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-post-content .yz-post-meta ul li {
  color: #515365;
  color: var(--heading-font-color);
}

.yz-post-content .yz-post-meta ul li i {
  color: #9a9fbf;
  color: var(--icon-color);
  vertical-align: middle;
}

.yz-post-content .yz-post-text p {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
}

.yz-service-icon i {
  background-color: #edf2f6;
  color: #9a9fbf;
  color: var(--icon-color);
  transition: all .3s ease;
}

.yz-services .yz-item-title {
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 700;
}

.yz-item-content p {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
}

.lb-data .lb-details .lb-caption {
  font-weight: 500;
}

.yz-profile-sidebar .yz-portfolio-content .yz-pf-buttons a i {
  font-size: 14px;
}

.yz-main-column .yz-reviews .yz-widget-content {
  padding: 20px 0;
}

.yz-reviews .yz-widget-content {
  background-color: #edf2f6;
}

.yz-profile-list-widget .yz-more-items {
  padding-top: 20px;
  border-top: 1px solid #e6ecf5;
}

.yz-profile-list-widget .yz-more-items a {
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  border-top: 1px solid #f5f5f5;
  background-color: #9B9EBF;
  transition: all .3s ease;
  border-top: initial;
}

.yz-profile-list-widget .yz-more-items a:hover {
  background-color: #ff5e3a;
  background-color: var(--primary-accent-color);
}

.yz-profile-avatars-widget .yz-more-items a {
  font-weight: 500;
}

.yz-box-head .yz-box-title {
  font-weight: 500;
}

.yz-box-address {
  background: #08ddc1;
  background: url(../../images/dotted-bg.png), linear-gradient(to left, #888da8, #38a9ff);
  background: url(../../images/dotted-bg.png), -webkit-linear-gradient(right, #888da8, #38a9ff);
}

.yz-box-phone {
  background: #514A9D;
  background: url(../../images/dotted-bg.png), linear-gradient(to left, #888da8, #514A9D);
  background: url(../../images/dotted-bg.png), -webkit-linear-gradient(right, #888da8, #514A9D);
}

.yz-box-email {
  background: #38a9ff;
  background: url(../../images/dotted-bg.png), linear-gradient(to left, #888da8, #08ddc1);
  background: url(../../images/dotted-bg.png), -webkit-linear-gradient(right, #888da8, #08ddc1);
}

.yz-box-website {
  background-color: #7c5ac2;
  background-color: var(--third-accent-color);
  background: url(../../images/dotted-bg.png), linear-gradient(to left, #888da8, #7c5ac2);
  background: url(../../images/dotted-bg.png), -webkit-linear-gradient(right, #888da8, #7c5ac2);
}

.yz-wg-networks.yz-icons-full-width li a {
  font-size: 14px;
  font-weight: 500;
}

.yz-recent-posts .yz-post-item {
  padding: 20px 35px;
  border-top: 1px solid #e6ecf5;
}

.yz-recent-posts .yz-post-head .yz-post-title {
  font-size: 14px;
  text-transform: none;
  margin-bottom: 0;
  font-weight: 700;
}

.yz-recent-posts .yz-post-head .yz-post-title a {
  font-size: 14px;
  color: #515365;
  color: var(--heading-font-color);
  text-transform: none;
  line-height: initial;
}

.yz-recent-posts .yz-post-head .yz-post-title a:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

.yz-recent-posts .yz-post-meta ul li {
  color: #888da8;
  color: var(--body-font-color);
  font-weight: 700;
}

.yz-widget .yz-user-tags .yz-utag-name {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
  font-weight: 500;
}

.yz-widget .yz-user-tags .yz-utag-name i {
  color: #9a9fbf;
  color: var(--icon-color);
  font-size: 14px;
}

.yz-widget .yz-user-tags .yz-utag-description {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
}

.yz-widget .yz-user-tags .yz-utag-values .yz-utag-value-item {
  font-weight: 500;
}

#youzer .yz-tab-post .yz-post-title a {
  color: #515365;
  color: var(--heading-font-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: none;
}

#youzer .yz-tab-post .yz-post-title a:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

.yz-tab-post .yz-post-meta ul li {
  color: #888da8;
  color: var(--body-font-color);
  margin: 5px 12px 5px 0;
}

.yz-tab-post .yz-post-meta ul li i {
  color: #9a9fbf;
  color: var(--icon-color);
}

.yz-tab-post .yz-post-meta ul li a {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-tab-post .yz-post-meta ul li a:hover {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

.yz-tab-post .yz-post-text p {
  font-size: 14px;
  color: #888da8;
  color: var(--body-font-color);
}

.yz-post .yz-read-more {
  height: auto;
}

.yz-tab-post .yz-read-more {
  background-color: #ff5e3a !important;
  background-color: var(--primary-accent-color) !important;
  text-transform: capitalize;
}

.yz-tab-comment .yz-comment-head {
  border-bottom: 1px solid #e6ecf5;
}

.yz-tab-comment .yz-comment-fullname {
  color: #515365;
  color: var(--heading-font-color);
  font-size: 14px;
  font-weight: 500;
}

.yz-tab-comment .yz-comment-meta ul li {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-tab-comment .yz-comment-excerpt p {
  font-size: 14px;
  color: #888da8;
  color: var(--body-font-color);
}

.yz-tab-comment .view-comment-button {
  color: #fff;
  font-weight: 500;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #38a9ff;
  background-color: var(--secondary-accent-color);
}

.yz-infos-content .yz-info-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.yz-infos-content .yz-info-label,
.yz-infos-content .yz-info-data a,
.yz-infos-content .yz-info-data {
  font-size: 14px;
  color: #888da8;
  color: var(--body-font-color);
}

.yz-infos-content .yz-info-label {
  color: #515365;
  color: var(--heading-font-color);
  font-size: 14px;
  font-weight: 500;
  width: 30%;
  min-width: unset;
}

.yz-info-msg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.yz-info-msg p {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
  font-weight: 500;
}

.yz-info-msg p strong {
  font-size: 14px;
}

.yz-failure-msg .yz-msg-icon {
  background-color: #ff5e3a;
  background-color: var(--primary-accent-color);
}

.youzer_msg span {
  font-size: 14px;
}

.yz-box-404 h2 {
  font-weight: 500;
}

.yz-box-404 h3 {
  color: #888da8;
  color: var(--body-font-color);
}

.yz-box-404 p {
  font-size: 14px;
  font-weight: 500;
}

.yz-box-404 .yz-box-button {
  font-size: 14px;
  font-weight: 500;
}

#yz-profile-navmenu {
  z-index: 10;
  position: initial;
}

.youzer .yz-boxed-navbar .yz-profile-navmenu {
  margin-left: 0;
}

.youzer .yz-boxed-navbar .yz-profile-navmenu .yz-navbar-item a {
  min-width: 100px;
}

.youzer .yz-profile-navmenu .yz-nav-view-more-menu a {
  border-left: 4px solid transparent !important;
  transition: all .3s ease;
  text-transform: capitalize;
}

.youzer .yz-profile-navmenu .yz-nav-view-more-menu .yz-active-menu a:hover {
  border-left-color: transparent !important;
  color: #515365;
  color: var(--heading-font-color);
}

.youzer .yz-profile-navmenu .yz-nav-view-more-menu a:hover {
  border-left-color: #ff5e3a !important;
  border-left-color: var(--primary-accent-color) !important;
  color: #515365;
  color: var(--heading-font-color);
}

.yz-vertical-layout .yz-navbar-block-icons .yz-navbar-item a,
.yz-horizontal-layout .yz-navbar-block-icons .yz-navbar-item a {
  display: inline-block;
}

.yz-profile-navmenu .yz-navbar-item a span,
.yz-profile-navmenu .yz-navbar-item a span.count {
  min-width: 10px;
  margin-left: 2px;
  padding: 2px;
  color: #ff5e3a;
  color: var(--primary-accent-color);
  background-color: transparent;
  line-height: 1;
}

.yz-profile-navmenu .yz-navbar-item a {
  color: #888da8;
  color: var(--body-font-color);
  display: inline-flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  font-weight: 700;
  line-height: 1.4;
  font-size: 14px;
  text-transform: none;
}

.yz-profile-navmenu .yz-navbar-item.yz-active-menu a {
  color: #515365;
  color: var(--heading-font-color);
}

.yz-profile-navmenu .yz-navbar-item a:hover {
  color: #515365;
  color: var(--heading-font-color);
}

.yz-profile-navmenu .yz-navbar-item.yz-active-menu {
  border-bottom-color: #ff5e3a !important;
  border-bottom-color: var(--primary-accent-color) !important;
  border-right-color: #e6ecf5 !important;
}

.yz-profile-navmenu .yz-navbar-item a i {
  font-size: 20px;
}

.yz-navbar-item a i {
  color: #9a9fbf;
  color: var(--icon-color);
}

.yz-responsive-menu span {
  background: var(--icon-color);
}

.yz-responsive-menu span:before,
.yz-responsive-menu span::after {
  background-color: var(--icon-color);
}

.yz-profile-navmenu .yz-nav-view-more-menu {
  top: calc(100% + 15px);
}

.yz-profile-navmenu .yz-nav-view-more-menu:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #fff;
  left: 25px;
}

.yz-profile-navmenu .yz-nav-view-more-menu li a {
  font-size: 13px;
  border-top: 1px solid #e6ecf5;
}

.yz-profile-navmenu .yz-nav-view-more-menu li a i {
  vertical-align: middle;
}

.yz-profile-navmenu .yz-nav-view-more-menu li a span,
.yz-profile-navmenu .yz-nav-view-more-menu li a span.count {
  float: none;
}

.yz-profile-navmenu .yz-nav-view-more-menu li a span,
.rtl .yz-profile-navmenu .yz-nav-view-more-menu li a span.count {
  float: none;
}

.yz-name .yz-user-status {
  font-weight: 500;
  margin-left: 13px;
  line-height: 1;
  padding: 3px 5px;
}

.yz-name .yz-user-online {
  background-color: #1ed760;
}

.yz-nav-settings {
  margin-left: 15px;
}

.yz-nav-settings .yz-settings-img {
  background-color: #e6ecf5;
}

#yz-profile-navmenu .yz-settings-menu a {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

#yz-profile-navmenu .yz-settings-menu a:hover span {
  color: #ff5e3a;
  color: var(--primary-accent-color);
}

#yz-profile-navmenu .yz-settings-menu a .yz-icon {
  line-height: 1;
}

#yz-profile-navmenu .yz-settings-menu a i {
  margin-right: 4px;
  color: #9a9fbf;
  color: var(--icon-color);
}

#yz-profile-navmenu .yz-settings-menu a span {
  color: #888da8;
  color: var(--body-font-color);
  font-weight: 500;
}

#yz-profile-navmenu .yz-settings-menu a:hover i {
  color: #515365;
  color: var(--heading-font-color);
}

.yz-custom-widget-box a,
.yz-custom-widget-box p {
  color: #888da8;
  color: var(--body-font-color);
  font-size: 14px;
}

.yz-custom-widget-box a {
  font-weight: 500;
}

.yz-recent-posts .yz-post-head .yz-post-title a,
.yz-wg-networks.yz-icons-full-width li a,
.yz-tab-comment .yz-comment-excerpt p,
.yz-profile-navmenu .yz-navbar-item a,
.yz-project-content .yz-project-title,
.yz-tab-comment .yz-comment-fullname,
.yz-post-plus4imgs .yz-post-imgs-nbr,
.yz-recent-posts .yz-post-meta ul li,
.yz-post-content .yz-post-title a,
.yz-tab-comment .yz-comment-title,
.yz-tab-post .yz-post-meta ul li,
.yz-form .youzer-form-message p,
.yz-infos-content ul li strong,
.yz-video-head .yz-video-title,
.yz-video-head .yz-video-desc,
.yz-tab-post .yz-post-title a,
.yz-quote-content blockquote,
.yz-tab-post .yz-post-text p,
.yz-widget .yz-widget-title,
.yz-box-head .yz-box-title,
.youzer .yz-link-content p,
.pagination .page-numbers,
.yz-infos-content ul li p,
.yz-aboutme-description,
.yz-info-msg p strong,
.lb-data .lb-caption,
.lb-data .lb-number,
.yz-profile-login,
.youzer_msg span,
.yz-aboutme-name,
.yz-project-type,
.yz-quote-owner,
.yz-box-404 h2,
.yz-info-msg p,
.yz-post-type,
.yz-box-404 p,
.yz-item-title {
  font-family: inherit;
}

.yz-skillbar-title,
.yz-skill-bar-percent {
  font-family: inherit;
}

.yz-icons-full-width.yz-icons-no-bg li a {
  border: 1px solid #e6ecf5;
}

.yz-profile-login {
  font-size: 14px;
}

#yz-not-friend-message strong {
  font-weight: 500;
}

#yz-not-friend-message p {
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
}

.yz-pagination .yz-pagination-pages,
.yz-pagination .yz-nav-links .page-numbers {
  color: #515365;
  color: var(--heading-font-color);
  box-shadow: none;
}

.yz-about_me .yz-aboutme-container iframe {
  max-width: 100%;
}

/**
 * Media Queries
 */

@media screen and (min-width: 769px) and (max-width: 1400px) {

  .yz-profile-navmenu .yz-navbar-item a {
    padding: 15px 10px;
  }

  .yz-horizontal-layout .yz-page-main-content {
    padding: 35px 35px 0;
  }

  .youzer.yz-vertical-wild-navbar #yz-profile-navmenu {
    margin: 0 auto 25px;
  }

  .yz-horizontal-layout .yz-nav-effect .yz-menu-border,
  .yz-horizontal-layout .yz-navbar-item a {
    min-width: 115px;
  }

  .yz-profile-sidebar .yz-portfolio-content li {
    width: 50%;
  }

  .yz-profile-sidebar .yz-portfolio-content figure .yz-projet-img {
    height: 135px;
  }

  .yz-horizontal-layout #yz-profile-navmenu:not(.yz-boxed-navbar) {
    padding: 0 35px;
  }

  /* Vertical Layout Css */

  .yz-vertical-layout .yz-content {
    padding: 25px 25px 0 25px;
  }

  .yz-vertical-layout:not(.yz-vertical-wild-navbar) .yz-page-main-content {
    padding: 25px 0 0;
  }

  .yz-vertical-layout .yz-profile-content .yz-inner-content {
    padding-left: 25px;
  }

  .yz-vertical-layout .yz-nav-effect .yz-menu-border,
  .yz-vertical-layout .yz-navbar-item a {
    min-width: 125px;
  }

  .yz-vertical-layout .yz-profile-sidebar {
    margin-top: 25px;
  }

  .yz-widget {
    margin-bottom: 25px;
  }

}

@media screen and (max-width: 1300px) {
  #yz-profile-navmenu .yz-inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
  }

  .youzer .yz-profile-navmenu {
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .yz-main-column .vertical-services-layout .yz-service-item {
    width: 50% !important;
  }

  .youzer .tablenav-pages,
  .mycred-history #buddypress.youzer .mycred-table,
  .yz-tab-title-box {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {

  .youzer .yz-profile-navmenu > .yz-navbar-item.yz-navbar-view-more {
    padding: 0 20px 0 0;
  }

  .yz-profile-navmenu .yz-navbar-item a span {
    float: none;
  }

  .youzer.yz-vertical-wild-navbar #yz-profile-navmenu {
    width: 100%;
    margin: 0 auto 35px;
  }

  .yz-quick-buttons .yz-button-item span,
  .yz-quick-buttons .yz-button-item i {
    font-size: 24px;
  }

  #yz-profile-navmenu:not(.yz-boxed-navbar) {
    width: 100%;
    display: table;
  }

  .yz-open-nav {
    height: 65px;
    float: left;
  }

  .rtl .yz-open-nav {
    float: right;
  }

  #yz-profile-navmenu .yz-inner-content {
    padding: 0;
    display: block;
  }

  .yz-settings-area {
    padding-right: 25px;
  }

  .youzer .yz-profile-navmenu {
    right: 0;
    clear: both;
    display: none;
    width: initial;
    border-bottom: none;
    flex-direction: column;
  }

  .rtl .youzer .yz-boxed-navbar .yz-profile-navmenu,
  .youzer .yz-boxed-navbar .yz-profile-navmenu {
    margin: 0;
  }

  .youzer .yz-boxed-navbar .yz-settings-area {
    margin-right: 0;
  }

  .youzer .yz-profile-navmenu > li,
  .youzer .yz-profile-navmenu > .yz-navbar-item {
    margin: 0;
    float: none;
    display: block;
    text-align: left;
    padding: 0;
    border-left: 4px solid transparent;
    transition: all .3s ease;

    &:hover {
      border-left-color: #ff5e3a !important;
      border-left-color: var(--primary-accent-color) !important;
    }

    &.yz-navbar-view-more {
      border-left: none;

      & > a {
        display: none;
      }
    }
  }

  .rtl .youzer .yz-profile-navmenu > li,
  .rtl .youzer .yz-profile-navmenu > .yz-navbar-item {
    text-align: right;
  }

  .youzer .yz-profile-navmenu > .yz-navbar-item:nth-last-child(2) {
    border-bottom: none;
  }

  .youzer .yz-profile-navmenu .yz-navbar-item:first-child {
    margin-top: 0;
  }

  .youzer .yz-profile-navmenu .yz-navbar-item a {
    margin: 0;
    width: 100%;
    border: none;
    font-size: 14px;
    padding: 10px 20px;
  }

  .youzer .yz-profile-navmenu .yz-navbar-item a .count {
    float: none;
  }

  .youzer .yz-profile-navmenu .yz-navbar-item a > i {
    margin: 0;
    width: auto;
    text-align: center;
    margin-right: 12px;
  }

  .yz-navbar-block-icons .yz-navbar-item a i {
    display: inline-block;
    margin: 0 12px 0 0;
    vertical-align: middle;
  }

  .yz-profile-navmenu .yz-navbar-item.yz-active-menu {
    border: none;
    border-left: 4px solid;
  }

  .yz-profile-navmenu .yz-navbar-view-more > a {
    display: none;
  }

  .yz-profile-navmenu .yz-nav-view-more-menu {
    border: none;
    position: initial;
    box-shadow: none;
    display: block !important;
    background-color: transparent;
  }

  #yz-profile-navmenu .yz-settings-area {
    top: 0;
    padding: 0;
    right: 35px;
    direction: ltr;
    position: absolute;
  }

  .rtl .yz-nav-settings .yz-settings-icon {
    margin: 0 0 0 5px;
  }

  .yz-responsive-menu {
    display: block;
  }

  .youzer .yz-icons-without-bg ul li {
    padding: 0 15px 0 0;
  }

  .yz-horizontal-layout .yz-page-main-content {
    padding: 35px 35px 0;
  }

  .yz-profile-sidebar.yz-portfolio-content figure .yz-projet-img,
  .yz-profile-sidebar .yz-photos-content figure .yz-projet-img {
    height: 215px;
  }

  #yz-main-comments,
  #yz-main-posts {
    min-height: initial;
  }

  .youzer.yz-vertical-layout #yz-profile-header,
  .youzer.yz-vertical-layout .yz-profile-sidebar,
  .youzer.yz-vertical-layout .yz-profile-content {
    width: 100%;
    float: none;
    max-width: initial;
    min-height: initial !important;
  }

  .yz-tab-title-box,
  .youzer .tablenav-pages,
  .mycred-history #buddypress.youzer .mycred-table,
  .youzer.yz-vertical-layout #yz-profile-header {
    margin-bottom: 35px;
  }

  .youzer.yz-vertical-layout .yz-inner-content {
    padding: 0;
  }

  .youzer.yz-vertical-layout .yz-page-main-content {
    padding-bottom: 0;
  }

  .youzer.yz-vertical-layout {
    padding: 0 35px;
  }

  .yz-vertical-layout .yz-nav-settings {
    margin-right: 0;
  }

  .yz-vertical-layout .yz-profile-sidebar {
    margin-top: 0;
  }

  .yz-slider .owl-buttons div {
    opacity: 0.8 !important;
  }

  /* Loader */
  .yz-loading .youzer_msg {
    margin-top: 0;
  }

  /* Pagination */
  .pagination {
    margin-bottom: 0;
  }

  .youzer .yz-box-404 {
    padding: 100px 0;
  }

  .yz-widget .yz-widget-head .yz-edit-widget {
    opacity: 1;
  }
  /*
	  .yz-sidebar-column .yz-review-item .yz-item-head .yz-item-img {
		  margin-right: auto;
	  }*/

  .yz-main-column .yz-post-content .yz-post-thumbnail,
  .yz-main-column .yz-project-content .yz-project-thumbnail,
  .yz-main-column .yz-tab-posts .yz-post-thumbnail {
    position: relative;
    width: 100%;
    float: none;
    height: 215px;
  }

  .yz-main-column .yz-post-content .yz-post-container,
  .yz-main-column .yz-project-content .yz-project-container,
  .yz-main-column .yz-tab-post .yz-post-container {
    position: relative;
    width: 100%;
    margin: 0;
  }

}

@media screen and (max-width: 475px) {

  .yz-widget .yz-widget-head .yz-edit-widget {
    top: 4px;
  }

  .youzer .yz-wg-networks.yz-icons-full-width {
    padding: 10px 20px;
  }

  .yz-infos-content {
    padding: 25px 20px;
  }

  .yz-recent-posts .yz-post-thumbnail {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  .yz-recent-posts .yz-post-item {
    padding: 10px 20px 20px;
  }

  .yz-widget .yz-widget-title {
    padding: 10px 20px;
  }

  .yz-profile-list-widget {
    padding: 10px 20px 20px;
  }

  .youzer.yz-vertical-wild-navbar #yz-profile-navmenu {
    width: 100%;
    margin: 0 auto 25px;
  }

  #yz-profile-navmenu .yz-settings-area {
    right: 25px;
  }

  #yz-profile-navmenu .yz-social-buttons {
    top: initial;
    right: initial;
    clear: both;
    float: none;
    padding: 25px;
    display: block !important;
    margin-top: 25px;
    position: initial;
    border-top: 1px solid #f6f6f6;
  }

  #yz-profile-navmenu .yz-social-buttons div {
    width: 100%;
    display: block;
  }

  .yz-social-buttons .message-button {
    margin-top: 12px;
  }

  #yz-profile-navmenu .yz-social-buttons a {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  .rtl #yz-profile-navmenu .yz-social-buttons a {
    direction: rtl;
  }

  .youzer.yz-vertical-layout {
    padding: 0 25px;
  }

  .yz-vertical-layout .yz-content,
  .youzer.yz-vertical-layout:not(.yz-vertical-wild-navbar) .yz-page-main-content,
  .yz-vertical-layout:not(.yz-vertical-wild-navbar) .yz-content {
    padding-top: 25px;
  }

  .yz-widget,
  .yz-hdr-v7,
  .yz-loading,
  .yz-tab-post,
  .yz-tab-comment,
  .yz-profile-login,
  .yz-tab-title-box,
  .youzer .tablenav-pages,
  .mycred-history #buddypress.youzer .mycred-table,
  .youzer.yz-vertical-layout #yz-profile-header {
    margin-bottom: 25px;
  }

  .yz-pagination {
    margin-bottom: 10px;
  }

  .yz-horizontal-layout.yz-wild-content #yz-profile-navmenu:not(.yz-boxed-navbar) .yz-nav-settings {
    margin: 0 0 0 15px;
  }

  .yz-main-column .yz-tab-posts .yz-no-thumbnail,
  .yz-post-content .yz-no-thumbnail,
  .yz-project-content .yz-no-thumbnail {
    width: 100%;
    float: none;
    min-height: 180px;
    position: relative;
  }

  .yz-horizontal-layout .yz-page-main-content {
    padding: 25px 10px 0;
  }

  .yz-main-column .yz-service-item {
    float: none;
    width: 100%;
    margin-bottom: 35px;
  }

  .yz-profile-sidebar .yz-portfolio-content li,
  .yz-main-column .yz-portfolio-content li,
  .yz-main-column .yz-photos-content li,
  .yz-profile-sidebar .yz-photos-content li {
    width: 50%;
  }

  .yz-main-column .yz-portfolio-content figure .yz-projet-img,
  .yz-main-column .yz-photos-content figure .yz-projet-img,
  .yz-profile-sidebar .yz-portfolio-content figure .yz-projet-img,
  .yz-profile-sidebar .yz-photos-content figure .yz-projet-img {
    height: 180px;
  }

  .yz-main-column .yz-quote-content blockquote {
    font-size: 15px;
  }

  .yz-main-column .quote-with-img .yz-quote-main-content {
    padding: 25px;
  }

  .yz-main-column .yz-aboutme-container {
    text-align: center;
  }

  .yz-main-column .yz-user-img {
    float: none;
    margin: 0 auto 25px auto;
  }

  .yz-main-column .yz-aboutme-name {
    font-size: 18px;
    letter-spacing: 3px;
  }

  .yz-main-column .yz-aboutme-description {
    font-size: 14px;
  }

  .yz-main-column .yz-aboutme-head:after {
    margin: 15px auto 0 auto;
  }

  /* Comments */
  .yz-tab-comment .yz-comment-head {
    padding: 20px 35px;
  }

  .yz-tab-comment .yz-comment-img {
    display: block;
  }

  .yz-tab-comment .yz-comment-img img {
    float: none;
    margin: 0 auto 15px;
  }

  .yz-tab-comment .yz-comment-fullname {
    display: block;
    margin-bottom: 15px;
  }

  .yz-tab-comment .yz-comment-content {
    text-align: center;
  }

  .yz-tab-comment .yz-comment-excerpt {
    padding: 25px;
  }

  .rtl .yz-tab-comment .view-comment-button,
  .yz-tab-comment .view-comment-button {
    float: none;
    width: 150px;
    padding: 7px 15px;
    margin: 0 auto 15px;
  }

  .yz-infos-content ul li strong {
    display: block;
  }

  .yz-main-column .yz-post-inner-content,
  .yz-main-column .yz-project-inner-content {
    padding: 30px;
  }

  .yz-infos-content .yz-info-data,
  .yz-infos-content .yz-info-label {
    width: 100%;
  }

  .yz-infos-content .yz-info-label {
    margin-bottom: 8px;
  }

  .yz-infos-content .yz-info-item {
    padding-bottom: 20px;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .yz-main-column .horizontal-services-layout .yz-item-content {
    padding: 0;
    width: 100%;
  }

  .yz-main-column .horizontal-services-layout .yz-item-content,
  .yz-main-column .horizontal-services-layout .yz-service-icon {
    display: block;
  }

  .yz-main-column .horizontal-services-layout .yz-item-title,
  .yz-main-column .horizontal-services-layout .yz-item-content p {
    text-align: center;
  }

  .yz-main-column .horizontal-services-layout .yz-item-title {
    margin-bottom: 15px;
  }

  .yz-main-column .horizontal-services-layout .yz-service-icon {
    margin-bottom: 20px;
  }

  .yz-main-column .vertical-services-layout .yz-service-item {
    width: 100% !important;
    float: none;
  }

  .rtl .yz-name .yz-user-status,
  .yz-name .yz-user-status {
    display: table;
    margin: 15px auto;
  }

  .yz-tab-post .yz-post-meta ul li {
    margin-bottom: 10px;
  }

  .yz-tab-post .yz-post-head {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {

  #yz-profile-header .yz-user-rating-stars + .yz-separator {
    display: none;
  }

  .yz-horizontal-layout .yz-page-main-content {
    padding: 15px 10px 0;
  }

  #yz-profile-navmenu .yz-settings-area,
  #yz-profile-navmenu .yz-social-buttons {
    right: 15px;
  }

  .youzer.yz-vertical-layout {
    padding: 0 15px;
  }

  .yz-responsive-menu {
    left: 20px;
  }

  .yz-vertical-layout .yz-content,
  .youzer.yz-vertical-layout:not(.yz-vertical-wild-navbar) .yz-page-main-content,
  .yz-vertical-layout:not(.yz-vertical-wild-navbar) .yz-content {
    padding-top: 15px;
  }

  .yz-widget,
  .yz-hdr-v7,
  .yz-loading,
  .yz-tab-post,
  .yz-tab-comment,
  .yz-profile-login,
  .yz-tab-title-box,
  .youzer .tablenav-pages,
  .mycred-history #buddypress.youzer .mycred-table,
  .youzer.yz-vertical-layout #yz-profile-header {
    margin-bottom: 15px;
  }

  .yz-pagination {
    margin-bottom: 0;
  }

  .yz-pagination .yz-pagination-pages,
  .yz-pagination .yz-nav-links .page-numbers {
    margin-bottom: 10px;
  }

  .yz-horizontal-layout .yz-page-main-content {
    padding: 15px 10px 0;
  }

  .yz-profile-sidebar .yz-portfolio-content li,
  .yz-main-column .yz-portfolio-content li,
  .yz-main-column .yz-photos-content li,
  .yz-profile-sidebar .yz-photos-content li {
    width: 100%;
  }

  .yz-main-column .yz-portfolio-content figure .yz-projet-img,
  .yz-main-column .yz-photos-content figure .yz-projet-img,
  .yz-profile-sidebar .yz-portfolio-content figure .yz-projet-img,
  .yz-profile-sidebar .yz-photos-content figure .yz-projet-img {
    height: 215px;
  }

  /* 404 Box */

  .youzer .yz-box-404 {
    padding: 60px 0;
  }

  .yz-box-404 h2 {
    font-size: 150px;
    display: flex;
    align-items: flex-start;
  }
}