@import "theme-styles/variables";


/*------------- #BBPress --------------*/


body.olympus-theme {

  div.bbp-template-notice.info {
	background-color: $white-color;
	border-color: $border-color;
  }

  div.bbp-template-notice p {
	padding: 10px;
  }

  #bbpress-forums p.bbp-topic-meta span {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;

	.bbp-author-link {
	  display: inline-flex;
	}
  }

  .bbp-reply-header a.bbp-reply-permalink {
	color: $primary-color;
	color: var(--primary-accent-color);
  }

  #bbpress-forums p.bbp-topic-meta img.avatar,
  #bbpress-forums ul.bbp-reply-revision-log img.avatar,
  #bbpress-forums ul.bbp-topic-revision-log img.avatar,
  #bbpress-forums div.bbp-template-notice img.avatar,
  #bbpress-forums .widget_display_topics img.avatar,
  #bbpress-forums .widget_display_replies img.avatar {
	margin-bottom: 0;
	border: none;
	border-radius: 100%;
  }


  #bbpress-forums li.bbp-header {
	background-color: $blue;
	background-color: var(--secondary-accent-color);
	color: $white-color;
	border-top: none;
  }

  #bbpress-forums .bbp-body li.bbp-forum-topic-count,
  #bbpress-forums .bbp-body li.bbp-forum-reply-count,
  #bbpress-forums .bbp-body li.bbp-topic-voice-count,
  #bbpress-forums .bbp-body li.bbp-topic-reply-count{
	font-size: .875rem;
	color: #515365;
	color: var(--heading-font-color);
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 700;
  }


  #bbpress-forums .bbp-body li.bbp-forum-freshness > a,
  #bbpress-forums .bbp-body li.bbp-topic-freshness > a{
	font-size: 11px;
	font-weight: 400;
	color: $body-font-color;
	color: var(--body-font-color);
  }

  #bbpress-forums ul.bbp-forums,
  #bbpress-forums ul.bbp-topics,
  #bbpress-forums ul.bbp-replies {
	border-radius: 5px;
	overflow: visible;
	border-color: $border-color;
  }

  #bbpress-forums li.bbp-header,
  li.bbp-body div.hentry {
	padding: 15px 25px;
  }

  #bbpress-forums li .bbp-forum-title,
  #bbpress-forums li .bbp-topic-title a,
  #bbpress-forums .bbp-body li.bbp-forum-freshness .bbp-author-name,
  #bbpress-forums .bbp-body li.bbp-topic-freshness .bbp-author-name,
  #bbpress-forums .bbp-body li.bbp-topic-freshness p.bbp-topic-meta a,
  div.bbp-breadcrumb a,
  #bbpress-forums div.bbp-reply-author a.bbp-author-name {
	font-size: .875rem;
	color: #515365;
	color: var(--heading-font-color);
	font-family: inherit;
	font-weight: 700;
	margin: 0;

	&:hover {
	  color: $primary-color;
	  color: var(--primary-accent-color);
	}
  }

  #bbpress-forums .bbp-forum-info .bbp-forum-content {
	font-size: 13px;
	margin: 0;
  }

  #bbpress-forums li.bbp-body ul.forum,
  #bbpress-forums li.bbp-body ul.topic {
	display: flex;
	align-items: center;
	padding: 35px 25px;
  }

  #bbpress-forums li.bbp-footer {
	background-color: transparent;
	border-color: $border-color;
  }

  div.bbp-template-notice,
  div.indicator-hint {
	color: $body-font-color;
	color: var(--body-font-color);
  }

  #bbpress-forums div.bbp-the-content-wrapper input {
	width: auto;
  }

  #bbpress-forums fieldset.bbp-form {
	padding: 24px 23px 23px;
  }

  #bbpress-forums fieldset.bbp-form input {
	&[type="checkbox"] {
	  width: auto;
	  display: inline-block;
	  margin-right: 5px;
	}
  }

  #bbpress-forums fieldset.bbp-form legend {
	font-size: .875rem;
	padding: 23px 25px 18px;
	border-radius: 5px ;
	border: 1px solid $border-color;
	margin-bottom: 0;
  }

  .bbp-submit-wrapper {
	float: left;
  }

  .bbp-submit-wrapper button {
	background-color: $blue;
	background-color: var(--secondary-accent-color);
	color: $white-color;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: .812rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: all .15s ease-in-out;
  }

  #bbpress-forums .bbp-forums-list li {
	display: block;
  }

  #bbpress-forums .bbp-forums-list li a {
	font-size: 12px;
	padding: 5px 13px;
	display: inline-block;
	margin-bottom: 0;
	color: #515365;
	color: var(--heading-font-color);
	font-family: inherit;
	font-weight: 700;

	&:hover {
	  color: $primary-color;
	  color: var(--primary-accent-color);
	}
  }

  #bbpress-forums .bbp-forums-list {
	margin-bottom: 0;
	padding: 5px 0;
	margin-top: 15px;
	display: inline-block;
	border-color: $border-color;
  }

  #bbpress-forums div.bbp-reply-author img.avatar {
	border-radius: 100%;
	overflow: hidden;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
  }

  #bbpress-forums div.bbp-reply-header {
	padding: 10px 23px;
	background-color: $smoke-light;
	font-size: 11px;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
  }

  #bbpress-forums div.bbp-topic-content a,
  #bbpress-forums div.bbp-reply-content a {
	display: block;
  }

  #bbpress-forums div.odd,
  #bbpress-forums ul.odd {
	background-color: $white-color;
  }

  #bbpress-forums .bbp-body div.bbp-reply-content {
	padding: 12px;
  }

  span.bbp-admin-links a {
	font-size: 11px;
	font-weight: normal;
	text-transform: none;
	color: $primary-color;
	color: var(--primary-accent-color);
  }

  #bbpress-forums li.bbp-footer .bbp-reply-author,
  #bbpress-forums li.bbp-footer .bbp-reply-content {
	color: $white-color;
  }

  #bbpress-forums {
	background-color: $white-color;
	border-radius: 5px;
	border: 1px solid $border-color;
	margin-bottom: 15px;
	padding: 24px 23px 23px;

	.entry-title {
	  font-size: 1.4rem;
	  font-weight: 500;
	}
  }

  #bbpress-forums li.bbp-topic-freshness {
	display: flex;
	flex-direction: column-reverse;

	p.bbp-topic-meta {
	  a {
		display: block;
		font-weight: 700;
		color: #515365;
		color: var(--heading-font-color);
		margin-bottom: 5px;

		&:hover {
		  color: $primary-color;
		  color: var(--primary-accent-color);
		}

		img.avatar {
		  width: 26px;
		  height: 26px;
		}
	  }
	}
  }

  #bbpress-forums p.bbp-topic-meta {
	margin: 0;
  }

  #bbpress-forums div.bbp-topic-tags {
	float: none;
	text-align: right;

	p {
	  margin-bottom: 20px;
	}
  }

  #bbpress-forums li.bbp-body ul.topic,
  #bbpress-forums .bbp-user-section {
	overflow: visible;
  }

  div.bbp-template-notice p {
	a {
	  font-weight: 700;
	  color: #515365;
	  color: var(--heading-font-color);

	  &:hover {
		color: $primary-color;
		color: var(--primary-accent-color);
	  }
	}
  }

  .activity-list li.bbp_topic_create .activity-content .activity-inner,
  .activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid $border-color;
  }

  .bbp-pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	.bbp-pagination-links .page-numbers {
	  display: block;
	  padding: .9rem 1.2rem;
	  line-height: 1.25;
	  color: #515365;
	  color: var(--heading-font-color);
	  background-color: $white-color;
	  border: 1px solid #e6ecf5;
	  margin: 10px 4px;
	  border-radius: 5px;

	  &.current {
		color: $white-color;
		pointer-events: none;
		cursor: auto;
		background-color: $primary-color;
		background-color: var(--primary-accent-color);
		border-color: transparent;
	  }

	  &:hover {
		color: $white-color;
		text-decoration: none;
		background-color: $primary-color;
		background-color: var(--primary-accent-color);
		border-color: #dee2e6;
		font-weight: 400;
	  }
	}
  }

  #bbpress-forums div.bbp-search-form {
	margin-bottom: 20px;
  }

  input.button {
	width: auto;
  }

  input[type="checkbox"] {
	width: auto;
	display: inline-block;
	margin-right: 8px;
  }

  input[type="button"] {
	border: 1px solid #ccc;
	color: #767676;
	font-size: small;
	cursor: pointer;
	outline: 0;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
  }

  #bbpress-forums fieldset.bbp-form label {
	color: #888da8;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 15px;
  }

  #bbpress-forums fieldset.bbp-form p {
	margin-bottom: 20px;
  }

  #bbpress-forums ul.bbp-threaded-replies {
	margin-left: 0;
  }

  #bbp-topic-search-form div {
	display: flex;

	input {
	  width: auto;
	}
  }
}

/*================= Widgets For BBP  ============*/

.widget_display_search {
  margin-bottom: 35px;
  border: 1px solid #e6ecf5;

  .w-search {
	padding: 24px 23px 23px;

	input {
	  border: 1px solid $border-color;
	}
  }
}

.widget_display_forums {
  margin-bottom: 35px;
  border: 1px solid #e6ecf5;

  ul {
	li {
	  position: relative;
	  display: block;
	  padding: 12px 25px;
	  margin-bottom: -1px;
	  border-bottom: 1px solid $border-color;
	  border-radius: 0;

	  &:last-child {
		border-bottom: none;
	  }

	  a {
		color: $body-font-color;
		color: var(--body-font-color);
		font-weight: 700;
		font-size: 12px;

		&:hover {
		  color: $primary-color;
		  color: var(--primary-accent-color);
		}
	  }
	}
  }
}

.bbp_widget_login {
  margin-bottom: 35px;
  border: 1px solid #e6ecf5;

  .bbp-logged-in {
	padding: 24px 23px 23px;

	img.avatar {
	  border-radius: 100%;
	}

	h4 {
	  margin-bottom: 0;
	  font-size: 12px;

	  a {
		display: block;
	  }
	}

	a {
	  color: $secondary-color;
	  font-weight: 700;

	  &:hover {
		color: $primary-color;
		color: var(--primary-accent-color);
	  }

	  &.logout-link {
		padding: 3px 10px;
		background-color: $primary-color;
		background-color: var(--primary-accent-color);
		color: $white-color;
		font-size: 10px;
		border-radius: 3px;
	  }
	}
  }

  & > form {
	padding: 24px 23px 23px;

	input[type="checkbox"] {
	  width: auto;
	  display: inline-block;
	}

	label {
	  margin-bottom: 10px;
	}
  }

  .bbp-login-form .bbp-username,
  .bbp-login-form .bbp-submit-wrapper {
	margin-top: 0;
  }
}

.olympus-theme-sidebar .widget_display_replies,
.olympus-theme-sidebar .widget_display_topics {
  margin-bottom: 35px;
  border: 1px solid #e6ecf5;

  ul {
	padding: 0;

	img.avatar {
	  border-radius: 100%;
	  overflow: hidden;
	}

	.bbp-author-name,
	.bbp-reply-topic-title,
	.bbp-forum-title {
	  color: $body-font-color;
	  color: var(--body-font-color);
	  font-weight: 700;
	  font-size: 12px;

	  &:hover {
		color: $primary-color;
		color: var(--primary-accent-color);
	  }
	}

	li {
	  position: relative;
	  display: block;
	  margin-bottom: -1px;
	  border-bottom: 1px solid $border-color;
	  border-radius: 0;
	  min-height: 70px;

	  &:last-child {
		border-bottom: none;
	  }

	  &:before {
		top: 50%;
		transform: translateY(-50%);
	  }
	}
  }
}

.widget_display_stats {
  margin-bottom: 35px;
  border: 1px solid #e6ecf5;

  dl {

	dt {
	  padding: 10px 23px 0 23px;
	  color: $body-font-color;
	  color: var(--body-font-color);
	  font-size: 12px;
	}

	dd {
	  padding: 0 23px 10px 23px;
	  border-bottom: 1px solid $border-color;
	  font-size: 10px;

	  &:last-child {
		border-bottom: none;
	  }
	}
  }
}

.widget_display_views {
  margin-bottom: 35px;
  border: 1px solid #e6ecf5;

  ul {
	padding-left: 0;
  }

  li {
	position: relative;
	display: block;
	padding: 12px 25px;
	margin-bottom: -1px;
	border-bottom: 1px solid $border-color;
	border-radius: 0;

	&:last-child {
	  border-bottom: none;
	}

	a {
	  color: $body-font-color;
	  color: var(--body-font-color);
	  font-weight: 700;
	  font-size: 12px;

	  &:hover {
		color: $primary-color;
		color: var(--primary-accent-color);
	  }
	}
  }
}


/*================= Responsive Mode ============*/


@media (max-width: 1024px) {
  body.olympus-theme #bbpress-forums li.bbp-body ul.forum, body.olympus-theme #bbpress-forums li.bbp-body ul.topic {
	display: flex;
	align-items: center;
	padding: 15px;
  }

  body.olympus-theme #bbpress-forums li.bbp-header,
  body.olympus-theme li.bbp-body div.hentry {
	padding: 15px;
  }
}

@media (max-width: 768px) {
  body.olympus-theme .bbp-pagination .bbp-pagination-links .page-numbers {
	padding: .35rem .68rem;
  }
}

@media (max-width: 560px) {
  .forum-item  {
	text-align: center;

	img {
	  float: none;
	  margin-right: 0;
	  margin-bottom: 15px;
	}
  }

  .forums-table thead th,
  .forums-table td {
	padding: 5px;
  }
}

@media (max-width: 540px) {
  body.olympus-theme #bbpress-forums li.bbp-body ul.forum,
  body.olympus-theme #bbpress-forums li.bbp-body ul.topic {
	flex-direction: column;
  }

  li.bbp-forum-info,
  li.bbp-topic-title {
	text-align: center;
	width: 100%;
  }

  li.bbp-forum-topic-count,
  li.bbp-forum-reply-count,
  li.bbp-topic-voice-count,
  li.bbp-topic-reply-count {
	width: 100%;
  }

  li.bbp-forum-freshness,
  li.bbp-topic-freshness {
	width: 100%;
  }

  body.olympus-theme #bbpress-forums div.bbp-reply-header {
	padding: 10px;
  }
}

@media (max-width: 480px) {
  body.olympus-theme #bbpress-forums div.bbp-reply-author img.avatar {
	width: 40px;
	height: 40px;
  }

  body.olympus-theme #bbpress-forums .bbp-body div.bbp-reply-author {
	padding-left: 50px;
	min-height: unset;
	margin: -15px 10px 20px;
  }

  body.olympus-theme #bbpress-forums .bbp-body div.bbp-reply-content {
	padding: 0;
	margin: 0 10px;
  }
}

@media (max-width: 320px) {
  #bbpress-forums li.bbp-header li.bbp-forum-info,
  #bbpress-forums li.bbp-body li.bbp-forum-info,
  #bbpress-forums li.bbp-header li.bbp-topic-title,
  #bbpress-forums li.bbp-body li.bbp-topic-title {
	width: auto;
  }

  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness {
	width: auto;
  }
}