@import "theme-styles/variables";


/*------------- #Tutor LMS CUSTOMIZATION --------------*/

html:root {
  --tutor-text-color: #888da8;
  --tutor-primary-color: #38a9ff;
}


.olympus-theme {
  a.tutor-profile-photo-upload-btn,
  button.tutor-profile-photo-upload-btn {
	background-color: $blue;
	background-color: var(--secondary-accent-color);
	border-radius: 3px;
	border: none;
  }

  .tutor-dashboard-permalinks li.active a {
	background-color: $blue;
	background-color: var(--secondary-accent-color);
  }

  .tutor-dashboard-permalinks a::before {
	color: $blue;
	color: var(--secondary-accent-color);
  }

  .tutor-dashboard-inline-links ul li a:hover,
  .tutor-dashboard-inline-links ul li.active a {
	color: $blue;
	color: var(--secondary-accent-color);
	border-bottom-color: $blue;
	border-bottom-color: var(--secondary-accent-color);
  }

  .tutor-dashboard-inline-links ul li a {
	color: $secondary-color;
  }

  .withdraw-method-select-wrap .withdraw-method-select label > p {
	color: $blue;
	color: var(--secondary-accent-color);
  }

  .report-top-sub-menu a.active {
	background-color: $blue;
	background-color: var(--secondary-accent-color);
	color: #fff;
	border: 1px solid $blue;
	border: 1px solid var(--secondary-accent-color);
  }

  .ui-datepicker .ui-datepicker-calendar td a {
	color: $secondary-color;
  }

  .quiz-attempts-title,
  .tutor-quiz-attempt-history-title {
	color: $secondary-color;
  }

  .tutor-segment-title, .tutor-single-course-segment .tutor-segment-title {
	color: $secondary-color-darken;
  }

  .tutor-course-tags a {
	color: #fff;
	background-color: #7c5ac2;
	background-color: var(--third-accent-color);
	padding: 3px 15px;
  }

  .tutor-form-group {
	button[type="submit"] {
	  padding: 13px 20px;
	}
  }

  .course-complete-button {
	padding: 18px 20px;
  }

  .tutor-loop-author > div a {
	font-size: 13px;
  }

  .tutor-course-loop-title h2 a {
	font-size: 17px;
  }

  .tutor-single-page-top-bar .tutor-single-lesson-segment button.course-complete-button {
	border: 1px solid;
  }
}