@import "theme-styles/variables";


/*------------- #SHOP --------------*/

.shop-product-item {
  margin-bottom: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .product-thumb {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f2f4f8;
	margin-bottom: 10px;
	margin-right: 0;
	padding: 25px;
	position: relative;
	height: 80%;
	min-height: 80%;
  }

  .product-content {
	display: flex;
	align-items: center;

	.block-title {
	  max-width: 50%;
	}

	.block-price {
	  margin-left: auto;

	  .in-cart.added {
		opacity: 0;
		visibility: hidden;
	  }
	}

	.added_to_cart {
	  position: absolute;
	  right: 0;
	  top: 50%;
	  opacity: 0;
	  transform: translate(0, -50%);
	  border-radius: 5px;
	  text-align: center;
	  background-color: $blue;
	  background-color: var(--secondary-accent-color);
	  transition: opacity .3s ease;
	  color: $white-color;
	  padding: 10px 15px;
	  font-weight: 700;
	}
  }

  .product-content .title {
	font-size: 16px;
	transition: opacity .3s ease, color .3s ease;
  }

  .product-price {
	margin-right: 0;
	font-size: 16px;
	font-weight: 700;
	transition: opacity .3s ease;

	&.with-sale {
	  color: $primary-color;
	  color: var(--primary-accent-color);

	  del {
		color: $body-font-color;
		color: var(--body-font-color);
		margin-right: 7px;
	  }
	}
  }

  .rait-stars {
	margin-bottom: 10px;
  }

  &:hover {
	.in-cart {
	  opacity: 1;
	}

	.rait-stars {
	  opacity: 0;
	}

	.product-price {
	  opacity: 0;
	}

	.added_to_cart {
	  opacity: 1;
	}
  }

  &.product-item-v2 {
	text-align: center;

	.product-thumb {
	  display: block;
	  margin-bottom: 30px;
	  height: auto;
	  padding: 20px;

	  img {
		display: block;
		margin: 10px auto 20px;
	  }

	  .btn {
		margin: 0 auto;
		opacity: 0;
	  }

	  .rait-stars {
		opacity: 1;
	  }

	  .product-price {
		opacity: 1;
	  }

	  .block-title, .block-price {
		text-align: left;
	  }
	}
  }

  &:hover {
	.product-thumb {
	  .btn {
		opacity: 1;
	  }
	}
  }
}

.product-category {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 10px;
  color: $body-font-color;
  color: var(--body-font-color);
  display: block;

  & > a {
	font-size: 10px;
	font-weight: 700;
	color: $body-font-color;
	color: var(--body-font-color);
	display: inline-block;

	&:hover {
	  color: $primary-color;
	  color: var(--primary-accent-color);
	}
  }

  &:hover {
	color: $primary-color;
	color: var(--primary-accent-color);
  }
}

.block-price {
  position: relative;

  .in-cart {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	opacity: 0;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	background-color: $blue;
	background-color: var(--secondary-accent-color);
	transition: opacity .3s ease;

	i {
	  color: $white-color;
	  font-size: 22px;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
  }
}

/*------------- Product Details --------------*/

.shop-product-detail {
  .thumbs-wrap {
	display: flex;
	align-items: flex-start;
  }
}

.small-thumbs-wrap {
  margin-right: 10px;

  .small-thumb {
	display: flex;
	width: 80px;
	height: 80px;
	background-color: #f2f4f8;

	img {
	  margin: auto;
	}

	& + .small-thumb {
	  margin-top: 10px;
	}
  }
}

.shop-product-detail-thumb {
  height: 560px;
  width: 100%;
  display: flex;
  background-color: #f2f4f8;

  img {
	margin: auto;
  }
}

.shop-product-detail-content {

  p {
	margin-bottom: 50px;
	font-weight: 400;
  }

  .btn {
	margin-bottom: 20px;
  }

  .main-content-wrap {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 30px;

	.title {
	  margin-bottom: 0;
	}

	.rait-stars {
	  margin-bottom: 0;
	}
  }

  .product-category, .product-category > a {
	font-size: 12px;
	margin-bottom: 20px;
	text-transform: uppercase;

	a {
	  margin-bottom: 0;
	}
  }

  .rait-stars .star-icon {
	font-size: 10px;
  }

  .product-price {
	font-size: 26px;
	margin-right: 0;
  }

  .inputs-wrap {
	display: flex;
	margin-bottom: 50px;
	align-items: center;

	& > * + * {
	  margin-left: 20px;
	  width: 100%;
	}

	.form-group {
	  margin-bottom: 0;
	}
  }
}

.quantity {
  position: relative;

  .quantity-minus, .quantity-plus {
	position: absolute;
	right: 15px;
	top: 0;
	color: #515365;
	color: var(--heading-font-color);
	font-size: 15px;
	height: 50%;
	width: 20px;
	line-height: 27px;
  }

  .quantity-minus {
	top: auto;
	bottom: 0;
  }
}

.tags, .tagged_as.tag {
  font-size: 12px;
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 700;

  li {
	display: inline-block;

	&:nth-child(2) {
	  margin-left: 5px;
	}
  }

  .tags-item, a {
	color: $body-font-color;
	color: var(--body-font-color);
	font-weight: 400;

	&:hover {
	  color: $primary-color;
	  color: var(--primary-accent-color);
	}
  }
}

.article-number {
  font-size: 12px;
  color: #515365;
  color: var(--heading-font-color);
  font-weight: 700;

  span {
	color: $body-font-color;
	color: var(--body-font-color);
	font-weight: 400;
	margin-left: 8px;
  }
}

.product-description {
  .nav-tabs {
	border-bottom: none;
	justify-content: center;
	margin-bottom: 40px;

	.nav-link {
	  font-weight: 700;
	  color: $body-font-color;
	  color: var(--body-font-color);
	  font-size: 14px;

	  &.active {
		color: #515365;
		color: var(--heading-font-color);

		.total-topic {
		  background-color: $primary-color;
		  background-color: var(--primary-accent-color);
		}
	  }

	  .total-topic {
		width: 19px;
		height: 19px;
		line-height: 19px;
		background-color: $icon-color;
		display: inline-block;
		color: $white-color;
		margin-left: 10px;
	  }
	}
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	border-color: transparent;
  }

  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-color: transparent;
  }

  .tab-pane {
	& > .title {
	  margin-bottom: 50px;
	}

	p {
	  margin-bottom: 30px;
	}
  }
}

.comments-title-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;

  .rait-stars .star-icon {
	font-size: 10px;
  }
}

.comments__item-review {
  padding: 50px 0;
  border-top: 1px solid $border-color;

  &:last-child {
	border-bottom: 1px solid $border-color;
  }

  &:first-child {
	margin-top: 40px;
  }

  .rait-stars {
	margin-bottom: 20px;
  }

  .comment-content {
	margin-bottom: 25px;
  }

  .comments__header-review {
	font-size: 11px;

	.comments__author-review a {
	  font-weight: 700;
	  color: #515365;
	  color: var(--heading-font-color);
	  font-style: normal;

	  &:hover {
		color: $primary-color;
		color: var(--primary-accent-color);
	  }
	}
  }
}

.form-write-rewiev {
  padding: 25px 30px;
}

/*------------- #SHOP-CART --------------*/

.shoping-cart {
  margin-left: 15px;

  a {
	position: relative;
	padding: 24px 0;
  }

  svg, i {
	height: 22px;
	width: 22px;
	font-size: 22px;
	fill: inherit;
	color: inherit;
  }

  .count-product {
	font-size: 10px;
	color: $white-color;
	font-weight: 900;
	width: 19px;
	height: 19px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	margin-left: -7px;
	margin-top: -7px;
	background-color: #7c5ac2;
	background-color: var(--third-accent-color);
  }
}

.cart-menulocation a {
  display: flex;
  align-items: flex-start;
  color: inherit;
}

.shop-popup-cart.more-dropdown {
  width: 340px;
  right: -20px;
  padding: 0;
  overflow: hidden;

  .mCustomScrollbar {
	max-height: 60vh;
  }

  .ps > .ps__rail-y, .ps:hover > .ps__rail-y {
	left: 0;
	top: 5px !important;
  }

  .woocommerce-mini-cart {
	padding: 0;
	display: block;

	.product-thumb {
	  a {
		display: flex;
		padding: 0;
		width: 100%;
		height: 100%;

		img {
		  margin: auto;
		  float: none;
		}
	  }
	}

	a.remove {
	  padding: 0;
	  line-height: 1;
	  position: absolute;
	  top: 10px;
	  right: 10px;
	}
  }

  .rait-stars {
	padding: 0;
	display: block;
	height: auto;
	margin-bottom: 5px;
	line-height: 1;
  }

  a.btn {
	display: inline-block;
	margin-bottom: 0;
  }
}

/*------------- cart-products --------------*/

.cart-product-item {
  display: flex;
  align-content: center;
  border-bottom: 1px solid $border-color;
  padding: 25px;
  position: relative;

  .more {
	position: absolute;
	top: 10px;
	right: 10px;

	i {
	  font-size: 8px;
	}
  }

  .product-thumb {
	width: 60px;
	height: 60px;
	background-color: #f2f4f8;
	margin-right: 15px;
	display: flex;

	img {
	  margin: auto;
	  max-height: 100%;
	}
  }
}

.product-content {
  .title {
	font-size: 12px;

	a {
	  padding: 0;
	}
  }

  .counter {
	font-size: 12px;
	font-weight: 700;
	color: #515365;
	color: var(--heading-font-color);
  }
}

.product-price {
  margin-left: auto;
  font-size: 12px;
  color: $body-font-color;
  color: var(--body-font-color);
  font-weight: 700;
  margin-right: 20px;
}

.cart-subtotal {
  font-size: 12px;
  font-weight: 700;
  color: #515365;
  color: var(--heading-font-color);
  padding: 25px 45px 25px 25px;
  border-bottom: 1px solid $border-color;
  text-align: right;

  & > span {
	margin-left: 25px;
	color: $body-font-color;
	color: var(--body-font-color);
  }
}

.cart-btn-wrap {
  padding: 25px;
  text-align: center;

  .btn + .btn {
	margin-left: 12px;
  }
}

.cart-main {
  table {
	width: 100%;
  }

  tr > *, th > * {
	padding: 25px 35px;
	text-align: center;
	border-bottom: 1px solid $border-color;

	&:first-child {
	  padding-left: 0;
	  text-align: left;
	}

	&:last-child {
	  padding-right: 50px;
	}
  }

  th {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 700;
  }

  td > * {
	margin-bottom: 0;
  }

  .product-price .price {
	color: $body-font-color;
	color: var(--body-font-color);
  }

  .product-quantity {
	.form-control {
	  width: auto;
	}

	.form-group {
	  display: inline-block;
	}
  }

  .product-del i,
  .product-del svg {
	width: 18px;
	height: 18px;
	font-size: 18px;
	fill: #9a9fbf;
	fill: var(--icon-color);
	color: #9a9fbf;
	color: var(--icon-color);

	&:hover {
	  fill: $primary-color;
	  fill: var(--primary-accent-color);
	}
  }

  .form-inline > * + * {
	margin-left: -5px;
  }

  .form-inline {
	display: inline-flex;
	align-items: initial;

	.btn {
	  border-radius: 0 5px 5px 0;
	  font-size: .85rem;
	}

	.form-group {
	  margin-bottom: 0;
	}
  }

  .cart-subtotal {
	padding: 18px 0 18px 25px;
	border-bottom: none;
	float: right;
  }
}

.cart-product__item {
  display: flex;
  align-items: center;

  .product-thumb {
	min-width: 80px;
	min-height: 80px;
	width: 80px;
  }

  .rait-stars {
	margin-bottom: 0;
  }

  .cart-product-title {
	display: block;
  }

  .product-category {
	font-size: 9px;
  }
}

.order-totals-list {
  li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid $border-color;

	span {
	  font-weight: 700;
	  color: #515365;
	  color: var(--heading-font-color);
	}

	&.total {
	  color: #515365;
	  color: var(--heading-font-color);
	  font-weight: 700;
	}
  }
}

.payment-methods-list {
  border-bottom: 1px solid $border-color;
  margin-bottom: 30px;

  li {
	padding-bottom: 10px;

	p {
	  font-size: 13px;
	}
  }

  .radio label span {
	left: 0;
  }

  .radio label {
	padding-left: 25px;
  }
}

/*================= WOOCOMMERCE CUSTOMIZATION ============*/

.olympus-theme[class*= "yz-"] {
  .form-row {
	display: block;
  }
}

.olympus-theme {

  .woocommerce table.cart .product-thumbnail,
  &.woocommerce-page #content table.cart .product-thumbnail,
  &.woocommerce-page table.cart .product-thumbnail {

	.cart-product__item {
	  img {
		width: 100%;
	  }
	}
  }

  &.woocommerce ul.products li.product a img {
	width: auto;
	height: auto;
	margin: 0;
	display: inline-block;
	vert-align: middle;
  }

  .woocommerce .cart-collaterals .cross-sells,
  &.woocommerce-page .cart-collaterals .cross-sells {
	.product-thumb {
	  width: 100%;
	  height: auto;
	  margin-bottom: 20px;

	  img {
		margin: 0;
	  }
	}
  }

  .woocommerce .cart-collaterals .cross-sells ul.products li,
  .woocommerce-page .cart-collaterals .cross-sells ul.products li {
	.rait-stars {
	  li {
		width: auto;
	  }
	}
  }

  &.woocommerce ul.products li.product .product-thumb {
	display: flex;
	align-items: center;
	justify-content: center;

	&:before {
	  content: "";
	  display: inline-block;
	  vertical-align: middle;
	  height: 100%;
	}
  }

  &.woocommerce div.product .woocommerce-tabs .panel {
	&#tab-description {

	  & > h2 {
		margin-bottom: 20px;
	  }
	}
  }

  &.woocommerce ul.products li.product .shop-product-item,
  &.woocommerce-page ul.products li.product .shop-product-item {
	margin-bottom: 0;
  }

  &.woocommerce-account .woocommerce-MyAccount-navigation {
	background-color: $white-color;
	border-radius: 5px;
	border: 1px solid $border-color;
	margin-bottom: 15px;

	ul {
	  list-style: none;
	  padding-left: 0;
	  margin-bottom: 0;

	  li {
		padding: .75rem 1.25rem;
		border-bottom: 1px solid $border-color;

		&:last-child {
		  border-bottom: none;
		}

		a {
		  font-weight: 700;
		  color: #515365;
		  color: var(--heading-font-color);

		  &:hover {
			color: $primary-color;
			color: var(--primary-accent-color);
		  }
		}
	  }
	}
  }

  &.woocommerce-account .woocommerce-MyAccount-content {
	background-color: $white-color;
	border-radius: 5px;
	border: 1px solid $border-color;
	margin-bottom: 15px;
	padding: 24px 23px 23px;

	.woocommerce-info {
	  margin-bottom: 0;
	}
  }

  .woocommerce table.my_account_orders .button,
  .woocommerce .woocommerce-info .button,
  .woocommerce-EditAccountForm.edit-account .woocommerce-Button,
  .woocommerce form.login .woocommerce-Button,
  .woocommerce button.button {
	background-color: $primary-color;
	background-color: var(--primary-accent-color);
	color: $white-color;
	opacity: .85;

	&:hover {
	  opacity: 1;
	}
  }

  .woocommerce-Address-title.title {

	.edit {
	  margin-left: auto;
	  background-color: $primary-color;
	  background-color: var(--primary-accent-color);
	  color: $white-color;
	}
  }

  .woocommerce form.login.woocommerce-form-login {
	input[type="checkbox"] {
	  margin-left: 10px;
	}
  }

  .woocommerce form .form-row label.inline {
	input[type="checkbox"] {
	  width: auto;
	  display: inline-block;
	  vertical-align: middle;

	  & + span {
		display: inline-block;
		vertical-align: middle;
	  }
	}
  }

  .woocommerce table.woocommerce-MyAccount-orders {
	border-top: 1px solid $border-color;
	margin-bottom: 0;
  }

  .woocommerce form .form-row {
	display: block;
	padding: 0;
	margin-bottom: 20px;
  }

  .woocommerce table.shop_table {
	border-collapse: collapse;
  }

  &.woocommerce ul.product_list_widget li {
	padding: 25px;
  }

  &.woocommerce .commentlist {
	list-style: none;
	margin: 0;
	padding: 0;
  }

  span.onsale {
	display: block;
	width: 42px;
	height: 42px;
	border-radius: 100%;
	position: absolute;
	color: $white-color;
	background-color: $primary-color;
	background-color: var(--primary-accent-color);
	font-size: 10px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	line-height: 42px;
	padding: 0;
	left: 10px;
	top: 10px;
  }

  &.woocommerce ul.products li.product-type-simple .shop-product-item,
  &.woocommerce ul.products li.product-type-variable .shop-product-item {
	span.onsale {
	  left: 20px;
	  top: 20px;
	}
  }

  &.woocommerce .related {

	.product-category > a {
	  text-transform: uppercase;
	}
  }

  .related > h2,
  .cart_totals > h2,
  .woocommerce-billing-fields > h3,
  h3#order_review_heading,
  .cross-sells > h2,
  .woocommerce-order-details > h2,
  .woocommerce-column--billing-address > h2,
  .woocommerce-column--shipping-address > h2,
  h3#ship-to-different-address {
	font-size: 1.7rem;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 30px;

	&:after,
	&:before {
	  content: "";
	  display: block;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  transition: all .3s ease;
	}

	&:before {
	  height: 1px;
	  background-color: $primary-color;
	  background-color: var(--primary-accent-color);
	  width: 10%;
	  z-index: 1;
	}

	&:after {
	  height: 1px;
	  background-color: $border-color;
	  width: 100%;
	}

	&:hover:before {
	  width: 100%;
	}

  }

  h3#ship-to-different-address {
	.checkbox {
	  margin-bottom: 0;
	}
  }

  ol.flex-control-thumbs li:before {
	display: none;
  }

  div.product .woocommerce-product-gallery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
  }

  .woocommerce-product-gallery__image {
	background-color: #f2f4f8;
  }

  div.product div.images {

	.flex-control-thumbs {
	  order: 1;
	  margin-right: 10px;
	  overflow: visible;

	  li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 80px;
		height: 80px;
		float: none;
		background-color: #f2f4f8;

		& + li {
		  margin-top: 10px;
		}
	  }
	}

	.flex-viewport {
	  order: 2;
	}
  }

  .main-content-wrap .product-price {

	del {
	  opacity: .6;
	  font-size: 0.75em;
	  color: $body-font-color;
	  color: var(--body-font-color);
	  position: relative;
	  top: -2px;

	  & + ins {
		color: $primary-color;
		color: var(--primary-accent-color);
	  }
	}

	ins {
	  text-decoration: none;
	}
  }

  div.product form.cart .variations td.label {
	vertical-align: middle;

	label {
	  position: relative;
	  top: -13px;
	  margin-bottom: 0;
	  text-transform: capitalize;
	  font-size: 16px;
	}
  }

  div.product form.cart div.quantity {

	& + .btn {
	  margin-left: 30px;
	}

	input.form-control {
	  padding-right: 70px;
	}
  }

  .nav-tabs .nav-item {
	&.active {
	  .nav-link {
		color: #515365;
		color: var(--heading-font-color);
	  }
	}
  }

  .single_variation_wrap {
	.woocommerce-variation-price {
	  span.price {
		font-size: 26px;
		font-weight: 700;
		margin-bottom: 20px;
		display: block;
	  }
	}
  }
  .wc-tabs-wrapper {
	padding-top: 30px;
	margin-bottom: 30px;
  }

  table.shop_attributes th,
  table.shop_attributes td {
	padding: 8px 10px;
	border: 1px solid $border-color;
	text-transform: capitalize;
  }

  table.shop_attributes {
	border: none;
  }

  .comments__item-review {
	.description p {
	  font-size: .812rem;
	}

	.meta {
	  font-size: 11px;

	  .woocommerce-review__author {
		font-weight: 700;
		color: #515365;
		color: var(--heading-font-color);
		font-style: normal;
	  }
	}
  }

  .shop-product-item .product-price {
	ins {
	  text-decoration: none;
	}

	del {
	  font-size: .8em;
	}
  }

  table.shop_table {
	border: none;
  }

  table.shop_table.cart {
	border: none;
	border-collapse: collapse;

	.product-thumbnail .cart-product__item > a {
	  min-width: 80px;
	  min-height: 80px;
	  background-color: #f2f4f8;
	  margin-right: 15px;
	  position: relative;
	}

	.product-thumbnail .cart-product__item > a img {
	  max-height: 100%;
	  width: 32px !important;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  transform: translate(-50%, -50%);
	}

	tr > *, th > * {
	  text-align: center;

	  &:first-child {
		text-align: left;
	  }
	}

	th {
	  font-size: 13px;
	  text-transform: uppercase;
	  font-weight: 500;
	  border-left: none;
	  border-right: none;
	}

	td {
	  border-left: none;
	  border-right: none;

	  .product-del {
		margin-top: 5px;
		display: inline-block;
	  }

	  > * {
		margin-bottom: 0;
	  }
	}
  }

  table.shop_table.woocommerce-checkout-review-order-table {
	border: none;

	td {
	  padding: 20px 12px;
	}

	thead {
	  tr th {
		border-top: 1px solid $border-color;

		&.product-total {
		  border-right: 1px solid $border-color;
		}
	  }
	}

	tr {

	  th {
		text-align: left;
		border-top: 0;
		border-left: 1px solid;
		border-right: 0;
		border-color: $border-color;
		vertical-align: middle;
	  }

	  td {
		text-align: right;
		border-top: 0;

		&.product-name {
		  text-align: left;
		}
	  }
	}

	.product-total {
	  text-align: right;
	}

	.cart_item .product-total {
	  font-weight: 700;
	  color: #515365;
	  color: var(--heading-font-color);
	  border-left: 0;
	}
  }

  table.woocommerce-table--order-details {
	th, td {
	  padding: 20px 12px;
	  border: 0;
	}

	td:last-child {
	  text-align: right;
	}

	thead {
	  th:last-child {
		text-align: right;
	  }
	}
  }

  .cart-collaterals .cart_totals table {
	border: none;
	border-collapse: collapse;
	margin-bottom: 30px;

	.cart-subtotal {
	  text-align: left;
	  font-size: 14px;
	}

	p {
	  margin-bottom: 0;
	}

	td {
	  border-top: none;
	  padding: 20px 12px;
	}

	tr {
	  border-bottom: 1px solid $border-color;

	  th {
		border-top: none;
		padding: 20px 12px;
	  }
	}
  }

  .select2-container.country_to_state.country_select .select2-choice,
  .select2-container.state_select .select2-choice {
	padding: 13px 40px;
	border-color: transparent;
	transition: all .3s ease;
	font-size: 16px;
	border-radius: 50px;
	background-color: #f7f9f9;
  }

  .select2-container .select2-choice .select2-arrow {
	right: 20px;
  }

  .select2-drop-active {
	border: none;
  }

  .select2-search input {
	border-radius: 0;
  }

  .select2.select2-container {
	display: block;
	width: 100%;
	padding: 0.8rem 1.1rem;
	font-size: .875rem;
	line-height: 1.25;
	color: #464a4c;
	background-color: transparent;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #e6ecf5 !important;
	border-radius: 0.25rem;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 50%;
	transform: translate(0, -50%);
  }

  .select2-dropdown {
	border-color: $border-color !important;
	top: -5px;
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected],
  .select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: $primary-color;
	background-color: var(--primary-accent-color);
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #515365;
	color: var(--heading-font-color);
  }

  textarea {
	width: 100%;
	padding: 1.1rem;
	font-size: .812rem;
	line-height: 1.5;
	color: #495057;
	background-color: $white-color;
	background-clip: padding-box;
	border: 1px solid $border-color;
	border-radius: .25rem;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, all .3s ease;

	&:focus {
	  background-color: $white-color;
	}
  }

  .woocommerce-billing-fields {
	margin-bottom: 40px;
  }

  .woocommerce-error, .woocommerce-info, .woocommerce-message {
	border-top-color: $primary-color;
	border-top-color: var(--primary-accent-color);
	background-color: #fff;
	box-shadow: 0 0 34px 0 rgba(63, 66, 87, .1);
	border-radius: 5px;
	font-size: 16px;
	width: 100%;
	color: #515365;
	color: var(--heading-font-color);

	&:before {
	  color: $primary-color;
	  color: var(--primary-accent-color);
	}
  }

  .woocommerce form.login,
  .woocommerce form.register {
	border-color: $border-color;
  }

  .checkout_coupon,
  form.login {
	.btn-outline-primary {
	  background-color: $primary-color;
	  background-color: var(--primary-accent-color);
	  margin-bottom: 0;
	}

	.form-group {
	  margin-bottom: 0;

	  &.col-md-10 {
		padding: 0 10px 0 0;
	  }
	}

	.btn {
	  margin-bottom: 0;
	  font-size: .812rem;
	  padding: 1rem;
	}
  }

  .woocommerce-checkout #payment ul.payment_methods {
	border-bottom: none;
  }

  .woocommerce-message .button {
	background-color: $primary-color;
	background-color: var(--primary-accent-color);
	color: $white-color;
	font-size: 14px;

	&:hover {
	  background-color: $primary-color;
	  background-color: var(--primary-accent-color);
	  color: $white-color;
	}
  }

  .cart-main .product-quantity .form-control {
	width: 100%;
  }

  .cart-main .product-quantity .form-group {
	width: 100%;
	margin-bottom: 0;
	min-width: 110px;
  }

  &.woocommerce-page #content .cart-main table.cart td.actions .coupon .control-label {
	display: block;
  }

  .woocommerce-checkout #payment ul.payment_methods li input {
	width: auto;
	display: inline-block;
  }

  .woocommerce-checkout #payment ul.payment_methods li label {
	font-size: 15px;
  }

  .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	margin-left: 10px;
  }

  form .form-row input.input-text,
  form .form-row textarea {
	line-height: 1.5;
  }

  table.shop_table_responsive tr td.actions {
	text-align: left !important;
  }

  &.woocommerce-page #content table.cart.shop_table_responsive td.actions .coupon input.form-control {
	width: auto;
  }

  .woocommerce .col2-set .col-1,
  .woocommerce .col2-set .col-2 {
	max-width: 100%;
	width: 50%;
  }

  ul.order_details li {
	font-size: .8rem;
  }

  .woocommerce-column--billing-address,
  .woocommerce-column--shipping-address {
	line-height: 1.8;
  }

  &.woocommerce .btn-outline-primary {
	background-color: $primary-color;
	background-color: var(--primary-accent-color);
  }

  &.woocommerce ul.order_details li strong {
	font-size: 1.2em;
  }

  &.woocommerce div.product form.cart .group_table td:first-child {
	width: 10em;
  }

  &.woocommerce div.product form.cart .group_table td {
	vertical-align: middle;
	font-size: 15px;

	label {
	  margin-bottom: 0;
	}
  }

  &.woocommerce div.product del {
	color: $primary-color;
	color: var(--primary-accent-color);
  }

  &.woocommerce div.product ins {
	color: $green;
  }

  &.woocommerce div.product del, .woocommerce div.product del {
	opacity: .5;
  }

  &.woocommerce div.product form.cart table {
	border-width: 0;
  }

  &.woocommerce .single-product div.product .woocommerce-tabs {
	padding: 40px 0;
  }

  &.woocommerce div.product form.cart {
	margin-bottom: .5em;
  }

  &.woocommerce-shipping-calculator {
	margin-top: 10px;

	.form-row {

	  & + * {
		margin-top: 10px;
	  }
	}
  }

  &.woocommerce table.shop_table td {
	border: 0;
  }

  &.woocommerce .woocommerce-checkout table.shop_table tbody th,
  &.woocommerce .woocommerce-checkout table.shop_table tfoot td {
	border: 0;
  }

  &.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr td {
	border-bottom: 1px solid $border-color;
  }

  &.woocommerce ul.order_details,
  .woocommerce ul.order_details {
	padding-left: 0;
  }

  &.woocommerce table.shop_table tbody th,
  &.woocommerce table.shop_table tfoot td,
  &.woocommerce table.shop_table tfoot th {
	border: 0;
  }

  &.woocommerce .woocommerce-order-details .woocommerce-table--order-details.order_details tr {
	border-bottom: 1px solid $border-color;
	border-collapse: collapse;
	border-spacing: 0;
  }

  &.woocommerce table.shop_table {
	border-collapse: collapse;
  }

  &.woocommerce .woocommerce-customer-details address {
	border-color: $border-color;
  }

  &.woocommerce ul.products li.product-category {

	img {
	  margin-bottom: 10px;
	}

	.woocommerce-loop-category__title {
	  font-size: 18px;
	  text-align: center;
	}

	mark {
	  background-color: transparent;
	}
  }

  .wc-stripe-elements-field {
	border: 1px solid #e6ecf5;
	background-color: #fff;
  }

  .woocommerce-notices-wrapper,
  .woocommerce-form-login-toggle,
  .woocommerce-form-coupon-toggle {
	overflow: hidden;
  }

  .woocommerce-privacy-policy-text {
	margin-bottom: 15px;
  }

  .woocommerce form .form-row .input-checkbox {
	opacity: 1;
	position: relative;
	z-index: 1;
	width: auto;
	height: auto;
  }

  .woocommerce-input-wrapper {
	.select2-container--default .select2-selection--single {
	  border: none;
	}
  }

  div.product div.images img {
	transition: all .3s ease;
  }

  .woocommerce form.checkout_coupon,
  .woocommerce form.login, .woocommerce form.register {
	border-color: #e6ecf5;
  }

  &.woocommerce div.product .woocommerce-tabs ul.tabs li,
  &.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-color: $border-color;
  }

  &.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
  &.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display: none;
  }

  &.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background-color: $white-color;
  }

  &.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: #f2f4f8;
	color: var(--primary-accent-color);
  }

  &.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #515365;
	color: var(--heading-font-color);
  }

  &.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	color: inherit;
  }
}

/*================= Responsive Mode ============*/

@media(max-width: 1200px) {
  .quantity .quantity-minus, .quantity .quantity-plus {
	line-height: 22px;
  }
}

@media(max-width: 1024px) {

  .shop-product-detail-content .product-price {
	font-size: 20px;
  }

  .shop-product-detail-thumb {
	height: auto;
  }

  .shop-product-detail .thumbs-wrap {
	margin-bottom: 40px;
  }

  .olympus-theme #content div.product div.images,
  .olympus-theme div.product div.images,
  .olympus-theme #content div.product div.images,
  .olympus-theme div.product div.images {
	width: 100%;
	float: none;
  }

  .olympus-theme #content div.product div.summary,
  .olympus-theme div.product div.summary,
  .olympus-theme #content div.product div.summary,
  .olympus-theme div.product div.summary {
	width: 100%;
	float: none;
  }

  .olympus-theme div.product form.cart div.quantity input.form-control {
	padding-bottom: .8rem;
  }

  .olympus-theme.woocommerce ul.products[class*="columns-"] li.product,
  .olympus-theme.woocommerce-page ul.products[class*="columns-"] li.product {
	width: 48%;
	margin-right: 1%;
	margin-left: 1%;
  }

  .olympus-theme .woocommerce ul.order_details li {
	float: none;
	margin-bottom: 10px;
  }

  .olympus-theme .woocommerce ul.order_details li:last-of-type {
	border-right: 1px dashed #d3ced2;
  }
}

@media(max-width: 900px) {
  .product-description .nav-tabs {
	margin-bottom: 40px;
  }

  .product-description .tab-pane > .title {
	margin-bottom: 30px;
  }

  .product-description .tab-pane p {
	margin-bottom: 20px;
  }

  .comments__item-review {
	padding: 30px 0;

	&:first-child {
	  margin-top: 20px;
	}
  }
}

@media(max-width: 800px) {
  .olympus-theme .checkout_coupon .btn, .olympus-theme form.login .btn {
	margin-top: 30px;
  }
}

@media(max-width: 768px) {

  .olympus-theme .woocommerce-checkout #payment ul.payment_methods li label {
	font-size: 13px;
  }

  .olympus-theme .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	margin-left: 5px;
  }

  .shop-popup-cart.more-dropdown {
	right: 0;
  }

  .shop-product-detail-content p {
	margin-bottom: 20px;
  }

  .cart-main tr > *, .cart-main th > * {
	padding: 20px 10px;
  }

  .cart-main tr > :last-child, .cart-main th > :last-child {
	padding-right: 10px;
  }

  .product-description .nav-item {
	width: auto;
  }

  .product-price {
	margin-right: 0;
  }

  .olympus-theme.woocommerce-page #content .cart-main table.cart td.actions .coupon .control-label {
	top: 12px;
  }

  .olympus-theme .woocommerce-error,
  .olympus-theme .woocommerce-info,
  .olympus-theme .woocommerce-message {
	font-size: 14px;
  }

  .olympus-theme .woocommerce.columns-2 ul.products li.product-category,
  .olympus-theme .woocommerce.columns-3 ul.products li.product-category,
  .olympus-theme .woocommerce.columns-4 ul.products li.product-category {
	width: 100%;
  }

  .olympus-theme .woocommerce-message {
	font-size: 11px;
  }

  .olympus-theme .woocommerce-message .button {
	font-size: 10px;
  }

  .olympus-theme .woocommerce table.cart .product-thumbnail,
  .olympus-theme.woocommerce-page #content table.cart .product-thumbnail,
  .olympus-theme.woocommerce-page table.cart .product-thumbnail {
	display: block;

	.cart-product__item {
	  justify-content: flex-end;
	  align-items: flex-end;
	  flex-direction: column;
	}
  }

  .olympus-theme table.shop_table.cart .product-thumbnail .cart-product__item > a {
	margin-right: 0;
	margin-bottom: 15px;
  }

  .olympus-theme table.shop_table.cart td {
	border-top: none;
  }

  .olympus-theme .cart-main .product-quantity .form-group {
	width: auto;
  }

  .olympus-theme .woocommerce table.shop_table_responsive tr td.actions + td:before,
  .olympus-theme.woocommerce-page table.shop_table_responsive tr td.actions + td:before {
	content: '';
  }

  .shoping-cart a {
	padding: 14px 0;
  }

  .olympus-theme .woocommerce .col2-set .col-1,
  .olympus-theme .woocommerce .col2-set .col-2 {
	width: 100%;
  }

  .olympus-theme .cart-collaterals .cart_totals table td {
	border-bottom: none;
  }
}

@media (max-width: 570px) {
  .olympus-theme.woocommerce ul.products li.product {
	width: 100%;
  }
}

@media(max-width: 540px) {
  .cart-main .cart-subtotal {
	float: none;
	text-align: left;
	padding-left: 0;
  }

  .olympus-theme .woocommerce-error,
  .olympus-theme .woocommerce-info,
  .olympus-theme .woocommerce-message {
	font-size: 12px;
  }

  .shop-popup-cart.more-dropdown .mCustomScrollbar {
	max-height: 200px;
  }

  .shop-product-detail-content .main-content-wrap {
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 10px;
  }

  .shop-product-detail-content .product-category,
  .shop-product-detail-content .product-category > a,
  .shop-product-detail-content .main-content-wrap .title {
	margin-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .olympus-theme.woocommerce ul.products[class*="columns-"] li.product,
  .olympus-theme.woocommerce-page ul.products[class*="columns-"] li.product {
	width: 100%;
	float: none;
	margin-left: 0;
	margin-right: 0;
  }
}

@media(max-width: 460px) {

  .small-thumbs-wrap .small-thumb {
	width: 50px;
	height: 50px;
  }

  .shop-product-detail-content .product-price {
	margin-right: 0;
	font-size: 16px;
  }

  .olympus-theme div.product form.cart div.quantity {
	float: none;
  }

  .olympus-theme div.product form.cart div.quantity + .btn {
	margin-left: 0;
	margin-top: 30px;
  }
}

@media(max-width: 420px) {
  .cart-main tr > *, .cart-main th > * {
	padding: 20px 5px;
  }

  .cart-product__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.product-thumb {
	  min-width: 40px;
	  min-height: 40px;
	  margin-right: 0;
	  margin-bottom: 10px;
	}
  }

  .cart-main .form-inline {
	flex-direction: column;
	align-items: flex-start;
	display: flex;

	.btn {
	  margin-left: 0;
	  margin-top: 10px;
	  border-radius: 5px;
	}
  }

  .olympus-theme.woocommerce-page #content table.cart.shop_table_responsive td.actions .coupon {

	input.form-control,
	.form-group {
	  width: 100%;
	}
  }

  .shop-popup-cart.more-dropdown {
	max-width: 300px;
  }

  .shop-product-item .product-content .title {
	font-size: 12px;
  }

  .olympus-theme span.onsale {
	width: 32px;
	height: 32px;
	font-size: 8px;
	line-height: 32px;
  }
}