@import "theme-styles/variables";


/*------------- #LEARN PRESS CUSTOMIZATION --------------*/

.olympus-theme {
  #wpforo-wrap {
    max-width: 1300px;
    margin: 0 auto;
    color: #888da8;
    color: var(--body-font-color);
  }

  #wpforo-wrap #wpforo-poweredby,
  #wpforo-wrap #wpforo-stat-header,
  #wpforo-wrap #wpforo-menu {
    background-color: $secondary-color;
  }

  #wpforo-wrap .wpf-acp-content,
  #wpforo-wrap .wpforo-rcn-body {
    color: #888da8;
    color: var(--body-font-color);
  }

  #wpforo-wrap .wpf-acp-title,
  #wpforo-wrap .wpfl-4 .wpf-threads-head .wpf-head-box {
    color: #515365;
    color: var(--heading-font-color);
  }

  #wpforo-wrap .wpforo-profile-wrap .wpf-profile-plugin-menu .wpf-pp-menu .wpf-pp-menu-item,
  #wpforo-wrap .wpf-breadcrumb a,
  #wpforo-wrap .wpf-sbtn .wpf-sbtn-title i,
  #wpforo-wrap #wpforo-stat-body .wpf-last-info i,
  #wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-newest,
  #wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-hottest,
  #wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-solved,
  #wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-unsolved,
  #wpforo-wrap #wpforo-stat-body .wpf-stat-item i {
    color: #9a9fbf;
    color: var(--icon-color);
  }

  #wpforo-wrap input[type="submit"],
  #wpforo-wrap input[type="reset"],
  #wpforo-wrap input[type="button"],
  #wpforo-dialog input[type="submit"],
  #wpforo-dialog input[type="reset"],
  #wpforo-dialog input[type="button"],
  #wpforo-wrap .wpf-button,
  #wpforo-wrap .wpf-acp-footer a.wpf-button-secondary {
    color: #fff;
    background-color: #38a9ff;
    background-color: var(--secondary-accent-color);
    border: none;
    border-radius: 3px;
  }

  #wpforo-wrap #wpforo-stat-body .wpf-stat-item .wpf-stat-value {
    color: #515365;
    color: var(--heading-font-color);
  }

  .wpfcl-5,
  #wpforo-wrap .wpforo-rcn-head {
    color: $primary-color !important;
    color: var(--primary-accent-color) !important;
  }

  #wpforo-wrap .wpforo-rcn-dismiss span {
    background-color: $primary-color;
    background-color: var(--primary-accent-color);
    border-radius: 3px;
  }

  #wpforo-wrap .wpf-search i,
  #wpforo-wrap a {
    color: #38a9ff;
    color: var(--secondary-accent-color);
  }

  .wpfcl-1 {
    color: #515365 !important;
    color: var(--heading-font-color) !important;
  }

  #wpforo-wrap .wpforo-members-wrap .wpf-member-profile-buttons {
    vertical-align: bottom;
  }

  .wpfbg-7,
  .wpfbg-9 {
    background-color: #edf2f6 !important;
  }

  .wpfcl-2,
  .wpfcl-0 {
    color: #9a9fbf !important;
    color: var(--icon-color) !important;
  }

  .wpfbg-6 {
    background-color: #38a9ff !important;
    background-color: var(--secondary-accent-color) !important;
  }

  #wpforo-wrap .wpfl-4 .wpf-content-foot .wpf-buttons .wpf-action:hover {
    color: #38a9ff;
    color: var(--secondary-accent-color);
  }

  #wpforo-wrap .wpfl-4 .wpforo-post-head,
  #wpforo-wrap .wpforo-recent-wrap .wpforo-recent-content .wpf-htr {
    background-color: #38a9ff;
    background-color: var(--secondary-accent-color);
  }

  #wpforo-wrap .wpf-member-title.wpfut {
    border: none;
    border-radius: 3px;
  }

  #wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-newest:hover, #wpforo-wrap .wpfl-4 .wpf-load-threads .wpf-newest.wpf-active {
    border-color: #38a9ff;
    border-color: var(--secondary-accent-color);
    color: #38a9ff;
    color: var(--secondary-accent-color);
  }

  #wpforo-wrap #wpforo-stat-body .wpf-stat-item .wpf-stat-label {
    color: #888da8;
    color: var(--body-font-color);
  }
}