@import "theme-styles/variables";


/*------------- #YOUZER CUSTOMIZATION --------------*/

.olympus-theme {

  button[type="submit"]:not(.btn-lg) {
	/*background: #ff5e3a;
	background: var(--primary-accent-color);*/
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
  }

  #yz-groups-list, #yz-members-directory {
	max-width: 100%;
  }

  .youzer .lp-prepost-wrap .lp-preview-title {
	color: #515365;
	color: var(--heading-font-color);
  }

  .lp-preview-canonical-url {
	color: #515365;
	color: var(--heading-font-color);
  }

  .lp-preview-no-thubmnail-text span {
	top: 2px;
	position: relative;
  }

  .lp-preview-description {
	color: #888da8;
  }

  .youzer .ui-block div.item-list-tabs {
	margin-bottom: 0;
  }

  .lp-prepost:hover .lp-button-cancel {
	opacity: 1 !important;
  }

  .youzer .lp-button-cancel i {
	line-height: 25px;
  }

  .lp-button-cancel {
	padding: 0 !important;
	top: 10px !important;
	opacity: 0 !important;
	right: 10px !important;
	width: 25px !important;
	border: none !important;
	height: 25px !important;
	line-height: 18px !important;
	border-radius: 100% !important;
	background-color: #f6f6f6 !important;
  }

  .lp-preview-thubmnail-buttons button {
	padding: 0 !important;
	width: 20px;
	height: 20px;
	border: none !important;
	background: #eee !important;
	border-radius: 2px !important;
	line-height: 20px !important;
  }

  .yz-loading .youzer_msg.wait_msg .youzer-msg-icon {
	background-color: transparent;
  }

  table > thead > tr > th,
  table > tbody > tr > th,
  table > tfoot > tr > th,
  table > thead > tr > td,
  table > tbody > tr > td,
  table > tfoot > tr > td {
	vertical-align: middle;

	&.notification-actions {
	  text-align: center;
	}
  }

  input.button {
	width: auto;
  }

  .youzer .activity-header .time-since,
  .youzer .activity-header a.activity-time-since span {
	color: #515365;
	color: var(--heading-font-color);
	font-size: 12px;
	margin-top: 8px;
	font-weight: 700;
	letter-spacing: 0;
	text-transform: none;

	&:hover {
	  color: $primary-color;
	  color: var(--primary-accent-color);
	}
  }

  &.buddypress {
	#content {
	  margin: 0;
	  z-index: 1;
	}
  }

  #bbpress-forums li.bbp-header {
	background-color: $blue;
	background-color: var(--secondary-accent-color);
  }

  .editfield .wp-editor-wrap {
	button[type="button"] {
	  background-color: transparent;
	  padding: 4px 6px;

	  &.wp-switch-editor {
		padding: 3px 8px 4px;
	  }
	}
  }

  .quicktags-toolbar,
  div.mce-toolbar-grp {
	border-bottom: 1px solid #e6ecf5;
	background: #edf2f6;
  }

  .html-active button[type="button"].switch-html,
  .tmce-active button[type="button"].switch-tmce,
  button[type="button"].wp-switch-editor {
	background: #edf2f6;
	padding: 3px 8px;
	opacity: 1;
	border-radius: 5px 5px 0 0;
	color: #515365;
	color: var(--heading-font-color);
  }

  input.cmn-toggle-round-flat:checked + label {
	background-color: $primary-color;
	background-color: var(--primary-accent-color);
  }

  input.cmn-toggle-round-flat:checked + label::after {
	background-color: $primary-color;
	background-color: var(--primary-accent-color);
  }

  #yz-directory-search-box form input[type=submit] {
	padding: 0 15px;
	background-color: #ff5e3a !important;
	background-color: var(--primary-accent-color);
  }

  &.page-has-header-social {
	.yz-settings-area {
	  display: none !important;
	  opacity: 0;
	  visibility: hidden;
	}
  }

  #directory-show-filter {
	display: none;
  }

  .yz-profile-navmenu .yz-navbar-item.yz-active-menu {
	border-right-color: #e6ecf5 !important;
	border-left-color: #ff5e3a !important;
	border-left-color: var(--primary-accent-color) !important;
  }

  #logy_signup_form .radio label .field-visibility-text {
	position: relative;
	left: auto;
	top: -6px;
  }

  #logy_signup_form .radio label {
	padding-left: 35px;
  }

  #logy_signup_form .field_type_datebox .radio label {
	display: block;
	margin-left: 0;
  }

  .yz-profile-navmenu > li,
  .yz-profile-navmenu > .yz-navbar-item {
	border-right: 1px solid #e6ecf5 !important;
  }

  .yz-profile-navmenu > li#home-groups-li {
	border-left: 1px solid #e6ecf5 !important;
  }

  .widget.buddypress .item-options,
  .widget.buddypress .item-list {
	padding: 0 25px;
	margin: 15px 0;
  }

  .youzer .yzpr-no-reaction i {
	color: #9a9fbf;
	color: var(--icon-color);
  }

  .youzer .acomment-options .yzpr-reacto-post,
  .youzer .activity-meta .yzpr-reacto-post {
	font-size: 12px;
	color: #888da8;
  }

  .bp-messages-wrap .taggle_list .taggle .close {
	color: #ff5e3a;
	color: var(--primary-accent-color);
	top: 2px;
	right: 5px;
  }

  .mce-btn button {
	padding: 4px 6px !important;
	font-size: 14px !important;
	line-height: 20px !important;
	*line-height: 16px !important;
	cursor: pointer !important;
	color: #595959 !important;
	text-align: center !important;
	overflow: visible !important;
	-webkit-appearance: none !important;
	background-color: transparent !important;
  }

  .yz-media-filter .yz-filter-item .yz-filter-content {
	background-color: #38a9ff;
	background-color: var(--secondary-accent-color);
	color: #fff;
  }

  .yz-media-filter .yz-filter-item .yz-filter-content.loading i {
	animation: none;
  }

  .yz-media-filter .yz-filter-item .yz-current-filter {
	background-color: #7c5ac2;
	background-color: var(--third-accent-color);
  }

  #rtmedia_create_new_album {
	padding: 1rem 3.5rem;
	font-size: .75rem;
	line-height: 1.5;
	border-radius: .3rem;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: none;
	color: $white-color;
	outline: none;
	transition: all .15s ease-in-out;
	font-weight: 700;
	opacity: .9;
  }

  .yz-media-widget .yz-media-view-all {
	color: #fff;
	background: $green;
  }

  .yz-media-no-items {
	color: #515365;
	color: var(--heading-font-color);
  }

  #bbpress-forums ul.topic .bbp-topic-title .bbp-attachments-count {
	float: none;
	display: inline-block;
	vertical-align: middle;
  }

  #bbpress-forums .bbp-attachments-count + .yz-forums-topic-item {
	display: inline-block;
	vertical-align: middle;
  }

  #bbpress-forums .bbp-attachments-count + .yz-forums-topic-item .yz-forums-topic-head {
	width: auto;
  }

  .d4p-attachment-addfile {
	background-color: #38a9ff;
	background-color: var(--secondary-accent-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: auto;
	font-weight: 700;
	opacity: .85;
	padding: .8rem 2.1rem;
	min-height: 45px;
	border-radius: 3px;
	margin-bottom: 15px;
	color: #fff;
  }

  .bbp-attachments-form input[type="file"] {
	border: none;
	padding: 0;
  }

  .yz-media-box {
	background-color: $border-color;
  }

  &.bbpress #content {
	margin-top: 0;
	margin-bottom: 0;
  }

  #yz-members-directory {
	.bps_filters {
	  padding: 15px 20px;
	  margin: 0 17.5px 35px;
	  background-color: #fff;

	  @media(max-width: 768px) {
		margin: 0 0 25px 0;
	  }
	}

	.bps-form {
	  padding: 25px 20px;
	  margin: 0 17.5px 35px;
	  background-color: #fff;

	  @media(max-width: 768px) {
		margin: 0 0 25px 0;
	  }
	}
  }

  .yz-media-filter .yz-filter-item .yz-filter-content:not(.yz-current-filter):hover i {
	color: #ff5e3a;
	color: var(--primary-accent-color);
  }

  .yz-members-directory-shortcode #yz-members-list {
	display: flex;
	flex-wrap: wrap;
  }
}

.yz-account-verified {
  background-color: #38a9ff;
  background-color: var(--secondary-accent-color);
}

.yz-hdr-v1 .yz-cover-content .yz-inner-content,
#yz-profile-navmenu .yz-inner-content,
.yz-vertical-layout .yz-content,
.youzer .yz-boxed-navbar,
.youzer .wild-content,
#yz-members-directory,
#yz-groups-list,
.yz-page-main-content,
.yz-header-content,
.yz-cover-content {
  max-width: 1300px;
}

.yz-page {
  background-color: #edf2f6;
}

/*------------- Responsive mode styles --------------*/

@media (max-width: 1350px) {
  .olympus-theme .yz-profile-navmenu > li,
  .olympus-theme .yz-profile-navmenu > .yz-navbar-item {
	&:first-child {
	  border-left: 1px solid #e6ecf5 !important;
	}
  }

  .olympus-theme .yz-profile-navmenu > li,
  .olympus-theme .yz-profile-navmenu > .yz-navbar-item {
	border-bottom: 1px solid #e6ecf5;
  }
}

@media (max-width: 768px) {
  .olympus-theme .yz-profile-navmenu > li,
  .olympus-theme .yz-profile-navmenu > .yz-navbar-item {
	border-right: none !important;
  }

  .olympus-theme .yz-profile-navmenu > li#home-groups-li,
  .olympus-theme .yz-profile-navmenu > li,
  .olympus-theme .yz-profile-navmenu > .yz-navbar-item {
	&:first-child {
	  border-left: 4px solid transparent;
	}
  }

  .olympus-theme .yz-profile-navmenu > li,
  .olympus-theme .yz-profile-navmenu > .yz-navbar-item {
	border-bottom: none;
  }

  .olympus-theme .youzer .activity-meta .yz-post-reactors-list,
  .olympus-theme.rtl .youzer .activity-meta .yz-post-reactors-list {
	position: relative;
	left: initial;
	top: initial;
	right: initial;
	display: block;
	float: none;
	overflow: hidden;
	transform: initial;
	padding: 10px 0;
  }

  .youzer .activity-meta .yz-post-reactors-list a {
	float: none;
  }

  .rtl .youzer .activity-meta .yz-post-reactors-list,
  .youzer .activity-meta .yz-post-reactors-list {
	overflow: visible;
  }

  .olympus-theme.not-logged-in .youzer .activity-meta a.yz-share-button {
	margin-left: 0;
  }
}