button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}

.pending-btn {
	position: relative;
	opacity: .3;
	pointer-events: none;

	&:after {
		position: absolute;
		content:'';
		border: 6px solid #fff; /* Light grey */
		border-top: 6px solid $primary-color; /* Blue */
		border-radius: 50%;
		width: 26px;
		height: 26px;
		top: calc(50% - 13px);
		left: calc(50% - 13px);
		animation: spin 2s linear infinite;
	}

}

.social-share-button {
	margin-top: 15px;
}
