.ukai_iconPicker .ukai_icon_selector {
  border: 1px solid #e6ecf5; }

.ukai_iconPicker .ukai_icon_selector > i {
  color: #9a9fbf;
  color: var(--icon-color); }

.ukai-icons-list i {
  border: 1px solid #e6ecf5; }
