$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__company-primary: #000; // Primaire kleur van website
$color__company-secondary: #000; // Secondaire kleur van website
$color__company-tertiary: #000; // Tertiary kleur van website

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;




$primary-color: #ff5e3a !default;

$primary-color-darken: #ff3407 !default;
$secondary-color-darken: #0593ff !default;

$secondary-color: #3f4257;
$secondary-color-lighten: #848b92;
$form-color: #515365 !default;
$placeholder-form-color: #888da8;
$white-color: #fff !default;
$heading-color: #515365;
$icon-color: #9a9fbf;
$border-color: #e6ecf5;

