.contest-boosters {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__list-item {
    margin-right: 15px;
    position: relative;

    &:last-child {
      margin: 0;
    }
  }

  &__count {
    position: absolute;
    right: -7px;
    top: -7px;
    background: $secondary-color;
    color:#fff;
    font-weight: bold;
    font-size: 10px;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .04);
  }

}