.contest-page-nav {

  &__wrapper {
    background-color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      padding-right: 40px;
      display: flex;
      flex-direction: row;
    }

    .contest-boosters {
      order: 1;
      padding: 20px;
      justify-content: flex-end;
    }

    ul.nav-tabs {
      order: 2;

      background-color: white;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, .04);
      border-radius: 5px;
      border: none;
      flex-direction: row;
      border-top: 1px solid #dcdcdc;

      li.nav-item {

        width: 25%;

        a.nav-link {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-left: none;
          border-top: none;
          border-radius: 0;
          border-right: 1px solid #dcdcdc;
          border-bottom: 4px solid transparent;
          color: $secondary-color-lighten;
          font-weight: bold;

          .icon {
            margin-bottom: 3px;
          }

          &.active {
            cursor: default;
            border-bottom: 4px solid $primary-color;
            color: $secondary-color;

            svg {
              path {
                fill: $secondary-color;
              }
            }
          }
        }

        &:hover {
          a.nav-link:not(.active) {
            border-bottom: 4px solid #dcdcdc;
          }
        }

        &:last-child {
          a.nav-link {
            border-right: 0;
          }
        }
      }
    }

    @media (min-width: 768px) {

      .contest-boosters {
        order:2;
        padding: 0;
      }

      ul.nav-tabs {
        display: flex;
        flex-direction: row;
        order: 1;
        border-top: 0;

        li.nav-item {
          a.nav-link {
            width: 72px;
            height: 72px;

            &.active {

            }
          }

          &:last-child {
            a.nav-link {
              border-right: 1px solid #dcdcdc;
            }
          }
        }
      }
    }

    @media (min-width: 1200px) {
      ul.nav-tabs {
        li.nav-item {
          a.nav-link {
            width: 125px;
            height: 125px;

            &.active {

            }
          }
        }
      }
    }
  }

  .tab-content {
    margin-top: 50px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .04);

    .tab-pane {
      padding: 20px 0 0;
      background-color: white;

      @media (min-width: 768px) {
        padding: 50px 0 0;
      }

      ul {
        padding: 0;
        margin: 0;
      }
    }
  }
}