body.single-contests, body.tax-contest_status {


  section#stunning-header {
    min-height: 400px;
  }
}

.archive {
  .contest-header, .contest-status-header {
    padding: 0;
  }
}

.contest-header, .contest-status-header {
  background-color: white;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 0;

  @media (min-width: 768px) {
    flex-direction: row;
    padding: 10px 0;
  }

  .contest-actions {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;

    &__vote {
      margin-right: 15px;
    }

    &__submit-photos {

    }
  }
}

.contest-status-lower-header {
  display: flex;
  background-color: white;
  padding: 30px 30px;
  margin: 30px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid $border-color;

  &__back{

  }

  &__boosters{
    display: flex;
    align-items: center;
  }

  &__title {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    pointer-events: none;
  }

  &__freespace {
    width: 1px;
    display: block;
  }
}

.contest-meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: $color__text-main;
  position: relative;
  transition: color .25s ease-in-out;
  padding: 25px 0;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  > div {
    &:first-child {
      padding-left: 0;
    }
  }

  &__prizes {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 10px;

    &:after {
      content:'';
      position: absolute;
      right: 0px;
      height: 40px;
      width: 1px;
      background-color: #dcdcdc;
      top:0;
    }
  }

  &__time-left {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;

    &:after {
      content:'';
      position: absolute;
      right: 0px;
      height: 40px;
      width: 1px;
      background-color: #dcdcdc;
      top:0;
    }

    strong {
      display: flex;
      flex-direction: row;
      > div {
        display: flex;
        flex-direction: row;
        max-height: 7px;

        &:last-child {
          margin-right: 0;
        }
      }


      .smalltext {
        padding-left: 1px;
        line-height: 1rem;
        font-size: 10px;
        padding-right: 4px;
      }
    }
  }

  &__entries {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0 0 0;

    @media (min-width: 768px) {
      margin: 0 0 0 30px;
    }
  }
}

.details {
  padding: 20px !important;

  @media (min-width: 768px) {
    padding: 40px !important;
  }

  &__author {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, .06);

      @media only screen and (min-width: 720px) {
        width: 72px;
        height: 72px;
      }

      @media only screen and (min-width: 1024px) {
        width: 128px;
        height: 128px;
      }
    }

      &--info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;

        span {

        }

        strong {
          font-size: 1rem;
          color: $secondary-color;

          @media (min-width: 768px) {
            font-size: 1.5rem;
          }
        }
      }
  }

  &__content {
    &--container {
      max-width: 720px;
    }
  }
}

.prizes {
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,.07);
  padding: 20px;

  @media (min-width: 768px) {
    padding: 50px 40px;
  }


  &:nth-child(1) {
    padding-top: 0;
  }

  .row {
    display: flex;
    align-items: center;
  }

  &__image {

  }

  &__content {

    &--container {
      max-width: 720px;
    }
  }

  &:nth-child(odd) {
    .prizes__image {
      order:2;
    }

    .prizes__content {

      order: 1;
      margin-bottom: 20px;
      @media (min-width: 768px) {
        margin-bottom: 0px;
      }
    }
  }

  &:nth-child(even) {
    .prizes__content {
      margin-top: 20px;
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
}

.rules {
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,.07);
  padding: 20px;

  @media (min-width: 768px) {
    padding: 50px 40px;
  }

  &:nth-child(1) {
    padding-top: 0;
  }

  .row {
    display: flex;
    align-items: center;
  }

   &__image {

   }

   &__content {
      &--container {
        max-width: 720px;
      }
   }
 }

.contest-status-nav {

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0
  ;
    margin:0vw;
  }

  &__list-item {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-left: none;
    border-top: none;
    border-radius: 0;
    border-right: 1px solid #dcdcdc;
    border-bottom: 4px solid transparent;
    color: $secondary-color-lighten;
    font-weight: bold;
    padding: 25px 50px;

    a {
      color: #888da8;
    }

    &:first-child {
      border-left: 1px solid #dcdcdc;
    }

    &:last-child {

    }

    &.active-term {
      cursor: default;
      border-bottom: 4px solid $primary-color;
      a {
        color: $secondary-color;
      }
    }
  }
}