.single-contests {
  .acf-media-modal {


    .media-frame-content {
      .media-toolbar {
        .search-form, .media-toolbar-secondary{
          display: none;
        }
      }
    }

    .media-sidebar, .acf-expand-details {
      display: none;
    }

    .search-form {
      background-color: transparent;
      box-shadow: none;

      button {
        @extend .primary-button;
      }
    }

    .browser {
      @extend .secondary-button;
      color: white !important;
    }

    .wp-core-ui .attachment.details {
      box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px $primary-color;
      padding: 8px !important;
    }

    .wp-core-ui .attachment.details .check, .wp-core-ui .attachment.selected .check:focus, .wp-core-ui .media-frame.mode-grid .attachment.selected .check {
      background-color: $primary-color;
      box-shadow: 0 0 0 1px #fff, 0 0 0 2px $primary-color;
    }
  }
}