.badges-content {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  img {
    margin-right: 15px;
  }

}

.my-contests-content {
  display: flex;
  align-items: flex-start;
  flex-direction: row;

  img {
    margin-right: 15px;
  }
}

h4.my-contests-header {
  margin: 10px 0;
}