.results-list {

  &__contest-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $border-color;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }

  &__contest-title {

  }

  &__contest-action {

  }


  &__item {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.07);
    overflow: auto;

    margin: 20px 0;
    padding: 20px 0;

    @media only screen and (min-width: 1024px) {
      padding: 30px 30px;
    }

    &:first-child {
      padding-top: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    &:last-child {
      margin-top: 0;
      border-bottom: 0;
      @media only screen and (min-width: 768px) {
        margin-top: 20px;
      }

    }

    .row {
      min-width: 480px;
      width: 100%;
      justify-content: space-between;

    }
  }

  &__user {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__photo {
      margin-bottom: 10px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, .06);

        @media only screen and (min-width: 720px) {
          width: 72px;
          height: 72px;
        }

        @media only screen and (min-width: 1024px) {
          width: 128px;
          height: 128px;
        }
      }

    }

    &__position {
      font-size: 1rem;
      color: $secondary-color;

      @media only screen and (min-width: 1024px) {
        font-size: 1.5rem;
      }

      span {
        &:nth-child(2) {
          font-weight: bold;
        }
      }
    }

    &__vote-count {

      span {

      }
      strong {
        color: $secondary-color;
      }
    }


    &__charge {
      margin-top: 7px;
      .btn {
        font-size: 1em;
        padding: 3px 10px;

        .icon {
          display: none;
          @media only screen and (min-width: 1200px) {
            margin-right: 5px;
            display: inline;
          }

          svg {
            width: 16px;
          }
        }
      }
    }

    &__total-exposure {
      position: relative;
      margin: 10px 0;
      align-self: flex-start;
      height: 14px;
      width: 100%;
      padding: 0 10px;

      .exposure-bar {
        width: 100%;
        @media only screen and (min-width: 1024px) {
          width: calc(100% - 60px);
        }
        background-color: #fff;
        box-shadow: 3px 6px 6px rgba(0, 0, 0, .06);
        border-radius: 3px;
        border: 1px solid rgba(0,0,0,0.06);

        &__level {
          border-radius: 3px;
          height: 12px;
          display: block;
          background-color: $secondary-color;
        }

        span {
          display: none;

          @media only screen and (min-width: 1024px) {
            display: block;
            color: $secondary-color-lighten;
            text-transform: uppercase;
            font-weight: bold;
            position: absolute;
            top: 0px;
            right: 0;
            font-size: 10px;
          }
        }
      }
    }

  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: $color__text-main;
    padding-top: 7px;
    transition: color .25s ease-in-out;
    min-height: 50px;

    > div {
      &:first-child {
        padding-left: 0;
      }
    }

    &--time {
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;

      strong {
        display: flex;
        flex-direction: row;
        line-height: 20px;

        > div {
          display: flex;
          flex-direction: row;
          max-height: 7px;

          &:last-child {
            margin-right: 0;
          }
        }

        .smalltext {
          padding-left: 1px;
          line-height: 24px;
          font-size: 10px;
          padding-right: 4px;
        }
      }
    }

  }

  &__images {
    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      width: 25%;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      &__results {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        @media only screen and (min-width: 1200px) {
          flex-direction: row;
          align-items: center;
        }

        &--left {
          display: flex;
          flex-direction: column;
        }

        &--right {

        }
      }

      &__photo-exposure {
        margin: 10px 0;
        align-self: flex-start;
        height: 14px;
        width: 100%;

        .exposure-bar {
          position: relative;
          width: 100%;
          @media only screen and (min-width: 1200px) {
            width: calc(100% - 60px);
          }

          background-color: #fff;
          box-shadow: 3px 6px 6px rgba(0, 0, 0, .06);
          border-radius: 3px;
          border: 1px solid rgba(0,0,0,0.06);

          &__level {
            border-radius: 3px;
            height: 12px;
            display: block;
            background-color: $secondary-color;
          }

          span {
            display: none;

            @media only screen and (min-width: 1200px) {
              display: block;
              color: $secondary-color-lighten;
              text-transform: uppercase;
              font-weight: bold;
              position: absolute;
              top: -11px;
              right: -60px;
              font-size: 10px;
            }

          }
        }
      }

      &__image {
        width: 100%;
        padding-bottom: 67%;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 6px 6px rgba(0, 0, 0, .06);
      }

      span {
        margin-top: 10px;
      }

      strong {
        font-weight: bold;
        color: $secondary-color;
      }

      &__boost {
        margin-top: 10px;
        .btn {
          font-size: 1em;
          padding: 3px 10px;

          span {
            margin-top: 0;
          }

          .icon {
            position: relative;
            top: -2px;
            margin-right: 5px;

            display: none;
            @media only screen and (min-width: 1200px) {
              display: inline;
            }

            svg {
              width: 16px;
            }
          }
        }
      }
    }
  }
}

#shareModal {
  .modal-dialog {
    max-width: 640px!important;
    min-height: 320px;
  }

  #copyTarget {
    display: none;
  }

  .modal-body {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .socail-buttons {
    margin-bottom: 10px;
  }

  .social-button {
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    opacity: 1;
    transition: opacity .25s ease-in-out;

    &.whatsapp-btn {
      background-color: #25D366;
    }

    &.fb-btn {
      background-color: #4267B2;
    }

    &.twitter-btn {
      background-color: #1DA1F2;
    }

    &.clipboard-btn {
      background-color: $secondary-color;
      transition: opacity .5s ease-in-out;
      line-height: 16px;
      border: none;

      &.copied {
        opacity: .3;
      }
    }

    span {
      margin-right: 3px;
    }

    &:hover {
      opacity: .7;
    }
  }
}