.single-contest-card {
  margin-bottom: 20px;
  width: 100%;

  &__inner {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    border-radius: 2px;
    box-shadow: 0px 6px 6px rgba(0,0,0,.04);
  }

  &__title {
    h2 {
      font-size: 1.75em;
      transition: color .25s ease-in-out;
    }
  }

  &__image {
    background-size: cover;
    background-position: center;
    height: 175px;
  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: $color__text-main;
    padding-top: 7px;
    transition: color .25s ease-in-out;
    min-height: 50px;

    > div {
      &:first-child {
        padding-left: 0;
      }
    }

    &--prizes {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-right: 10px;

      &:after {
        content:'';
        position: absolute;
        right: 0px;
        height: 40px;
        width: 1px;
        background-color: #dcdcdc;
        top:0;
      }
    }

    &--time {
     position: relative;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      flex-direction: column;

      &:after {
        content:'';
        position: absolute;
        right: 0px;
        height: calc(100% + 10px);
        width: 1px;
        background-color: #dcdcdc;
        top:0;
      }

      strong {
        display: flex;
        flex-direction: row;
        line-height: 20px;

        > div {
          display: flex;
          flex-direction: row;
          max-height: 7px;

          &:last-child {
            margin-right: 0;
          }
        }

        .smalltext {
          padding-left: 1px;
          line-height: 24px;
          font-size: 10px;
          padding-right: 4px;
        }
      }
    }

    &--entries {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
    }
  }

  &:hover {
    .single-contest-card__title, .single-contest-card__meta {
      color: $primary-color;
      h2 {
        color: $primary-color;
      }
    }
  }
}


.yz-left-sidebar-layout {
  display: block;
  min-width: 100%;
}