#register_modal, #trade_view_modal, #trade_modal, #charge_modal, #boost_modal {
  .modal-dialog {
    max-width: 1200px;
  }

  .modal-body {
    &.not-enough-boost {
      .acf-field[data-name*='photo_priority'] {
        display: none !important;
      }
    }
  }

  .modal-footer {
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin: 0 7px 0 0;
      }
    }
  }

  .acf-fields {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .badge {

    color: #8c8c8c;
    font-size: 10px;
    margin-left: 5px;
    font-weight: 400;
    line-height: 12px;
    border-radius: 2px;
    padding: 2px 7px 3px;
    display: inline-block;
    background-color: #f0f0f0;

    &.badge-success {
      color: #fff;
      background-color: $primary-color;
      vertical-align: middle;
    }
  }

  .acf-image-uploader p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .acf-field-group {
    border: none;
    width: 33.33%;
  }

  .acf-fields > .acf-field {
    width: 100%;
  }

  .acf-fields.-top.-border {
    border: 2px dashed #dcdcdc;
    border-radius: 3px;

    .button {
      @extend .secondary-button;
      margin-top: 10px;
      color: white;
    }
  }

  .acf-image-uploader {
    .-cancel {

    }

    .-pencil {
      display: none !important;
    }
  }

  .acf-field-group .acf-label, #message, .acf-form-submit, [data-name="related_contest"], [data-name="photo_priority_1"], [data-name="vote_count_1"], [data-name="vote_count_2"], [data-name="vote_count_3"], [data-name="vote_count_4"] {
    display: none !important;
  }

  .acf-field-group[data-type="group"] .acf-fields {
    display: flex;
    flex-direction: column;
  }

  .acf-field[data-name*="photo_priority"] {
    display: block !important;
    border: none;
    padding-top: 0;
    position: relative;

    .acf-input {

      .pending-btn {
        &:after{
          top: calc(50% - 20px);
        }
      }

      .acf-input-wrap {

        position: relative;
        padding: 3px 0;

        &:after {
          content: '';
          background-image: url("/wp-content/themes/olympus-child/img/icons/startup.svg");
          background-size: cover;
          width: 24px;
          height: 24px;
          left: 15px;
          top: 5px;
          position: absolute;
        }

        &:before {
          color: #fff;
          border-radius: 4px;
          content: 'Boost';
          font-weight: bold;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: background-color .25s ease-in-out;
          cursor: pointer;
          background-color: $placeholder-form-color;
        }

        input {
          visibility: hidden;
        }


        &:hover {
          &:before {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}
