.user-score {
  position: relative;
  display: block;
  float: right;
  background-color: white;
  padding: 15px 30px;
  height: 60px;
  margin-top: -60px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &__title {
    color: $icon-color;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: right;
  }

  &__count {
    font-size: 32px;
    line-height: 40px;
    color: $primary-color;
    font-weight: bold;
  }
}