#main {
  &.loading-items {
    background: white;
    min-height: 640px;

    .masonry-wrapper {
      visibility: hidden;
      opacity: 0;
      transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
    }
  }

  .masonry-wrapper {
    margin-right: auto;
    margin-left: auto;

    .masonry {
      display: grid;
      grid-template-columns: repeat(1, minmax(100px, 1fr));
      grid-gap: 10px;
      grid-auto-rows: 0;

      @media only screen and (max-width: 1023px) and (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
      }

      @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
      }

      .masonry-item {
        position: relative;

        &__trigger {
          position: absolute;
          right: 0;
          top: 0;
          width: 32px;
          height: 32px;
          background-color: $secondary-color;
          z-index: 6;

          &:after {
            content: '';
            position: absolute;
            z-index: 2;
            top: calc(50% - 8px);
            left: calc(50% - 8px);
            background: url('/wp-content/themes/olympus-child/img/icons/zoom.svg');
            background-size: 100%;
            background-position: center;
            width: 16px;
            height: 16px;
            transition: all .25s ease-in-out;

          }

          &:hover {
            width: 100%;
            height: 100%;

            &:after {
              width: 32px;
              height: 32px;
              top: calc(50% - 16px);
              left: calc(50% - 16px);
            }
          }
        }
      }

      .masonry-item-inner {
        cursor: pointer;
        transition: opacity .25s ease-in-out;
        position: relative;

        &:after {
          content:'';
          left: 0;
          top: 0;
          position: absolute;
          border-bottom: 5px solid $primary-color;
          width: 0;
          height: 100%;
          background-color: rgba(0,0,0,0);
          transition: width .25s ease-in-out, background-color .25s ease-in-out;
        }

        &:hover {
          &:after {
            width: 100%;
            background-color: rgba(0,0,0,.3);
          }
        }

        &.selected {
          &:after {
            width: 100%;
            background-color: rgba(0,0,0,.7);
          }

          .vote-count {
            font-weight: bold;
            font-size: 1.5em;
            display: flex;
            color: $primary-color;
            justify-content: center;
            align-items: center;
            top: 10px;
            right: 10px;
            width: 72px;
            height: 72px;
            background: url('/wp-content/themes/olympus-child/img/icons/voting_count.png');
            background-size: cover;
            opacity: 1;
            visibility: visible;
            z-index: 3;
          }
        }

        .vote-count {
          position: absolute;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}

#winners-page {
  .masonry-wrapper {
    .masonry {
      .masonry-item {
        &:hover {
          cursor: default;
          
          &:after {
            width: 0;
          }
        }
      }
    }
  }
}

.hidden-form {
  display: none !important;
}

.submit-votes-button {
  &--lower {
    margin-top: 40px;
  }

}







