.transition-none 	{transition-property: none;}
.transition-all 	{transition-property: all;}
.transition 	{transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;}
.transition-colors 	{transition-property: background-color, border-color, color, fill, stroke;}
.transition-opacity 	{transition-property: opacity;}
.transition-shadow 	{transition-property: box-shadow;}
.transition-transform 	{transition-property: transform;}

.duration-75 	{transition-duration: 75ms;}
.duration-100 	{transition-duration: 100ms;}
.duration-150 	{transition-duration: 150ms;}
.duration-200 	{transition-duration: 200ms;}
.duration-300 	{transition-duration: 300ms;}
.duration-500 	{transition-duration: 500ms;}
.duration-700 	{transition-duration: 700ms;}
.duration-1000 	{transition-duration: 1000ms;}

.ease-linear {transition-timing-function: linear;}
.ease-in 	{transition-timing-function: cubic-bezier(0.4, 0, 1, 1);}
.ease-out 	{transition-timing-function: cubic-bezier(0, 0, 0.2, 1);}
.ease-in-out {transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.delay-75 	{transition-delay: 75ms;}
.delay-100 	{transition-delay: 100ms;}
.delay-150 	{transition-delay: 150ms;}
.delay-200 	{transition-delay: 200ms;}
.delay-300 	{transition-delay: 300ms;}
.delay-500 	{transition-delay: 500ms;}
.delay-700 	{transition-delay: 700ms;}
.delay-1000 {transition-delay: 1000ms;}

.scale-0 	{
  transform: scaleY(0);
  transform: scaleX(0);
}
.scale-50 	{transform: scaleY(.5);
  transform: scaleX(.5);}
.scale-75 	{transform: scaleY(.75);
  transform: scaleX(.75);}
.scale-90 	{transform: scaleY(.9);
  transform: scaleX(.9);}
.scale-95 	{transform: scaleY(.95);
  transform: scaleX(.95);}
.scale-100 	{transform: scaleY(1);
  transform: scaleX(1);}
.scale-105 	{transform: scaleY(1.05);
  transform: scaleX(1.05);}
.scale-110 	{transform: scaleY(1.1);
  transform: scaleX(1.1);}
.scale-125 	{transform: scaleY(1.25);
  transform: scaleX(1.25);}
.scale-150 	{transform: scaleY(1.5);
  transform: scaleX(1.5);}
.scale-x-0 	{transform: scaleY(0);}
.scale-x-50 	{transform: scaleY(.5);}
.scale-x-75 	{transform: scaleY(.75);}
.scale-x-90 	{transform: scaleY(.9);}
.scale-x-95 	{transform: scaleY(.95);}
.scale-x-100 	{transform: scaleY(1);}
.scale-x-105 	{transform: scaleY(1.05);}
.scale-x-110 	{transform: scaleY(1.1);}
.scale-x-125 	{transform: scaleY(1.25);}
.scale-x-150 	{transform: scaleY(1.5);}
.scale-y-0 	{transform: scaleX(0);}
.scale-y-50 	{transform: scaleX(.5);}
.scale-y-75 	{transform: scaleX(.75);}
.scale-y-90 	{transform: scaleX(.9);}
.scale-y-95 	{transform: scaleX(.95);}
.scale-y-100 	{transform: scaleX(1);}
.scale-y-105 	{transform: scaleX(1.05);}
.scale-y-110 	{transform: scaleX(1.1);}
.scale-y-125 	{transform: scaleX(1.25);}
.scale-y-150 	{transform: scaleX(1.5);}


.rotate-0 	{transform: rotate(0);}
.rotate-45 	{transform: rotate(45deg);}
.rotate-90 	{transform: rotate(90deg);}
.rotate-180 	{transform: rotate(180deg);}
.-rotate-180 	{transform: rotate(-180deg);}
.-rotate-90 	{transform: rotate(-90deg);}
.-rotate-45 	{transform: rotate(-45deg);}

.opacity-100 	{opacity: 1;}
.opacity-75 	{opacity: .75;}
.opacity-50 	{opacity: .5;}
.opacity-25 	{opacity: .25;}
.opacity-0 	{opacity: 0;}

.translate-x-0 	{transform: translateX(0);}
.translate-x-1 	{transform: translateX(0.25rem);}
.translate-x-2 	{transform: translateX(0.5rem);}
.translate-x-3 	{transform: translateX(0.75rem);}
.translate-x-4 	{transform: translateX(1rem);}
.translate-x-5 	{transform: translateX(1.25rem);}
.translate-x-6 	{transform: translateX(1.5rem);}
.translate-x-8 	{transform: translateX(2rem);}
.translate-x-10 	{transform: translateX(2.5rem);}
.translate-x-12 	{transform: translateX(3rem);}
.translate-x-16 	{transform: translateX(4rem);}
.translate-x-20 	{transform: translateX(5rem);}
.translate-x-24 	{transform: translateX(6rem);}
.translate-x-32 	{transform: translateX(8rem);}
.translate-x-40 	{transform: translateX(10rem);}
.translate-x-48 	{transform: translateX(12rem);}
.translate-x-56 	{transform: translateX(14rem);}
.translate-x-64 	{transform: translateX(16rem);}
.translate-x-px 	{transform: translateX(1px);}
.-translate-x-1 	{transform: translateX(-0.25rem);}
.-translate-x-2 	{transform: translateX(-0.5rem);}
.-translate-x-3 	{transform: translateX(-0.75rem);}
.-translate-x-4 	{transform: translateX(-1rem)}
.-translate-x-5 	{transform: translateX(-1.25rem)}
.-translate-x-6 	{transform: translateX(-1.5rem)}
.-translate-x-8 	{transform: translateX(-2rem)}
.-translate-x-10 	{transform: translateX(-2.5rem)}
.-translate-x-12 	{transform: translateX(-3rem)}
.-translate-x-16 	{transform: translateX(-4rem)}
.-translate-x-20 	{transform: translateX(-5rem)}
.-translate-x-24 	{transform: translateX(-6rem)}
.-translate-x-32 	{transform: translateX(-8rem)}
.-translate-x-40 	{transform: translateX(-10rem)}
.-translate-x-48 	{transform: translateX(-12rem)}
.-translate-x-56 	{transform: translateX(-14rem)}
.-translate-x-64 	{transform: translateX(-16rem)}
.-translate-x-px 	{transform: translateX(-1px)}
.-translate-x-full 	{transform: translateX(-100%)}
.translate-y-0 	{transform: translateY(0);}
.translate-y-1 	{transform: translateY(0.25rem)}
.translate-y-2 	{transform: translateY(0.5rem)}
.translate-y-3 	{transform: translateY(0.75rem)}
.translate-y-4 	{transform: translateY(1rem)}
.translate-y-5 	{transform: translateY(1.25rem)}
.translate-y-6 	{transform: translateY(1.5rem)}
.translate-y-8 	{transform: translateY(2rem)}
.translate-y-10 	{transform: translateY(2.5rem)}
.translate-y-12 	{transform: translateY(3rem)}
.translate-y-16 	{transform: translateY(4rem)}
.translate-y-20 	{transform: translateY(5rem)}
.translate-y-24 	{transform: translateY(6rem)}
.translate-y-32 	{transform: translateY(8rem)}
.translate-y-40 	{transform: translateY(10rem)}
.translate-y-48 	{transform: translateY(12rem)}
.translate-y-56 	{transform: translateY(14rem)}
.translate-y-64 	{transform: translateY(16rem)}
.translate-y-px 	{transform: translateY(1px)}
.-translate-y-1 	{transform: translateY(-0.25rem)}
.-translate-y-2 	{transform: translateY(-0.5rem)}
.-translate-y-3 	{transform: translateY(-0.75rem)}
.-translate-y-4 	{transform: translateY(-1rem)}
.-translate-y-5 	{transform: translateY(-1.25rem)}
.-translate-y-6 	{transform: translateY(-1.5rem)}
.-translate-y-8 	{transform: translateY(-2rem)}
.-translate-y-10 	{transform: translateY(-2.5rem)}
.-translate-y-12 	{transform: translateY(-3rem)}
.-translate-y-16 	{transform: translateY(-4rem)}
.-translate-y-20 	{transform: translateY(-5rem)}
.-translate-y-24 	{transform: translateY(-6rem)}
.-translate-y-32 	{transform: translateY(-8rem)}
.-translate-y-40 	{transform: translateY(-10rem)}
.-translate-y-48 	{transform: translateY(-12rem)}
.-translate-y-56 	{transform: translateY(-14rem)}
.-translate-y-64 	{transform: translateY(-16rem)}
.-translate-y-px 	{transform: translateY(-1px)}
.-translate-y-full 	{transform: translateY(-100%)}